/********** CONTENT TAB ************/
div.mail_body_tabmenu {height:26px; z-index:0; background:url(../image/icon/menu_tab_bg_right.gif) no-repeat right bottom}

div.mail_body_tabmenu div.mail_body_tab{float: left;margin-left:5px;}
div.mail_body_navi {float: right;}
div.mail_body_navi {display:inline-block; }
div.mail_body_navi a {display:inline-block; height:16px; line-height:16px; text-decoration:none;}
div.mail_body_navi a.plist {color:#666666;margin-top: 2px;}
div.mail_body_navi a.plist:hover {text-decoration: underline;}
div.mail_body_navi a.pre {color:#666666;margin-top: 2px;}
div.mail_body_navi a.pre:hover span{text-decoration: underline;}
div.mail_body_navi a.next {color:#666666;margin-top: 2px;}
div.mail_body_navi a.next:hover span{text-decoration: underline;}
.navi_img {margin: 0px 2px 0px 2px;}
.navi_timg {margin: 5px 0px 0px 0px;}

.navi_content {float: left;margin-left:1px;margin-right:1px;height:17px;}
.navi_contentText {float: left;margin-left:1px;margin-right:1px;}
.navi_contentImg {float: left;padding-top:6px;}


div.mail_body_tab a {
	position:relative; display:inline-block;
	padding-left:8px;
	height:25px; line-height:25px;
	text-decoration:none;
	margin-right:1px;
}
div.mail_body_tab a span {display:inline-block; height:100%; line-height:19px; padding: 2px 8px 0px 0px;}
div.mail_body_tab a.on {height:25px;background:#F9FAFB;z-index:1;border-top:#ADADAD solid 1px;border-left:#ADADAD solid 1px;border-right:#ADADAD solid 1px;}
div.mail_body_tab a.off {z-index:0;border-top:#C3CCD5 solid 1px;border-left:#C3CCD5 solid 1px;border-right:#C3CCD5 solid 1px;}
div.mail_body_tab a.on span{color:#000000; cursor:pointer;}
div.mail_body_tab a.off span{color:#666666; cursor:pointer;}

/********** CONTENT TAB2************/
div.tabMenu {
	height:25px;
	border-bottom: #C3CCD5 solid 1px;
	}
div.tabMenu div.tabMenu_btn{
	padding-left:5px;
	padding-right:5px;	
	float:left;
	}
div.tabMenu a{
	display:inline-block;
	height:25px; line-height:25px;
	padding-left:10px;	
	}
div.tabMenu span{
	display:block;
	padding-right:10px;
	}
div.tabMenu a:hover {text-decoration:none}
div.tabMenu a.on {height:25px;background:#F9FAFB;z-index:1;border-top:#ADADAD solid 1px;border-left:#ADADAD solid 1px;border-right:#ADADAD solid 1px;}
div.tabMenu a.off {z-index:0;border-top:#C3CCD5 solid 1px;border-left:#C3CCD5 solid 1px;border-right:#C3CCD5 solid 1px;}
div.tabMenu a.on span {color:#000000; cursor:pointer;}
div.tabMenu a.off span {color:#666666; cursor:pointer;}



/********** CONTENT TAB ************/
div.mail_body_menu{height: 62px; background: url(../image/icon/menu_bg_right.gif) no-repeat left top;}
div.menu_main_unit {
	height: 62px;
	padding-left: 5px;
	border-right:1px solid #acacac;
	padding-right:-5px;
}

div.menu_group {float:left; padding-right: 5px; margin:4px 4px 0 0; height:55px; background:url(../image/icon/menu_g_right.gif) no-repeat right top}
div.menu_group span.g_body {display:inline-block; padding:0 0 0 5px; height:100%; background:url(../image/icon/menu_g_left.gif) no-repeat left top}
div.menu_group span.g_body a {cursor:pointer; white-space: normal;}

div.menu_side_group {float:right; padding:0px 5px 0px 0px; margin:4px 4px 0 4px; height:55px; background:url(../image/icon/menu_g_right.gif) no-repeat right top;text-align: center;}
div.menu_side_group span.g_body {display:inline-block; padding: 0 0 0 5px; height:100%; background:url(../image/icon/menu_g_left.gif) no-repeat left top}

.menu_basic_unit {float: left;}
.menu_basic_unit .menu_icon_img {}
.menu_text {font-size: 11px;padding-top:5px;}
.menu_stacked_unit {float: left;}
.menu_stacked_unit .stacked_sub_unit {margin: 5px 0px 5px 0px;}
.stacked_sub_text{margin: 5px 0px 0px 0px;*margin: 3px 0px 0px 0px;}
.menu_label {float:left;padding:0px 0px 3px 3px;*padding:0px 0px 0px 3px;}

div.menu_basic_unit{padding-top:3px}

a.micon {display:inline-block; height:49px; text-decoration:none;}
a.micon span.micon_body {display:inline-block; height:49px; text-align:center; padding: 0px 2px 0px 6px;}
a.micon span.micon_right {display:inline-block; height:49px; width:4px;vertical-align:top}
a.micon img.menu_icon_img {display:inline-block; padding-top:2px; }
a.micon span.micon_body span.menu_text {display:block;  color:#485D7A;}
a.micon:hover span.micon_body {background:url(../image/icon/menu_over_l.gif) no-repeat left;}
a.micon span.micon_body_over {background:url(../image/icon/menu_over_l.gif) no-repeat left;}
a.micon:hover span.micon_right {background:url(../image/icon/menu_over_r.gif) no-repeat right ;}
a.micon span.micon_right_over {background:url(../image/icon/menu_over_r.gif) no-repeat left;}

a.micoff {display:inline-block; height:49px; text-decoration:none;  color:#666666;}
a.micoff span.micon_body {display:inline-block; height:49px; text-align:center; padding: 0px 2px 0 6px;}
a.micoff span.micon_right {display:inline-block; height:49px; width:4px;vertical-align:top}
a.micoff img.menu_icon_img {display:inline-block; padding-top:2px; }
a.micoff span.micon_body span.menu_text {display:block;}

div.stacked_sub_unit {float: left; padding-top:3px}
div.stacked_sub_unit a.micon {display:inline-block; height:24px;}
div.stacked_sub_unit a.micon span.micon_body {display:inline-block; height:24px;}
div.stacked_sub_unit a.micon span.micon_right { display:inline-block; height:24px;}
div.stacked_sub_unit a.micon img.menu_icon_img {vertical-align:middle; margin-right:2px;}
div.stacked_sub_unit a.micon span.micon_body span.menu_text {display:inline-block; }
div.stacked_sub_unit a.micon:hover span.micon_body {background:url(../image/icon/menu_over_l_s.gif) no-repeat left;}
div.stacked_sub_unit a.micon:hover span.micon_right {background:url(../image/icon/menu_over_r_s.gif) no-repeat right ;}

div.stacked_sub_unit a.micoff {display:inline-block; height:24px; color:#666666;}
div.stacked_sub_unit a.micoff span.micon_body {display:inline-block; height:24px;}
div.stacked_sub_unit a.micoff span.micon_right { display:inline-block; height:24px;}
div.stacked_sub_unit a.micoff img.menu_icon_img {vertical-align:middle; margin-right:2px;}
div.stacked_sub_unit a.micoff span.micon_body span.menu_text {display:inline-block; }

.micon_body_sover {background:url(../image/icon/menu_over_l_s.gif) no-repeat left;}
.micon_right_sover {background:url(../image/icon/menu_over_r_s.gif) no-repeat right ;}
.micon_body_bover {background:url(../image/icon/menu_over_l.gif) no-repeat left;}
.micon_right_bover {background:url(../image/icon/menu_over_r.gif) no-repeat right ;}


div.menu_group span.g_body div p{margin:0; color:#485D7A;}
div.menu_group span.g_body div p input{margin:0; padding:0; *width:14px; *height:14px;}



div.sub_menu_wrapper {
	border:#164C82 solid 1px;			
	position:absolute;
	background:#FFFFFF;
	top:-5px;
	left:0px;	
	z-index:100;		
	font-weight: normal;
}
div.sub_item {text-align:center;}
div.sub_item a.sitem {display:block;height:23px;color:#000000; font-weight: normal; border:#FFFFFF solid 1px;border-top: none;border-bottom: none; cursor: pointer;}
div.sub_item a.sitem span.item_body{display:inline-block; line-height:23px;padding:0px; text-align:left;font-size: 11px;letter-spacing: -1px;}
.item_body_over {background:#EBEFF8;}
.sub_item_line {width:98%; height:1px; background:#ACACAC; margin:2px;}
div.sub_item_canvas {position:absolute;top:0;left:0;background:#FFFFFF; border:#164C82 solid 1px;;display: none;}
div.sub_m_canvas {position:absolute;top:0;left:0;display: none;}

div.flist_drow {width:150px; height:150px; background:#FFFFFF;overflow-X:hidden;overflow-Y:auto}
li.flist_item {	
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	cursor: pointer;
	font-size: 11px;letter-spacing: -1px;
	color:#000000;
	height:19px;
	line-height:19px;
	padding:2px;
}
li.flist_item_over {
	cursor: pointer;	
	background:#EBEFF8;
	}
.reloadItem{
	color:#495c79;
	font-size: 11px;	
	padding-left:13px;
	background:url(../image/icon/ic_reload.gif) no-repeat left;
		
}

.TM_subMenuBG {
	background: #FFFFFF;
}

.itemBSize {width: 32px;height:28px;}
.itemSSize {width: 18px;height:18px;}


/*============Common ITEM LIST=================*/
.item_comm_print {background:url(../image/icon/ic_ct_print.gif) no-repeat center;}
.item_comm_print_un {background:url(../image/icon/ic_ct_print_d.gif) no-repeat center;}

.item_layout1_on {width:25px; height:25px; background:url(../image/icon/layer_mode1_on.gif) no-repeat center;}
.item_layout1_off {width:25px; height:25px; background:url(../image/icon/layer_mode1_off.gif) no-repeat center;}

.item_layout2_on {width:25px; height:25px; background:url(../image/icon/layer_mode2_on.gif) no-repeat center;}
.item_layout2_off {width:25px; height:25px; background:url(../image/icon/layer_mode2_off.gif) no-repeat center;}

.item_layout3_on {width:25px; height:25px; background:url(../image/icon/layer_mode3_on.gif) no-repeat center;}
.item_layout3_off {width:25px; height:25px; background:url(../image/icon/layer_mode3_off.gif) no-repeat center;}
 

/*============MAIL ITEM LIST=================*/
.item_mail_del {background:url(../image/icon/ic_mt_del.gif) no-repeat center;}
.item_mail_del_un{background:url(../image/icon/ic_mt_del_d.gif) no-repeat center;}

.item_mail_delc {background:url(../image/icon/ic_mt_delc.gif) no-repeat center;}
.item_mail_delc_un {background:url(../image/icon/ic_mt_delc_d.gif) no-repeat center;}

.item_mail_reply {background:url(../image/icon/ic_mt_reply.gif) no-repeat center;}
.item_mail_reply_un {background:url(../image/icon/ic_mt_reply_d.gif) no-repeat center;}

.item_mail_areply {background:url(../image/icon/ic_mt_areply.gif) no-repeat center;}
.item_mail_areply_un {background:url(../image/icon/ic_mt_areply_d.gif) no-repeat center;}

.item_mail_forward {background:url(../image/icon/ic_mt_forward.gif) no-repeat center;}
.item_mail_forward_un {background:url(../image/icon/ic_mt_forward_d.gif) no-repeat center;}

.item_mail_move {background:url(../image/icon/ic_mt_move.gif) no-repeat center;}
.item_mail_move_un {background:url(../image/icon/ic_mt_move_d.gif) no-repeat center;}

.item_mail_copy {background:url(../image/icon/ic_mt_copy.gif) no-repeat center;}
.item_mail_copy_un {background:url(../image/icon/ic_mt_copy_d.gif) no-repeat center;}

.item_mail_spam {background:url(../image/icon/ic_mt_spam.gif) no-repeat center;}
.item_mail_spam_un {background:url(../image/icon/ic_mt_spam_d.gif) no-repeat center;}

.item_mail_normal {background:url(../image/icon/icon_menu_s1.gif) no-repeat center;}
.item_mail_normal_un {background:url(../image/icon/icon_menu_s1_d.gif) no-repeat center;}

.item_mail_srule {background:url(../image/icon/icon_menu_s2.gif) no-repeat center;}
.item_mail_srule_un {background:url(../image/icon/icon_menu_s2_d.gif) no-repeat center;}

.item_mail_quick {background:url(../image/icon/ic_mt_quick.gif) no-repeat center;}
.item_mail_quick_un {background:url(../image/icon/ic_mt_quick_d.gif) no-repeat center;}

.item_mail_rflag {background:url(../image/icon/ic_mt_read.gif) no-repeat center;}
.item_mail_rflag_un {background:url(../image/icon/ic_mt_read_d.gif) no-repeat center;}

.item_mail_tag {background:url(../image/icon/ic_mt_tag.gif) no-repeat center;}
.item_mail_tag_un {background:url(../image/icon/ic_mt_tag_d.gif) no-repeat center;}

.item_mail_rule {background:url(../image/icon/ic_mt_rule.gif) no-repeat center;}
.item_mail_rule_un {background:url(../image/icon/ic_mt_rule_d.gif) no-repeat center;}

.item_mail_save {background:url(../image/icon/ic_mt_save.gif) no-repeat center;}
.item_mail_save_un {background:url(../image/icon/ic_mt_save_d.gif) no-repeat center;}

.item_mail_upload {background:url(../image/icon/ic_mt_upload.gif) no-repeat center;}
.item_mail_upload_un {background:url(../image/icon/ic_mt_upload_d.gif) no-repeat center;}

.item_mail_local {background:url(../image/icon/ic_mt_local.gif) no-repeat center;}
.item_mail_local_un {background:url(../image/icon/ic_mt_local_d.gif) no-repeat center;}

.item_mail_rewrite {background:url(../image/icon/skin2_ic_resend.gif) no-repeat center;}
.item_mail_rewrite_un {background:url(../image/icon/skin2_ic_resend.gif) no-repeat center;}

.item_mail_send {background:url(../image/icon/ic_mt_send.gif) no-repeat center;}
.item_mail_send_un {background:url(../image/icon/ic_mt_send_d.gif) no-repeat center;}

.item_mail_preview {background:url(../image/icon/ic_mt_preview.gif) no-repeat center;}
.item_mail_preview_un {background:url(../image/icon/ic_mt_preview_d.gif) no-repeat center;}

.item_mail_recall {background:url(../image/icon/ic_mt_recall.gif) no-repeat center;}
.item_mail_recall_un {background:url(../image/icon/ic_mt_recall_d.gif) no-repeat center;}

.item_mail_addaddr {background:url(../image/icon/ic_mt_addaddr.gif) no-repeat center;}
.item_mail_addaddr_un {background:url(../image/icon/ic_mt_addaddr_d.gif) no-repeat center;}

.item_mail_autosave {background:url(../image/icon/ic_mt_autosave.gif) no-repeat center;}
.item_mail_autosave_un {background:url(../image/icon/ic_mt_autosave_d.gif) no-repeat center;}


/*============ADDR & ORG ITEM LIST=================*/

.item_addr_addmember {background:url(../image/icon/ic_at_addMember.gif) no-repeat center;}
.item_addr_addmember_un {background:url(../image/icon/ic_at_addMember_d.gif) no-repeat center;}

.item_addr_modmember {background:url(../image/icon/ic_at_modiMember.gif) no-repeat center;}
.item_addr_modmember_un {background:url(../image/icon/ic_at_modiMember_d.gif) no-repeat center;}

.item_addr_delmember {background:url(../image/icon/ic_at_delMember.gif) no-repeat center;}
.item_addr_delmember_un {background:url(../image/icon/ic_at_delMember_d.gif) no-repeat center;}

.item_addr_addgroup {background:url(../image/icon/ic_at_addGroup.gif) no-repeat center;}
.item_addr_addgroup_un {background:url(../image/icon/ic_at_addGroup_d.gif) no-repeat center;}

.item_addr_movemember {background:url(../image/icon/ic_at_moveMember.gif) no-repeat center;}
.item_addr_movemember_un {background:url(../image/icon/ic_at_moveMember_d.gif) no-repeat center;}

.item_addr_copymember {background:url(../image/icon/ic_at_copyMember.gif) no-repeat center;}
.item_addr_copymember_un {background:url(../image/icon/ic_at_copyMember_d.gif) no-repeat center;}

.item_addr_sendmail {background:url(../image/icon/ic_at_sendMail.gif) no-repeat center;}
.item_addr_sendmail_un {background:url(../image/icon/ic_at_sendMail_d.gif) no-repeat center;}

.item_addr_sendallmail {background:url(../image/icon/ic_at_sendAllMail.gif) no-repeat center;}
.item_addr_sendallmail_un {background:url(../image/icon/ic_at_sendAllMail_d.gif) no-repeat center;}

.item_addr_export {background:url(../image/icon/ic_at_export.gif) no-repeat center;}
.item_addr_export_un {background:url(../image/icon/ic_at_export_d.gif) no-repeat center;}

.item_addr_import {background:url(../image/icon/ic_at_import.gif) no-repeat center;}
.item_addr_import_un {background:url(../image/icon/ic_at_import_d.gif) no-repeat center;}

.item_addr_addaddr {background:url(../image/icon/ic_at_addAddr.gif) no-repeat center;}
.item_addr_addaddr_un {background:url(../image/icon/ic_at_addAddr_d.gif) no-repeat center;}

.item_addr_modaddr {background:url(../image/icon/ic_at_modiAddr.gif) no-repeat center;}
.item_addr_modaddr_un {background:url(../image/icon/ic_at_modiAddr_d.gif) no-repeat center;}

.item_addr_deladdr {background:url(../image/icon/ic_at_delAddr.gif) no-repeat center;}
.item_addr_deladdr_un {background:url(../image/icon/ic_at_delAddr_d.gif) no-repeat center;}

.item_addr_reader {background:url(../image/icon/ic_at_reader.gif) no-repeat center;}
.item_addr_reader_un {background:url(../image/icon/ic_at_reader_d.gif) no-repeat center;}

.item_addr_moderator {background:url(../image/icon/ic_at_moderator.gif) no-repeat center;}
.item_addr_moderator_un {background:url(../image/icon/ic_at_moderator_d.gif) no-repeat center;}


/*============BBS ITEM LIST=================*/

.item_bbs_write {background:url(../image/icon/icon_bbs_write.gif) no-repeat center;}
.item_bbs_write_un {background:url(../image/icon/icon_bbs_write_d.gif) no-repeat center;}

.item_bbs_del {background:url(../image/icon/icon_bbs_del.gif) no-repeat center;}
.item_bbs_del_un {background:url(../image/icon/icon_bbs_del_d.gif) no-repeat center;}

.item_bbs_reply {background:url(../image/icon/icon_bbs_reply.gif) no-repeat center;}
.item_bbs_reply_un {background:url(../image/icon/icon_bbs_reply_d.gif) no-repeat center;}

.item_bbs_modify {background:url(../image/icon/icon_bbs_modify.gif) no-repeat center;}
.item_bbs_modify_un {background:url(../image/icon/icon_bbs_modify_d.gif) no-repeat center;}

.item_bbs_move {background:url(../image/icon/icon_bbs_move.gif) no-repeat center;}
.item_bbs_move_un {background:url(../image/icon/icon_bbs_move_d.gif) no-repeat center;}

.item_bbs_popup {background:url(../image/icon/icon_bbs_popup.gif) no-repeat center;}
.item_bbs_popup_un {background:url(../image/icon/icon_bbs_popup_d.gif) no-repeat center;}

.item_bbs_save {background:url(../image/icon/icon_bbs_save.gif) no-repeat center;}
.item_bbs_save_un {background:url(../image/icon/icon_bbs_save_d.gif) no-repeat center;}

.item_bbs_update {background:url(../image/icon/icon_bbs_update.gif) no-repeat center;}
.item_bbs_update_un {background:url(../image/icon/icon_bbs_update_d.gif) no-repeat center;}

.item_bbs_cancel {background:url(../image/icon/icon_bbs_cancel.gif) no-repeat center;}
.item_bbs_cancel_un {background:url(../image/icon/icon_bbs_cancel_d.gif) no-repeat center;}


/*============WEBFOLDER ITEM LIST=================*/

.item_webfolder_add {background:url(../image/icon/icon_wfolder_add.gif) no-repeat center;}
.item_webfolder_add_un {background:url(../image/icon/icon_wfolder_add_d.gif) no-repeat center;}

.item_webfolder_rename {background:url(../image/icon/icon_wfolder_rename.gif) no-repeat center;}
.item_webfolder_rename_un {background:url(../image/icon/icon_wfolder_rename_d.gif) no-repeat center;}

.item_webfolder_del {background:url(../image/icon/icon_wfolder_del.gif) no-repeat center;}
.item_webfolder_del_un {background:url(../image/icon/icon_wfolder_del_d.gif) no-repeat center;}

.item_webfolder_copy {background:url(../image/icon/icon_wfolder_copy.gif) no-repeat center;}
.item_webfolder_copy_un {background:url(../image/icon/icon_wfolder_copy_d.gif) no-repeat center;}

.item_webfolder_move {background:url(../image/icon/icon_wfolder_move.gif) no-repeat center;}
.item_webfolder_move_un {background:url(../image/icon/icon_wfolder_move_d.gif) no-repeat center;}

.item_webfolder_wmail {background:url(../image/icon/icon_wfolder_wmail.gif) no-repeat center;}
.item_webfolder_wmail_un {background:url(../image/icon/icon_wfolder_wmail_d.gif) no-repeat center;}

.item_webfolder_searchshare {background:url(../image/icon/icon_wfolder_searchshare.gif) no-repeat center;}
.item_webfolder_searchshare_un {background:url(../image/icon/icon_wfolder_searchshare_d.gif) no-repeat center;}

.item_webfolder_currentshare {background:url(../image/icon/icon_wfolder_currentShare.gif) no-repeat center;}
.item_webfolder_currentshare_un {background:url(../image/icon/icon_wfolder_currentShare_d.gif) no-repeat center;}

.item_webfolder_viewshare {background:url(../image/icon/icon_wfolder_viewShare.gif) no-repeat center;}
.item_webfolder_viewshare_un {background:url(../image/icon/icon_wfolder_viewShare_d.gif) no-repeat center;}

.item_webfolder_delshare {background:url(../image/icon/icon_wfolder_deleteShare.gif) no-repeat center;}
.item_webfolder_delshare_un {background:url(../image/icon/icon_wfolder_deleteShare_d.gif) no-repeat center;}

.item_webfolder_download {background:url(../image/icon/icon_wfolder_down.png) no-repeat center;}