<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-6.1.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-6.1.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-6.1.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-6.1.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-6.1.xsd
		default-autowire="byName">
			
			
	<bean id="mobileSyncDao"
		class="com.terracetech.tims.webmail.mobile.dao.MobileSyncDao"
		 />
	
	<bean id="mobileSyncManager" 
		class="com.terracetech.tims.webmail.mobile.manager.MobileSyncManager"
		p:mobileSyncDao-ref="mobileSyncDao"
		scope="prototype">
	</bean>
	
	<!-- ==================================COMMON================================= -->
	
	
	
	
	
	
	
	
	

	<!-- ===============================MAIL==================================== -->
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- ===============================ADDRESS BOOK==================================== -->
	
	
	
	
		
	
	<!-- ===============================CALENDAR==================================== -->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- ===============================BBS==================================== -->
	
	
	
	
	
	
	
	
	
	
	
	
	
			
	
			
	
	
	
	
	
	<!-- ===============================Hybrid==================================== -->
	<bean 	id="hybridMobileDao" class="com.terracetech.tims.hybrid.common.dao.HybridMobileDao" scope="prototype"
			>
	</bean>
	
	<bean 	id="hybridAuthManager" class="com.terracetech.tims.hybrid.common.manager.HybridAuthManager" scope="prototype"
			p:hybridMobileDao-ref="hybridMobileDao"
			p:systemManager-ref="systemConfigManager"
			p:userAuthManager-ref="userAuthManager">
	</bean>
	
	
	
	
	<!-- MAIL -->
		
		
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
		

</beans>