/*=============== BBS_LIST ==============*/
.TM_bbsListHeader{
	border-collapse:collapse;
	width:100%;*width:;	
	border-left:#C6C6C6 solid 1px !important;
	border-right:#C6C6C6 solid 1px;
	table-layout: fixed;
	background: #ffffff;
}
.TM_bbsListHeader th {
	margin : 0px;
	text-align: center;
	height: 27px;
	font-weight: normal;
	color:#505050;	
	border-bottom:#C6C6C6 solid 1px;
	background: url("../../default/image/bg_mail_list_header.gif");
}

.TM_bbsListHeader th a {
	color:#505050;
	text-decoration: none;
}

.TM_bbsListHeader th a.sortitem {
	color:#505050;
	text-decoration: none;
	font-weight: bold;
}

#bbsListTable {
	border-collapse:collapse;
	width:100%;*width:;	
	border-left:#C6C6C6 solid 1px !important;
	border-right:#C6C6C6 solid 1px;
	table-layout: fixed;
	background: #ffffff;	
}
#bbsListTable tr:hover{background: #F4F9FD;}
#bbsListTable th {
	margin : 0px;
	text-align: center;
	height: 27px;
	font-weight: normal;
	color:#505050;	
	border-bottom:#C6C6C6 solid 1px;
	background: url("../../default/image/bg_mail_list_header.gif");
}

#bbsListTable th a {
	color:#505050;
	text-decoration: none;
}

#bbsListTable th a.sortitem {
	color:#505050;
	text-decoration: none;
	font-weight: bold;
}

#bbsListTable .subject{text-align: left; white-space: nowrap; padding-left:10px; overflow:hidden;text-overflow:ellipsis;}


.decoNone{
	text-decoration: none;
}

.bbsTd{
	margin : 0px;
	text-align: center;
	height: 25px;
	font-weight: normal;
	color:#888888;
	border-bottom:#E8E8E8 solid 1px;
	padding: 0px 3px 0px 3px;
}

#bbsLeftMenu{
	line-height:150%;
	margin:10px 0px 10px 8px;
}

.icon_bbs {
	background:url(../image/icon/ic_bbs_list.gif) no-repeat left 0; 
	padding-left:20px;
}

.bbs_any {
	background:url(../image/icon/ic_bbs_any.gif) no-repeat left 0 !important; 
	padding-left:20px !important;
	padding-bottom:1px;
}

.bbs_secret {
	background:url(../image/icon/ic_bbs_secret.gif) no-repeat left 0 !important; 
	padding-left:20px !important;
}

.noticeTr {
	background-color: #FEFDF4;
}

.treeview, .treeview ul { 
	padding: 0;
	margin: 0;
	margin-left: 12px;
	list-style: none;	
	overflow:hidden;
}

.treeview ul {}
.treeview ul li.last {
	margin-bottom:0 !important;
	margin-left:0 !important;
}

.treeview ul li.last span {
	background:url(../image/icon/ic_bbs_list.gif) no-repeat left 0;
	padding-left:16px !important;
	margin-left: 12px;
}

.treeview ul li.last span.bbs_any {
	background:url(../image/icon/ic_bbs_any.gif) no-repeat left 0 !important;
	padding-left:16px !important;
	margin-left: 12px !important;
}

.treeview ul li.last span.bbs_secret {
	background:url(../image/icon/ic_bbs_secret.gif) no-repeat left 0 !important;
	padding-left:16px !important;
	margin-left: 12px !important;
}

.treeview li { 
	margin:4px 0px 4px 12px;
	padding:0px;
}

.treeview li a{ 
	  color:#555555;
	  text-decoration:none;
}

.treeview a.selected {
	background-color: #eee;
}

.treeview li.collapsable {
	margin-bottom: 0px !important;
	margin-left: 0px !important;
}

.treeview li.collapsable li.last div{
	background:url(../image/icon/ic_bbs_list.gif) no-repeat left 30%;
	padding-left:16px;
	margin-left: 12px;
}

.treeview li.collapsable div{
	background:url(../image/icon/ic_bbs_child_minus.gif) no-repeat left 30%;
	padding-left: 31px;
}
.treeview li.collapsable li.last div.bbs_any {
	background:url(../image/icon/ic_bbs_any.gif) no-repeat left 30% !important;
	padding-left:16px !important;
	margin-left: 12px !important;
}
.treeview li.collapsable div.bbs_any {
	background:url(../image/icon/ic_bbs_any_child_minus.gif) no-repeat left 30% !important;
	padding-left: 31px !important;
}
.treeview li.collapsable li.last div.bbs_secret {
	background:url(../image/icon/ic_bbs_secret.gif) no-repeat left 30% !important;
	padding-left:16px !important;
	margin-left: 12px !important;
}
.treeview li.collapsable div.bbs_secret {
	background:url(../image/icon/ic_bbs_secret_child_minus.gif) no-repeat left 30% !important;
	padding-left: 31px !important;
}

.treeview li.expandable {
	margin-bottom: 0px !important;
	margin-left: 0px !important;
}

.treeview li.expandable div{
	background:url(../image/icon/ic_bbs_child_plus.gif) no-repeat left 30%;
	padding-left: 31px;
}

.treeview li.expandable div.bbs_any {
	background:url(../image/icon/ic_bbs_any_child_plus.gif) no-repeat left 30% !important;
	padding-left: 31px !important;
}

.treeview li.expandable div.bbs_secret {
	background:url(../image/icon/ic_bbs_secret_child_plus.gif) no-repeat left 30% !important;
	padding-left: 31px !important;
}

.menu_selected {	
	font-weight:bold;
}

.btn_news {
background:transparent url(/design/default/image/icon/icon_bbs_notice.gif) no-repeat scroll left 0;
color:#FFFFFF;
display:inline-block;
font-size:12px;
font-weight:bold;
height:15px;
line-height:18px;
padding-left:4px;
text-decoration:none;
}

.btn_news span {
background:transparent url(/design/default/image/icon/icon_bbs_notice.gif) no-repeat scroll right 0;
display:inline-block;
padding-right:4px;
}



/*=============== BBS_WRITE ==============*/

.TM_write_input{
	width: 99%;
	border:#CCCCCE solid 1px;
	height:17px;
	padding-top:4px;
}

.TM_write_input:hover{
	border:#6A99C3 solid 1px;
}

#editorTable{
	width:100%;*width:;	
	table-layout: fixed;	
}

#bbs_subject  {color:#707070;padding:10px 1px 10px 1px;}
#bbs_subject tr{padding:10px;}
#bbs_subject th{white-space: nowrap;padding:5px;}
#bbs_subject td{margin:	0;	padding: 0;	vertical-align: top;}

.attach_title {background:url(../image/icon/ic_mail_file.gif) no-repeat 0 40%;}
.TM_attach_area {	
	border:1px solid #d6d6d6; border-top:none;
	background:#fffffff;
	padding:5px;
	text-align: center;
}
.TM_attFile {font-size:12px; border:#CACACA solid 1px; background:#ffffff; width:100%;*width:95% ;height:20px;}
.TM_attList {font-size:12px; border:#CACACA solid 1px; width:100%;*width:95%; height:100px}

.TM_bbs_toolbar  {border:1px solid #d6d6d6; background:#f0f0f2;padding:2px 2px 2px 10px;}
.TM_bbs_toolbar  span.title {	font-weight:bold; color:#333;padding:0 25px 0 10px; margin-left:10px;}

/*=============== BBS_READ ==============*/
.TM_r_table {
	width:100%;*width:;
	table-layout: fixed;
	}

.TM_r_subject {padding-bottom:15px;}
.TM_r_subject span{color:#333333;font-size:15px; font-weight: bold; padding-bottom:15px;}
.TM_r_source {background:url(../image/icon/ic_source_view.gif) no-repeat; width:19px; height:18px;}

.TM_rh_index {padding:5px 0px 0px 0px;}
.TM_rh_index_ex {padding:5px 0px 0px 15px;}
.TM_rh_content {vertical-align: top; padding:5px 0px 0px 0px; line-height:16px;}
.TM_rh_content a {color:#005fb0;text-decoration:none;}
.TM_rh_content a:HOVER {text-decoration: underline;}


.TM_info_control  {position: absolute;	top :15px;	right:10px;}

.TM_r_atable {
	width:100%;*width:;
	table-layout: fixed;
	margin-top:15px;border-bottom:#D6D6D6 solid 1px;}
.TM_r_atable td{border-top:#D6D6D6 solid 1px;} 
.TM_ra_l {text-align: left; border-left:#D6D6D6 solid 1px; height:27px; background:#F6F5F5; padding-left:5px;font-weight: bold;}
.TM_ra_r {text-align: right; border-right:#D6D6D6 solid 1px; background:#F6F5F5;padding-right:5px;}
.TM_ra_c {padding:6px; line-height:16px; border-left:#D6D6D6 solid 1px; border-right:#D6D6D6 solid 1px;}
.TM_ra_del {background:url(../image/icon/ic_del_s1.gif) no-repeat; width:11px; height:11px;}
.TM_ra_c a.rdown{
	color:#555555;
	text-decoration:none;
	margin:2px 0px 2px 0px;
}
.TM_ra_c a.rdown:HOVER {background:#e3efff;}
.TM_ra_c span.rdeleted{
	color:#555555;
	text-decoration:none;
	margin:2px 0px 2px 0px;
	background : #FFF2F2;	
}
.TM_r_ctable  {	
	width:100%;*width:;
	table-layout: fixed;
	border-left:#D6D6D6 solid 1px;
	border-right:#D6D6D6 solid 1px;
	border-bottom:#D6D6D6 solid 1px;
	font-size: 12px;
	}
.TM_r_content {
	padding:5px 5px 25px 5px;
	text-align: left;
}

.TM_reply_body {	
	padding:0px 10px 10px 10px;
	background: #ffffff;
	text-align: center;
	border:	1px solid #D6D6D6;
}

.TM_readOtherTable{
	border-top:	1px solid #D6D6D6;
	margin-top:10px;	
}

.TM_readOtherTable .bbsOtherTd {
	border-bottom:1px solid #D6D6D6;
	font-weight:normal;
	height:25px;
	margin:0;
	padding:0 3px;
	text-align:center;
}

.TM_reply_body textarea {
border:1px solid #DBDBDB;
color:#666666;
height:37px;
padding:4px 0 0 4px;
width:100%;
}

.limit {
float:right;
color:#666666;
font-family:tahoma;
font-size:10px;
}

.point {
color:#FF6633;
}

.replytitle {
	font-weight:bold;
	letter-spacing:-1px;	
	overflow:hidden;
	padding-left:15px;
}
#replyWriteTable {
	width: 100%;*width:;
	padding:0px;
	margin:0px;
	table-layout: fixed;	
}
#replylistTable {
	width: 100%;*width:;
	margin-bottom: 20px;
	padding:0px;
	margin-bottom:10px;
	table-layout: fixed;	
}

#replylistTable td {	
	border-bottom:#D6D6D6 dotted 1px;
	height:25px !importance; 
}

.cpage {
	color:#000000;
	font-weight: bold;		
}

.test {
	overflow:hidden;
	text-align:left;
	white-space:nowrap;
}
.open {
	background: url(../image/icon/icon_minus2.gif)  no-repeat;
}
.close {
	background: url(../image/icon/icon_plus2.gif)  no-repeat;
}