.folderTree {
	margin:0px 0px 0px 5px;	
	margin-left:5px;
}
.folderTree ul{	/* Sub menu groups */
	margin-left:0px;	/* Left spacing */
	padding-left:10px;
	display:;	/* Initially hide sub nodes */
}
.folderTree li{	/* Nodes */
	margin-top:3px;		
	list-style-type:none;
	vertical-align:middle;
	padding-top:2px;
	padding-bottom: 2px;
}
.folderTree li a{	/* Node links */		
	text-decoration:none;
	padding-left:2px;
}

body {
	background:#fefcc1;
	min-height:0px;
	min-width:0px;
	margin: 0px;
	padding: 0px;	
}

.webfolderTitleWrap {
	margin: 10px 0px 0px 5px;
}
.webfolderTitle {
	background:url(../image/icon/ic_dot.gif) no-repeat 3px center;
	padding-left: 10px;
}

html,body {
    scrollbar-face-color: #FFFFFF; scrollbar-highlight-color: #FFFFFF; scrollbar-3dlight-color: #F2F2F2; scrollbar-shadow-color: #999CC; scrollbar-darkshadow-color: #F2F2F2; scrollbar-track-color: #FFFFFF; scrollbar-arrow-color: #9999CC;
}	