<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- URL Mappings: URL → Controller 매핑 -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <!-- 게시글 CRUD -->
                <prop key="/bbs/listContent.do">listContentController</prop>
                <prop key="/bbs/viewContent.do">viewContentController</prop>
                <prop key="/bbs/writeContent.do">writeContentController</prop>
                <prop key="/bbs/saveContent.do">saveContentController</prop>
                <prop key="/bbs/deleteContent.do">deleteContentController</prop>
                
                <!-- 답글 관련 -->
                <prop key="/bbs/viewContentReply.do">viewContentReplyController</prop>
                <prop key="/bbs/saveContentReply.do">saveContentReplyController</prop>
                <prop key="/bbs/deleteContentReply.do">deleteContentReplyController</prop>
                
                <!-- 공지사항 관련 -->
                <prop key="/bbs/listNoticeContent.do">listNoticeContentController</prop>
                <prop key="/bbs/viewNoticeContent.do">viewNoticeContentController</prop>
                
                <!-- 첨부파일 다운로드 -->
                <prop key="/bbs/downloadAttach.do">downloadAttachController</prop>
                <prop key="/bbs/downloadAllAttach.do">downloadAllAttachController</prop>
                <prop key="/bbs/downloadNoticeAttach.do">downloadNoticeAttachController</prop>
                <prop key="/bbs/downloadAllNoticeAttach.do">downloadAllNoticeAttachController</prop>
            </props>
        </property>
        <property name="order" value="105"/>
    </bean>

    <!-- Controller Bean Definitions -->
    <bean id="listContentController" class="com.terracetech.tims.webmail.bbs.controller.ListContentController"/>
    <bean id="viewContentController" class="com.terracetech.tims.webmail.bbs.controller.ViewContentController"/>
    <bean id="writeContentController" class="com.terracetech.tims.webmail.bbs.controller.WriteContentController"/>
    <bean id="saveContentController" class="com.terracetech.tims.webmail.bbs.controller.SaveContentController"/>
    <bean id="deleteContentController" class="com.terracetech.tims.webmail.bbs.controller.DeleteContentController"/>
    
    <bean id="viewContentReplyController" class="com.terracetech.tims.webmail.bbs.controller.ViewContentReplyController"/>
    <bean id="saveContentReplyController" class="com.terracetech.tims.webmail.bbs.controller.SaveContentReplyController"/>
    <bean id="deleteContentReplyController" class="com.terracetech.tims.webmail.bbs.controller.DeleteContentReplyController"/>
    
    <bean id="listNoticeContentController" class="com.terracetech.tims.webmail.bbs.controller.ListNoticeContentController"/>
    <bean id="viewNoticeContentController" class="com.terracetech.tims.webmail.bbs.controller.ViewNoticeContentController"/>
    
    <bean id="downloadAttachController" class="com.terracetech.tims.webmail.bbs.controller.DownloadAttachController"/>
    <bean id="downloadAllAttachController" class="com.terracetech.tims.webmail.bbs.controller.DownloadAllAttachController"/>
    <bean id="downloadNoticeAttachController" class="com.terracetech.tims.webmail.bbs.controller.DownloadNoticeAttachController"/>
    <bean id="downloadAllNoticeAttachController" class="com.terracetech.tims.webmail.bbs.controller.DownloadAllNoticeAttachController"/>

    <!-- View Definitions: result 이름 → JSP 경로 -->
    
    <!-- 게시글 CRUD Views -->
    <bean id="success" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/bbs/contentList.jsp"/>
    </bean>
    <bean id="view" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/bbs/contentView.jsp"/>
    </bean>
    <bean id="write" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/bbs/contentWrite.jsp"/>
    </bean>
    <bean id="modify" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/bbs/contentModify.jsp"/>
    </bean>
    <bean id="popup" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/bbs/contentViewPopup.jsp"/>
    </bean>
    <bean id="print" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/bbs/contentViewPrint.jsp"/>
    </bean>
    <bean id="fail" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/bbs/error.jsp"/>
    </bean>
    
    <!-- 답글 Views -->
    <bean id="reply" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/bbs/contentReply.jsp"/>
    </bean>
    <bean id="replyList" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/bbs/contentReplyList.jsp"/>
    </bean>
    <bean id="replyWrite" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/bbs/contentReplyWrite.jsp"/>
    </bean>
    <bean id="replyModify" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/bbs/contentReplyModify.jsp"/>
    </bean>
    
    <!-- 공지사항 Views -->
    <bean id="notice" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/bbs/noticeList.jsp"/>
    </bean>
    <bean id="noticeView" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/bbs/noticeView.jsp"/>
    </bean>
    <bean id="noticeWrite" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/bbs/noticeWrite.jsp"/>
    </bean>
    <bean id="noticeModify" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/bbs/noticeModify.jsp"/>
    </bean>
    
    <!-- 첨부파일 다운로드 Views -->
    <bean id="download" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/bbs/download.jsp"/>
    </bean>
    <bean id="downloadZip" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/bbs/downloadZip.jsp"/>
    </bean>

</beans>