<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Setting Module Controllers -->
    
    <!-- 사용자 정보 관련 Controllers -->
    <bean id="viewUserInfoController" class="com.terracetech.tims.webmail.setting.controller.ViewUserInfoController">
        <property name="settingManager" ref="settingManager"/>
        <property name="mailUserManager" ref="mailUserManager"/>
        <property name="systemManager" ref="systemConfigManager"/>
        <property name="settingSecureManager" ref="settingSecureManager"/>
    </bean>
    <bean id="modifyUserInfoController" class="com.terracetech.tims.webmail.setting.controller.ModifyUserInfoController">
        <property name="settingManager" ref="settingManager"/>
        <property name="userAuthManager" ref="userAuthManager"/>
        <property name="systemManager" ref="systemConfigManager"/>
    </bean>
    <bean id="viewUserInfoAuthController" class="com.terracetech.tims.webmail.setting.controller.ViewUserInfoAuthController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="checkUserInfoAuthController" class="com.terracetech.tims.webmail.setting.controller.CheckUserInfoAuthController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="viewUserEtcInfoController" class="com.terracetech.tims.webmail.setting.controller.ViewUserEtcInfoController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="modifyUserEtcInfoController" class="com.terracetech.tims.webmail.setting.controller.ModifyUserEtcInfoController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="saveUserEtcInfoController" class="com.terracetech.tims.webmail.setting.controller.SaveUserEtcInfoController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="updateUserInfoController" class="com.terracetech.tims.webmail.setting.controller.UpdateUserInfoController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    
    <!-- 필터 관련 Controllers -->
    <bean id="viewFilterController" class="com.terracetech.tims.webmail.setting.controller.ViewFilterController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="saveFilterController" class="com.terracetech.tims.webmail.setting.controller.SaveFilterController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="modifyFilterController" class="com.terracetech.tims.webmail.setting.controller.ModifyFilterController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="deleteFilterController" class="com.terracetech.tims.webmail.setting.controller.DeleteFilterController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="saveSpamRuleController" class="com.terracetech.tims.webmail.setting.controller.SaveSpamRuleController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="viewSpamRuleController" class="com.terracetech.tims.webmail.setting.controller.ViewSpamRuleController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    
    <!-- 서명 관련 Controllers -->
    <bean id="viewSignController" class="com.terracetech.tims.webmail.setting.controller.ViewSignController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="modifySignController" class="com.terracetech.tims.webmail.setting.controller.ModifySignController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="writeSignDataController" class="com.terracetech.tims.webmail.setting.controller.WriteSignDataController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="saveSignDataController" class="com.terracetech.tims.webmail.setting.controller.SaveSignDataController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="modifySignDataController" class="com.terracetech.tims.webmail.setting.controller.ModifySignDataController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="deleteSignDataController" class="com.terracetech.tims.webmail.setting.controller.DeleteSignDataController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="uploadSignImageController" class="com.terracetech.tims.webmail.setting.controller.UploadSignImageController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    
    <!-- 외부 메일 관련 Controllers -->
    <bean id="viewExtMailController" class="com.terracetech.tims.webmail.setting.controller.ViewExtMailController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="saveExtMailController" class="com.terracetech.tims.webmail.setting.controller.SaveExtMailController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="modifyExtMailController" class="com.terracetech.tims.webmail.setting.controller.ModifyExtMailController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="deleteExtMailController" class="com.terracetech.tims.webmail.setting.controller.DeleteExtMailController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    
    <!-- 자동답장 관련 Controllers -->
    <bean id="viewAutoReplyController" class="com.terracetech.tims.webmail.setting.controller.ViewAutoReplyController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="saveAutoReplyController" class="com.terracetech.tims.webmail.setting.controller.SaveAutoReplyController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    
    <!-- 스케줄러 관련 Controllers -->
    <bean id="viewSchedulerController" class="com.terracetech.tims.webmail.setting.controller.ViewSchedulerController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="saveSchedulerController" class="com.terracetech.tims.webmail.setting.controller.SaveSchedulerController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="deleteSchedulerController" class="com.terracetech.tims.webmail.setting.controller.DeleteSchedulerController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    
    <!-- 기타 설정 관련 Controllers -->
    <bean id="viewForwardController" class="com.terracetech.tims.webmail.setting.controller.ViewForwardController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="saveForwardController" class="com.terracetech.tims.webmail.setting.controller.SaveForwardController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="deleteDefineForwardController" class="com.terracetech.tims.webmail.setting.controller.DeleteDefineForwardController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="viewLastrcptController" class="com.terracetech.tims.webmail.setting.controller.ViewLastrcptController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="deleteLastrcptController" class="com.terracetech.tims.webmail.setting.controller.DeleteLastrcptController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="viewPictureController" class="com.terracetech.tims.webmail.setting.controller.ViewPictureController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="savePictureController" class="com.terracetech.tims.webmail.setting.controller.SavePictureController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="deletePictureController" class="com.terracetech.tims.webmail.setting.controller.DeletePictureController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="uploadPictureController" class="com.terracetech.tims.webmail.setting.controller.UploadPictureController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="viewVcardController" class="com.terracetech.tims.webmail.setting.controller.ViewVcardController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="modifyVcardController" class="com.terracetech.tims.webmail.setting.controller.ModifyVcardController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="viewZipcodeController" class="com.terracetech.tims.webmail.setting.controller.ViewZipcodeController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="viewSelectedExtMailController" class="com.terracetech.tims.webmail.setting.controller.ViewSelectedExtMailController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="viewPKISignUpdateController" class="com.terracetech.tims.webmail.setting.controller.ViewPKISignUpdateController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="updatePKISignController" class="com.terracetech.tims.webmail.setting.controller.UpdatePKISignController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="viewSchedulerShareJsonController" class="com.terracetech.tims.webmail.setting.controller.ViewSchedulerShareJsonController">
        <property name="settingManager" ref="settingManager"/>
    </bean>
    <bean id="cacheDeleteController" class="com.terracetech.tims.webmail.setting.controller.CacheDeleteController">
        <property name="settingManager" ref="settingManager"/>
    </bean>

    <!-- URL Mapping for Setting Module -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <!-- 사용자 정보 관련 URL -->
                <prop key="/setting/viewUserInfo.do">viewUserInfoController</prop>
                <prop key="/setting/modifyUserInfo.do">modifyUserInfoController</prop>
                <prop key="/setting/viewUserInfoAuth.do">viewUserInfoAuthController</prop>
                <prop key="/setting/checkUserInfoAuth.do">checkUserInfoAuthController</prop>
                <prop key="/setting/viewUserEtcInfo.do">viewUserEtcInfoController</prop>
                <prop key="/setting/modifyUserEtcInfo.do">modifyUserEtcInfoController</prop>
                <prop key="/setting/saveUserEtcInfo.do">saveUserEtcInfoController</prop>
                <prop key="/setting/updateUserInfo.do">updateUserInfoController</prop>
                
                <!-- 필터 관련 URL -->
                <prop key="/setting/viewFilter.do">viewFilterController</prop>
                <prop key="/setting/saveFilter.do">saveFilterController</prop>
                <prop key="/setting/modifyFilter.do">modifyFilterController</prop>
                <prop key="/setting/deleteFilter.do">deleteFilterController</prop>
                <prop key="/setting/saveSpamRule.do">saveSpamRuleController</prop>
                <prop key="/setting/viewSpamRule.do">viewSpamRuleController</prop>
                
                <!-- 서명 관련 URL -->
                <prop key="/setting/viewSign.do">viewSignController</prop>
                <prop key="/setting/modifySign.do">modifySignController</prop>
                <prop key="/setting/writeSignData.do">writeSignDataController</prop>
                <prop key="/setting/saveSignData.do">saveSignDataController</prop>
                <prop key="/setting/modifySignData.do">modifySignDataController</prop>
                <prop key="/setting/deleteSignData.do">deleteSignDataController</prop>
                <prop key="/setting/uploadSignImage.do">uploadSignImageController</prop>
                
                <!-- 외부 메일 관련 URL -->
                <prop key="/setting/viewExtMail.do">viewExtMailController</prop>
                <prop key="/setting/saveExtMail.do">saveExtMailController</prop>
                <prop key="/setting/modifyExtMail.do">modifyExtMailController</prop>
                <prop key="/setting/deleteExtMail.do">deleteExtMailController</prop>
                
                <!-- 자동답장 관련 URL -->
                <prop key="/setting/viewAutoReply.do">viewAutoReplyController</prop>
                <prop key="/setting/saveAutoReply.do">saveAutoReplyController</prop>
                
                <!-- 스케줄러 관련 URL -->
                <prop key="/setting/viewScheduler.do">viewSchedulerController</prop>
                <prop key="/setting/saveScheduler.do">saveSchedulerController</prop>
                <prop key="/setting/deleteScheduler.do">deleteSchedulerController</prop>
                
                <!-- 기타 설정 관련 URL -->
                <prop key="/setting/viewForward.do">viewForwardController</prop>
                <prop key="/setting/saveForward.do">saveForwardController</prop>
                <prop key="/setting/deleteDefineForward.do">deleteDefineForwardController</prop>
                <prop key="/setting/viewLastrcpt.do">viewLastrcptController</prop>
                <prop key="/setting/deleteLastrcpt.do">deleteLastrcptController</prop>
                <prop key="/setting/viewPicture.do">viewPictureController</prop>
                <prop key="/setting/savePicture.do">savePictureController</prop>
                <prop key="/setting/deletePicture.do">deletePictureController</prop>
                <prop key="/setting/uploadPicture.do">uploadPictureController</prop>
                <prop key="/setting/viewVcard.do">viewVcardController</prop>
                <prop key="/setting/modifyVcard.do">modifyVcardController</prop>
                <prop key="/setting/viewZipcode.do">viewZipcodeController</prop>
                <prop key="/setting/viewSelectedExtMail.do">viewSelectedExtMailController</prop>
                <prop key="/setting/viewPKISignUpdate.do">viewPKISignUpdateController</prop>
                <prop key="/setting/updatePKISign.do">updatePKISignController</prop>
                <prop key="/setting/viewSchedulerShareJson.do">viewSchedulerShareJsonController</prop>
                <prop key="/setting/cacheDelete.do">cacheDeleteController</prop>
            </props>
        </property>
        <property name="order" value="107"/>
    </bean>

    <!-- View Definitions for Setting Module -->
    <bean id="settingSuccess" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/setting/success.jsp"/>
    </bean>
    <bean id="settingFail" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/setting/fail.jsp"/>
    </bean>
    <bean id="settingError" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/setting/error.jsp"/>
    </bean>
    <bean id="settingUserInfo" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/setting/userInfo.jsp"/>
    </bean>
    <bean id="settingFilter" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/setting/filter.jsp"/>
    </bean>
    <bean id="settingSign" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/setting/sign.jsp"/>
    </bean>
    <bean id="settingExtMail" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/setting/extMail.jsp"/>
    </bean>
    <bean id="settingAutoReply" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/setting/autoReply.jsp"/>
    </bean>
    <bean id="settingScheduler" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/setting/scheduler.jsp"/>
    </bean>
    <bean id="settingForward" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/setting/forward.jsp"/>
    </bean>
    <bean id="settingPicture" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/setting/picture.jsp"/>
    </bean>
    <bean id="settingVcard" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/setting/vcard.jsp"/>
    </bean>
    <bean id="settingZipcode" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/setting/zipcode.jsp"/>
    </bean>
    <bean id="settingPKI" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/setting/pki.jsp"/>
    </bean>
</beans>