<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- URL Mappings: URL → Controller 매핑 -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <!-- 스케줄러 기본 기능 -->
                <prop key="/scheduler/common.do">schedulerCommonController</prop>
                <prop key="/scheduler/day.do">daySchedulerController</prop>
                <prop key="/scheduler/week.do">weekSchedulerController</prop>
                <prop key="/scheduler/month.do">monthSchedulerController</prop>
                <prop key="/scheduler/progress.do">progressSchedulerController</prop>
                <prop key="/scheduler/progressDay.do">progressSchedulerController</prop>
                
                <!-- Outlook 연동 기능 -->
                <prop key="/scheduler/outlook/auth.do">schedulerOutlookAuthController</prop>
                <prop key="/scheduler/outlook/base.do">schedulerOutlookBaseController</prop>
                <prop key="/scheduler/outlook/receive.do">schedulerOutlookReceiveController</prop>
                <prop key="/scheduler/outlook/sso.do">schedulerOutlookSsoController</prop>
                <prop key="/scheduler/outlook/sync.do">schedulerOutlookSyncController</prop>
                <prop key="/scheduler/outlook/update.do">schedulerOutlookUpdateController</prop>
            </props>
        </property>
        <property name="order" value="106"/>
    </bean>

    <!-- Controller Bean Definitions -->
    <bean id="schedulerCommonController" class="com.terracetech.tims.webmail.scheduler.controller.SchedulerCommonController"/>
    <bean id="daySchedulerController" class="com.terracetech.tims.webmail.scheduler.controller.DaySchedulerController"/>
    <bean id="weekSchedulerController" class="com.terracetech.tims.webmail.scheduler.controller.WeekSchedulerController"/>
    <bean id="monthSchedulerController" class="com.terracetech.tims.webmail.scheduler.controller.MonthSchedulerController"/>
    <bean id="progressSchedulerController" class="com.terracetech.tims.webmail.scheduler.controller.ProgressSchedulerController"/>
    
    <bean id="schedulerOutlookAuthController" class="com.terracetech.tims.webmail.scheduler.controller.SchedulerOutlookAuthController"/>
    <bean id="schedulerOutlookBaseController" class="com.terracetech.tims.webmail.scheduler.controller.SchedulerOutlookBaseController"/>
    <bean id="schedulerOutlookReceiveController" class="com.terracetech.tims.webmail.scheduler.controller.SchedulerOutlookReceiveController"/>
    <bean id="schedulerOutlookSsoController" class="com.terracetech.tims.webmail.scheduler.controller.SchedulerOutlookSsoController"/>
    <bean id="schedulerOutlookSyncController" class="com.terracetech.tims.webmail.scheduler.controller.SchedulerOutlookSyncController"/>
    <bean id="schedulerOutlookUpdateController" class="com.terracetech.tims.webmail.scheduler.controller.SchedulerOutlookUpdateController"/>

    <!-- View Definitions: result 이름 → JSP 경로 -->
    
    <!-- 스케줄러 기본 Views -->
    <bean id="load" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/scheduler/scheduler.jsp"/>
    </bean>
    <bean id="success" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/scheduler/schedulerView.jsp"/>
    </bean>
    
    <!-- 일일 스케줄러 Views -->
    <bean id="day" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/scheduler/dayScheduler.jsp"/>
    </bean>
    
    <!-- 주간 스케줄러 Views -->
    <bean id="week" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/scheduler/weekScheduler.jsp"/>
    </bean>
    
    <!-- 월간 스케줄러 Views -->
    <bean id="month" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/scheduler/monthScheduler.jsp"/>
    </bean>
    
    <!-- 진행률 스케줄러 Views -->
    <bean id="progress" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/scheduler/progressScheduler.jsp"/>
    </bean>
    
    <!-- Outlook 연동 Views -->
    <bean id="outlook" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/scheduler/outlook.jsp"/>
    </bean>
    <bean id="auth" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/scheduler/outlookAuth.jsp"/>
    </bean>
    <bean id="sync" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/scheduler/outlookSync.jsp"/>
    </bean>

</beans>
