<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans-6.1.xsd">

    <!-- ============================================================ -->
    <!-- Mail Module - Spring MVC Configuration                       -->
    <!-- Struts2 struts-mail.xml 변환                                 -->
    <!-- ============================================================ -->

    <!-- URL Mapping: /mail/*.do → Controller -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <!-- Mail List -->
                <prop key="/mail/list.do">mailListController</prop>
                <prop key="/mail/listMessage.do">mailListController</prop>
                
                <!-- Mail Read -->
                <prop key="/mail/read.do">mailReadController</prop>
                <prop key="/mail/readMessage.do">mailReadController</prop>
                
                <!-- Mail Write -->
                <prop key="/mail/write.do">mailWriteController</prop>
                
                <!-- Mail Send -->
                <prop key="/mail/send.do">mailSendController</prop>
            </props>
        </property>
        <property name="order" value="101"/>
    </bean>

    <!-- ============================================================ -->
    <!-- View Definitions: result 이름 → JSP 경로                     -->
    <!-- ============================================================ -->
    
    <!-- Mail List Results -->
    <bean id="mailMailList" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/mail/messageList.jsp"/>
    </bean>
    
    <bean id="mailPortletList" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/portlet/mailList.jsp"/>
    </bean>
    
    <bean id="subError" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/common/error/subError.jsp"/>
    </bean>
    
    <bean id="subError2" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/common/error/subError2.jsp"/>
    </bean>
    
    <!-- Mail Read Results -->
    <bean id="popupRead" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/dynamic/mail/messageReadPopup.jsp"/>
    </bean>
    
    <bean id="printRead" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/mail/messagePrint.jsp"/>
    </bean>
    
    <bean id="alertclose" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/common/alertClose.jsp"/>
    </bean>
    
    <!-- Mail Write Results -->
    <bean id="popupWrite" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/mail/writePopup.jsp"/>
    </bean>

</beans>

