<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Note Module Controllers -->
    <bean id="noteCommonController" class="com.terracetech.tims.webmail.note.controller.NoteCommonController">
        <property name="noteManager" ref="noteManager"/>
    </bean>
    <bean id="noteListController" class="com.terracetech.tims.webmail.note.controller.NoteListController">
        <property name="noteManager" ref="noteManager"/>
    </bean>
    <bean id="noteReadController" class="com.terracetech.tims.webmail.note.controller.NoteReadController">
        <property name="noteManager" ref="noteManager"/>
    </bean>
    <bean id="noteWriteController" class="com.terracetech.tims.webmail.note.controller.NoteWriteController">
        <property name="noteManager" ref="noteManager"/>
    </bean>
    <bean id="noteSendController" class="com.terracetech.tims.webmail.note.controller.NoteSendController">
        <property name="noteManager" ref="noteManager"/>
    </bean>
    <bean id="noteWorkController" class="com.terracetech.tims.webmail.note.controller.NoteWorkController">
        <property name="noteManager" ref="noteManager"/>
    </bean>
    <bean id="noteInfoController" class="com.terracetech.tims.webmail.note.controller.NoteInfoController">
        <property name="noteManager" ref="noteManager"/>
    </bean>
    <bean id="noteAllSelectController" class="com.terracetech.tims.webmail.note.controller.NoteAllSelectController">
        <property name="noteManager" ref="noteManager"/>
    </bean>
    <bean id="noteSettingController" class="com.terracetech.tims.webmail.note.controller.NoteSettingController">
        <property name="noteManager" ref="noteManager"/>
    </bean>
    <bean id="noteMdnController" class="com.terracetech.tims.webmail.note.controller.NoteMdnController">
        <property name="noteManager" ref="noteManager"/>
    </bean>
    <bean id="searchUserListController" class="com.terracetech.tims.webmail.note.controller.SearchUserListController">
        <property name="mailUserManager" ref="mailUserManager"/>
    </bean>

    <!-- URL Mapping for Note Module -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="/note/common.do">noteCommonController</prop>
                <prop key="/note/list.do">noteListController</prop>
                <prop key="/note/read.do">noteReadController</prop>
                <prop key="/note/write.do">noteWriteController</prop>
                <prop key="/note/send.do">noteSendController</prop>
                <prop key="/note/work.do">noteWorkController</prop>
                <prop key="/note/info.do">noteInfoController</prop>
                <prop key="/note/allSelect.do">noteAllSelectController</prop>
                <prop key="/note/setting.do">noteSettingController</prop>
                <prop key="/note/mdn.do">noteMdnController</prop>
                <prop key="/note/searchUser.do">searchUserListController</prop>
            </props>
        </property>
        <property name="order" value="109"/>
    </bean>

    <!-- View Definitions for Note Module -->
    <bean id="noteCommon" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/note/common.jsp"/>
    </bean>
    <bean id="noteList" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/note/list.jsp"/>
    </bean>
    <bean id="noteRead" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/note/read.jsp"/>
    </bean>
    <bean id="noteWrite" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/note/write.jsp"/>
    </bean>
    <bean id="noteSuccess" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/common/success.jsp"/>
    </bean>
</beans>