<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Organization Module Controllers -->
    <bean id="organizationCommonController" class="com.terracetech.tims.webmail.organization.controller.OrganizationCommonController">
        <property name="organizationManager" ref="organizationManager"/>
    </bean>
    <bean id="viewOrganizationTreeController" class="com.terracetech.tims.webmail.organization.controller.ViewOrganizationTreeController">
        <property name="organizationManager" ref="organizationManager"/>
    </bean>
    <bean id="viewOrganizationTreeJsonController" class="com.terracetech.tims.webmail.organization.controller.ViewOrganizationTreeJsonController">
        <property name="organizationManager" ref="organizationManager"/>
    </bean>
    <bean id="viewOrganizationListJsonController" class="com.terracetech.tims.webmail.organization.controller.ViewOrganizationListJsonController">
        <property name="organizationManager" ref="organizationManager"/>
    </bean>
    <bean id="viewOrganizationMemberController" class="com.terracetech.tims.webmail.organization.controller.ViewOrganizationMemberController">
        <property name="organizationManager" ref="organizationManager"/>
    </bean>

    <!-- URL Mapping for Organization Module -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="/organization/common.do">organizationCommonController</prop>
                <prop key="/organization/tree.do">viewOrganizationTreeController</prop>
                <prop key="/organization/treeJson.do">viewOrganizationTreeJsonController</prop>
                <prop key="/organization/listJson.do">viewOrganizationListJsonController</prop>
                <prop key="/organization/member.do">viewOrganizationMemberController</prop>
            </props>
        </property>
        <property name="order" value="110"/>
    </bean>

    <!-- View Definitions for Organization Module -->
    <bean id="orgCommon" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/organization/common.jsp"/>
    </bean>
    <bean id="orgTree" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/organization/tree.jsp"/>
    </bean>
    <bean id="orgMember" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/classic/organization/member.jsp"/>
    </bean>
</beans>