#logo_pw {
height:48px;
}

h1.logo_small {	
	width:211px; height:48px;
	font-size:0px;
	}
div.pwChange_warp {width:650px; margin:0 auto}
div.pwChange_warp h3.title {
	background:url(../image/bg_pw_header.gif) no-repeat left 0;
	height:37px; line-height:38px;
	padding-left:24px; margin-top:5px;
	color:#fff; font-size:14px; font-family:dotum;
	}
div.pwChange_body {
	border:1px solid #b0d2f1;
	margin-top:7px;
	}
div.pwChange_body div.body {
	background:#fff;
	border:1px solid #8dacdc;
	padding:25px;
	}
div.pwChange_body div.body dl.title dt.icon_mail {
	float:left;
	background:url(../image/icon/icon_security_mail.gif) no-repeat left 0;
	width:66px; height:49px;
	padding-right:10px; margin-top:8px;
	}
div.pwChange_body div.body dl.title dt.icon_dormant {
	float:left;
	background:url(../image/icon/icon_dormant.gif) no-repeat left 0;
	width:66px; height:49px;
	padding-right:10px; margin-top:8px;
	}
div.pwChange_body div.body dl.title dt.subject {
	color:#006ecf; font-size:15px; font-weight:bold;
	padding-bottom:3px;
	}
div.pwChange_body div.body dl.title dd {
	margin-top:4px;
	}
div.pwChange_body div.body div.contents {
	border:1px solid #dcdcdc;
	background:#fcfcfc;
	margin-top:20px; padding:10px 10px 25px 10px;
	}
div.pwChange_body div.body ul.pwText {
	float:left;
	}
div.pwChange_body div.body ul.pwText li {
	background:url(../image/icon/icon_arrow_title.gif) no-repeat left 50%;
	padding-left:18px; margin-top:18px; #margin-top:19px;padding-top:2px;
	font-weight:bold;
	}
div.pwChange_body div.body ul.pwForm {
	margin-left:130px;
	}
div.pwChange_body div.body ul.pwForm li {
	margin-top:10px;
	}
div.pwChange_body div.body ul.pwForm input {border:2px solid #ccccce; height:21px; width:150px}
div.pwChange_body div.body ul.pwForm input:hover {border:2px solid #458ac4}
div.pwChange_body div.body div.warning {
	background:url(../image/icon/icon_warning.gif) no-repeat left 5%;
	padding-left:22px; line-height:160%; margin-top:10px;
	color:#ff3f00;
	}
div.pwChange_body div.body div.downBtn {
	text-align:center;
	margin:25px 0 5px 0;
	}
p.copyright {
	margin-top:10px;
	text-align:center;
	}
