.treeHeader{ /*CSS class for menu headers in general (expanding or not!)*/
	font-weight: bold;
	font-size: 14px;
	color: white;
	background: #3D83C1;
	margin-bottom: 0px; /*bottom spacing between header and rest of content*/
	text-transform: uppercase;
	padding: 5px 10px;
	cursor: pointer;
}


.treeview, .treeview ul { 
	padding: 0;
	margin: 0;
	margin-left: 5px;
	list-style: none;
}

.treeview ul {
	background-color: white;
	margin-top: 4px;
}

.expandable-hitarea{
	background: url(/design/common/image/btn_menu_plus.gif)  no-repeat;
}

.collapsable-hitarea{
	background: url(/design/common/image/btn_menu_mius.gif)  no-repeat;
}

.treeview .hitarea {			
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}

/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}

.treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview li a{ 
	  color:#006699;
	  font-weight:bold;
	  text-decoration:none;
}

.treeview a.selected {
	background-color: #eee;
}

.hover {
	border:#666666 dotted 2px;	
}

.tree-toolbar{
	float: right;
}

#treecontrol { margin: 1em 0; display: none; }

#ml_btnFMain2 {	
	background:url(../image/ml_btn_bg.gif);
	height:56px;
	border-bottom:1px solid #adc6ec;
	}
#ml_btnFMain2 .btn_leftTop ul{
	float:left;
	background:url(../image/topBtn_left.gif) no-repeat;
	margin:13px 0 0 8px; height:30px;
	}
		
.btn_leftTop a.leftBtn{
	display:inline-block;
	background:url(../image/topBtn_bar.gif) no-repeat right;
	padding:0 6px; line-height:30px;
	color:#434343; font-weight:bold; text-decoration:none;
	}
.btn_leftTop a.rightBtn{
	display:inline-block;
	background:url(../image/topBtn_right.gif) no-repeat right;
	padding:0 6px 0 0; line-height:30px;
	color:#434343; font-weight:bold; text-decoration:none;
	}
