.input_style1 {border:1px solid #CCCCCE; width:100%; height:18px}
.input_style2 {border:1px solid #CCCCCE; width:50px; height:18px}
.input_style1:hover {border:1px solid #6A99C3}
.input_style2:hover {border:1px solid #6A99C3}

/********** Tree List **********/
#orgTree{
	margin:10px 0 10px 8px;
}

#orgTree ul {
	margin-left:20px;
}

#orgTree li {}

#orgTree li div{
	margin:5px 0px 5px 0px;
}

#orgTree li.collapsable div a{
	background:url(../image/icon/icon_minus.gif) no-repeat left 30%;
	padding-left: 20px;
}

#orgTree li.closed div a{
	background:url(../image/icon/icon_minus.gif) no-repeat left 30%;
	padding-left: 20px;
}

#orgTree span.closePopGroup a{
	background:url(../image/icon/icon_plus.gif) no-repeat left 30% !important;
	padding-left:19px;
}

#orgTree span.openPopGroup a{
	background:url(../image/icon/icon_minus.gif) no-repeat left 30% !important;
	padding-left: 20px;
}

#orgTree li.expandable div a{
	background:url(../image/icon/icon_plus.gif) no-repeat left 30%;
	padding-left: 20px;
}

/********** Member List Table **********/

.TM_member_list_header {
	border-collapse:collapse;
	width:100%;*width:;
	table-layout: fixed;	
	color:#727272; text-align:left;
	padding-left:5px;
	border-left: #CACACA solid 1px;
	border-right: #CACACA solid 1px;
	}
.TM_member_list_header th {
	margin : 0px;
	text-align: center;
	height: 27px;
	font-weight: normal;
	color:#505050;
	border-bottom:#C6C6C6 solid 1px;
	background: url("../../default/image/bg_mail_list_header.gif");
	}
.TM_member_list_body{
	width:100%;*width:;
	table-layout: fixed;	
}

#o_memberListWrapper {
	border-collapse:collapse;	
	border-left:#ACACAC solid 1px !important;
	border-right:#ACACAC solid 1px;
	}
.member_list table th {	
	margin : 0px;
	text-align: center;
	height: 27px;
	font-weight: normal;
	color:#505050;
	border-bottom:#C6C6C6 solid 1px;
	background: url("../../default/image/bg_mail_list_header.gif");
	}
.member_list table td {
	height:22px;
	border-right:1px dotted #e8e8e8;
	border-bottom:1px solid #e8e8e8;	
	}
.member_list table td.center {
	height:22px;
	border-right:1px dotted #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	text-align:center;
	padding-left:0px;
	}
.treeNodeWrapperTable td{
	padding-left:5px;
	border-right:0px dotted #e8e8e8 !important;
	border-bottom:0px solid #e8e8e8 !important;
	}
.member_list tr:hover {background:#f1f7fd}
.member_list table th.box {width:30px}
.member_list table th.last {border-right:none}

/********** Accordion Collection ***********/
.address_subContent-header{
	background:transparent url(../image/addr_bar_bg.gif) repeat-x scroll 0 0;
height:24px;
line-height:2.1em;
padding-left:5px;
}

.address_subContent-header:hover {background:url(../image/addr_bar_bg_over.gif) repeat-x}

#address_subContent div.address_subContent-group a.info {
	background:transparent url(../image/icon/icon_addr_arrowDown.gif) no-repeat scroll right 40%;
	color:#006ECF;
	display:block;
	font-weight:bold;
	margin-right:10px;
	text-decoration:none;
}

#address_subContent div.address_subContent-group.selected a.info {
	background:transparent url(../image/icon/icon_addr_arrowUp.gif) no-repeat scroll right 40%;
	color:#006ECF;
	display:block;
	font-weight:bold;
	margin-right:10px;
	text-decoration:none;
}

#address_subContent div.address_subContent-group span.title {
	background:url(../image/icon/icon_plus2.gif) no-repeat left 0; padding-left:15px;
}

#address_subContent div.address_subContent-group.selected span.title {
	background:url(../image/icon/icon_minus2.gif) no-repeat left 0; padding-left:15px;
}

.TB_content table td.title {
	background:#f7f7f7;
	width:20%; height:28px;
	border-right:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
	color:#727272; text-align:center;
	}
	
.org_sendMailPopup{
	z-index:1000;	display: none;	position: absolute;top:0;left:0;width:550px;
}

table.popup_body {
	border-top:1px solid #e8e8e8;
	border-left:1px solid #e8e8e8;
}

table.popup_body th {
	background:#f7f7f7;
	border-right:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	width:150px; height:28px;
	padding:0 5px;
	text-align: left;
	}
	
table.popup_body td {
	border-bottom:1px solid #E8E8E8;
	border-right:1px solid #e8e8e8;
	padding:5px 10px 5px 7px;
	}

table.TB_addressAdd {	
	border:1px solid #e8e8e8;
}

table.TB_addressAdd th {
	background:#f7f7f7;
	border-left:1px solid #e8e8e8;
	border-right:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	width:90px; height:28px;
	padding:0 5px;
	text-align: left;
	}
table.TB_addressAdd td {
	border-bottom:1px solid #E8E8E8;
	border-right:1px solid #e8e8e8;
	padding:5px 10px 5px 7px;
	}
table.TB_popup_style1_body table.TB_addressAdd td.titleTD {
	border:0; padding:0;
	padding-left:3px;
	}
.titleTD {
	background:url(../image/bg_mail_list_header.gif) repeat-x left 0;
	height:27px;
	}
	
table.TB_addressPrint {
	width:100%;
	border:1px solid #e8e8e8;
}

table.TB_addressPrint a {color:#555555;}
table.TB_addressPrint a:hover {color:#555555;}

table.TB_addressPrint th {
	border-bottom:1px solid #E8E8E8;
	border-right:1px solid #e8e8e8;
	padding:5px 10px 5px 7px;
	}
table.TB_addressPrint td {
	border-bottom:1px solid #E8E8E8;
	padding:5px 10px 5px 7px;
	}
table.TB_addressPrint td.last {
	border-right:none;
	border-bottom:none;
	}
.member_list table td.last {
	border-right:none;
	border-bottom:none;
}

.th.leftborder {
border-left:1px solid #e8e8e8;
}