.TM_r_table {
	width:100%;*width:;
	table-layout: fixed;
	}

.TM_r_subject {padding-bottom:15px;}
.TM_r_subject span{color:#333333;font-size:15px; font-weight: bold; padding-bottom:15px;}
.TM_r_source {background:url(../image/icon/ic_source_view.gif) no-repeat; width:19px; height:18px;}

.TM_rh_index {padding:5px 0px 0px 0px;}
.TM_rh_index_ex {padding:5px 0px 0px 15px;}
.TM_rh_content {vertical-align: top; padding:5px 0px 0px 0px; line-height:16px; overflow:hidden; text-overflow:ellipsis}
.TM_rh_content a {color:#005fb0;text-decoration:none;}
.TM_rh_content a:HOVER {text-decoration: underline;}

a.TM_rh_func{
	background:url(../image/icon/ic_arrow_blue.gif) no-repeat 0 50%;
	margin-left:5px; padding-left:6px;
	font-size:11px; color:#888888; text-decoration:none;	
}

.TM_r_atable {
	width:100%;*width:;
	table-layout: fixed;
	margin-top:15px;border-bottom:#D6D6D6 solid 1px;}
.TM_r_atable td{border-top:#D6D6D6 solid 1px;} 
.TM_ra_l {text-align: left; border-left:#D6D6D6 solid 1px; height:27px; background:#F6F5F5; padding-left:5px;font-weight: bold;}
.TM_ra_r {text-align: right; border-right:#D6D6D6 solid 1px; background:#F6F5F5;padding-right:5px;}
.TM_ra_c {padding:6px; line-height:16px; border-left:#D6D6D6 solid 1px; border-right:#D6D6D6 solid 1px;}
.TM_ra_del {background:url(../image/icon/ic_del_s1.gif) no-repeat; width:11px; height:11px;}
.TM_ra_c a.rdown{
	color:#555555;
	text-decoration:none;
	margin:2px 0px 2px 0px;
}
.TM_ra_c a.rdown:HOVER {background:#e3efff;}
.TM_ra_c span.rdeleted{
	color:#555555;
	text-decoration:none;
	margin:2px 0px 2px 0px;
	background : #FFF2F2;	
}

.TM_ra_n {padding:5px; background:#FEFEE9; color:#797979; padding-left:5px;border-left:#D6D6D6 solid 1px; border-right:#D6D6D6 solid 1px;}
.TM_ra_n div.func_link{padding:5px 0px 0px 20px;}
.TM_ra_nic{background:url(../image/icon/ic_r_notice.gif) no-repeat; width:16px; height:14px;}
.TM_ra_n a {color:#005fb0;text-decoration:none;}
.TM_ra_n a:HOVER {text-decoration: underline;}

.TM_mail_spamRate{
	background: #367FBF;
	color:#ffffff;
	text-align: center;
	height:25px;
	border:#E4EFF3 solid 1px;
	padding-top:8px;
	font-weight: bold;
}

.TM_ra_rateval{color:#FF4040;}


.TM_r_ctable  {	
	width:100%;*width:;
	table-layout: fixed;
	border-left:#D6D6D6 solid 1px;
	border-right:#D6D6D6 solid 1px;
	border-bottom:#D6D6D6 solid 1px;
	font-size: 12px;
	}
.TM_r_content {padding:5px;}

.TM_info_panel  {	
	color: #495c79;
	background-color: #F0F0F2;	
	border:#D6D6D6 solid 1px;
	padding:	5px 5px 5px 5px;	
}

span.geoipSpan{
	color: #555555;
	font-size: 12px;
	font-weight: normal;
	padding: 0;
}