.TM_manage_header {
	background:url(/design/default/image/bg_mail_list_header.gif) repeat-x;
	height:27px; line-height:27px;
	border:1px solid #C6C6C6; 
	font-size:12px;	
	position: relative;
	*z-index:-1;
}
	
	
.TM_manage_header div.arrow {
	background:url(/design/default/image/icon/ic_arrow_title.gif) no-repeat 6px 60%;
	padding-left:23px;
	padding-top:0px;
	font-weight:bold;
}

.TM_manage_header div.btn {
	position:absolute;
	top:4px; right:3px;
	#top:0; #right:3px;
	_top:0; _right:3px;	
}

table.TB_mailAdmin {width:100%;*width:;table-layout: fixed;
	border-left:#C6C6C6 solid 1px;
	border-right:#C6C6C6 solid 1px;
	}
table.TB_mailAdmin th {
	background:#f7f7f7;
	height:22px;
	font-weight:normal;
	border-right:1px solid #E8E8E8;
	border-bottom:1px solid #E8E8E8;
	}
table.TB_mailAdmin td {
	height:25px;
	border-right:1px solid #E8E8E8;
	border-bottom:1px solid #E8E8E8;
	padding-left:5px;
	}
table td.last {border-right:none}
table.TB_mailAdmin th.mail_box {width:100%;}

table.TB_mailAdmin th.mail_count {width:100px; white-space: nowrap;}
table.TB_mailAdmin th.mail_capacity {width:160px; white-space: nowrap;}
table.TB_mailAdmin th.mail_aging {width:100px; white-space: nowrap;}

table.TB_mailAdmin th.mailBox_name {width:200px;}
table.TB_mailAdmin th.proviso {width:100%;}
table.TB_mailAdmin td.TD_bar {padding-right:5px;}
table.TB_mailAdmin th.user_mailBox {height:28px; background: #FFFDF4;}
table.TB_mailAdmin th.user_mailBox a.btn_TB_modify {
	#vertical-align:top;
	#margin-top:1px;
	}
table th.last {border-right:none}
table td.last{border-right:none}
table tr.last td{border-bottom:none}

table.TB_tagAdmin {width:100%;*width:;table-layout: fixed;
	border-left:#C6C6C6 solid 1px;
	border-right:#C6C6C6 solid 1px;
}
table.TB_tagAdmin th {
	background:#f7f7f7;
	height:22px;
	font-weight:normal;
	border-right:1px solid #E8E8E8;
	border-bottom:1px solid #E8E8E8;
	}
table.TB_tagAdmin td {
	height:25px;
	border-right:1px solid #E8E8E8;
	border-bottom:1px solid #E8E8E8;
	padding-left:5px;
	}
table.TB_tagAdmin th.tagName {width:100%;font-weight: bold;}
th.alignLeft {text-align:left;padding-left:5px;}
td.alignCenter {text-align:center}


.TM_fm_dfolder_wrap {padding:3px;border: #FFFFFF solid 2px;}
.TM_fm_ufolder_wrap {padding:3px;border: #FFFFFF solid 2px;}
.TM_fm_sfolder_wrap {padding:3px;border: #FFFFFF solid 2px;}
.TM_fm_shfolder_wrap {padding:3px;border: #FFFFFF solid 2px;}
.TM_fm_tag_wrap {border: #FFFFFF solid 2px;}

.ufolder_level1 {margin-left: 15px;}
.ufolder_level2 {margin-left: 25px;}

.TM_sfolder_query strong {color:#FF8000}

.TM_backupInfo {width:100%;height:50px;text-align: center;padding-top:10px;color:#495C79;}
.TM_backupInfo .TM_backupFolderName{color:#A00060;font-weight: bold;}
a.TM_mfolder {padding-left:3px;}
