.item_note_del {background:url(../image/icon/note_delete.gif) no-repeat center;}
.item_note_del_un{background:url(../image/icon/note_delete_b.gif) no-repeat center;}
.item_note_save {background:url(../image/icon/note_save.gif) no-repeat center;}
.item_note_save_un{background:url(../image/icon/note_save_b.gif) no-repeat center;}
.item_note_reply {background:url(../image/icon/note_reply.gif) no-repeat center;}
.item_note_reply_un{background:url(../image/icon/note_reply_b.gif) no-repeat center;}
.item_note_reject {background:url(../image/icon/note_reject.gif) no-repeat center;}
.item_note_reject_un{background:url(../image/icon/note_reject_b.gif) no-repeat center;}
.item_note_search_quick {background:url(../image/icon/note_search_quick.gif) no-repeat center;}
.item_note_search_quick_un{background:url(../image/icon/note_search_quick_b.gif) no-repeat center;}

.NT_df_inbox {background:transparent url(../image/icon/note_df_inbox.gif) no-repeat left 0;}
.NT_df_sent {background:transparent url(../image/icon/note_df_sent.gif) no-repeat left 0;}
.NT_df_save {background:transparent url(../image/icon/note_df_save.gif) no-repeat left 0;}
.NT_df_setting {background:transparent url(../image/icon/note_df_setting.gif) no-repeat left 0;}

.NT_mainWriteBtn{
	background:transparent url(../image/icon/note_write.gif) no-repeat left 50%;
	padding-left:19px;
	font-size: 12px;
}
.NT_mainReceiveBtn{
	background:transparent url(../image/icon/note_receive.gif) no-repeat left 50%;
	padding-left:19px;
	font-size: 12px;
}

.noteFlagSE {
background:transparent url(../image/icon/note_df_inbox_b.gif) no-repeat left 0;
display:block;
height:17px;
width:16px;
}

.noteFlagUNSE {
background:transparent url(../image/icon/note_df_inbox.gif) no-repeat left 0;
display:block;
height:17px;
width:16px;
}

.readNoteReply{display:block;float:left;padding-left:17px;padding-right:10px;height:15px;background:transparent url(../image/icon/note_read_reply.gif) no-repeat left 0;}
.readNoteRecall{display:block;float:left;padding-left:17px;padding-right:10px;height:15px;background:transparent url(../image/icon/note_read_recall.gif) no-repeat left 0;}
.readNoteSave{display:block;float:left;padding-left:17px;padding-right:10px;height:15px;background:transparent url(../image/icon/note_read_save.gif) no-repeat left 0;}
.readNoteDelete{display:block;float:left;padding-left:17px;padding-right:10px;height:15px;background:transparent url(../image/icon/note_read_delete.gif) no-repeat left 0;}
.readNoteReject{display:block;float:right;padding-left:17px;height:15px;background:transparent url(../image/icon/note_read_reject.gif) no-repeat left 0;}

.writeNoteSend{display:block;float:left;padding-left:17px;padding-right:10px;height:15px;background:transparent url(../image/icon/note_write_send.gif) no-repeat left 0;}
.writeNoteMail{display:block;float:right;padding-left:17px;height:15px;background:transparent url(../image/icon/note_write_mail.gif) no-repeat left 0;}

.noteContent {width:98%;height:200px;padding:3px;}
.noteWordCountTd {text-align:right !important;}

.noteDescWrap {padding:10px 5px !important;background-color:#E2EAF7 !important;border: 1px solid #8DACDC !important;}
.notePreNext {text-align:right !important;padding-right:5px;}