#wl_top{
	height:46px;
	border-bottom:1px solid #C3CCD5;
}

div.titleBar_title {	
	background:url(../image/bar_on_bg.gif) repeat-x 0;
	height:22px; line-height:22px;	
	border-bottom:1px solid #b4ccf1;
	text-align: center;
	width:100%;
}
div.titleBar_title span.title_webfolder {
	color:#43678A; font-weight:bold;
}
	
div.quota_box {
	padding:8px 0px 8px 15px;
	border-bottom:1px solid #B4CCF1;}


#folder_tree{
	margin:0px;
	padding:5px;
	margin-left:10px;
	white-space: nowrap;
}
#folder_tree ul{	/* Sub menu groups */
	margin-left:0px;	/* Left spacing */
	padding-left:15px;
	display:;	/* Initially hide sub nodes */
	white-space: nowrap;

}
#folder_tree li{	/* Nodes */
	margin-top:3px;		
	list-style-type:none;
	vertical-align:middle;
	white-space: nowrap;

}
#folder_tree li a{	/* Node links */		
	text-decoration:none;
	padding-left:2px;
	white-space: nowrap;
}


#webfolderListTable {
	border-collapse:collapse;
	width:100%;*width:;	
	border-left:#ACACAC solid 1px;
	border-right:#ACACAC solid 1px;
	table-layout: fixed;	
}

#webfolderListTable tr:hover{background: #F4F9FD;}
#webfolderListTable th {
	margin : 0px;
	text-align: center;
	height: 27px;
	font-weight: normal;
	color:#505050;	
	border-bottom:#C6C6C6 solid 1px;
	background: url("../../default/image/bg_mail_list_header.gif");
}

#webfolderListTable th a {
	color:#505050;
	text-decoration: none;
}

#webfolderListTable th a.sortitem {
	color:#505050;
	text-decoration: none;	
}

#webfolderListTable .fileName{text-align: left; white-space: nowrap; padding-left:10px; overflow:hidden;text-overflow:ellipsis;}

.decoNone{
	text-decoration: none;
}

.webfolderTd{
	margin : 0px;
	text-align: center;
	height: 21px;
	font-weight: normal;
	color:#888888;
	border-bottom:#E8E8E8 solid 1px;
	padding: 2px 3px 2px 3px;
}

.menuBox {
	position : absolute;
	display : none;
	background:#EFEFEF none repeat scroll 0 0;
	border:1px solid #D0D0D0;
	height:25px;
	padding:5px 10px;
	text-align:left;
	width:177px;
	z-index:60;
}

.TM_attFile {font-size:12px; border:#CACACA solid 1px; background:#ffffff; width:100%;*width:95% ;height:20px;}
.TM_attList {font-size:12px; border:#CACACA solid 1px; width:100%;*width:95%; height:100px}

#webfolderShareListTable {
	border-collapse:collapse;
	width:100%;*width:;
	border:1px solid #E8E8E8;
	table-layout: fixed;	
}
#webfolderShareListTable th {
	background:#F7F7F7 none repeat scroll 0 0;
	border-right:1px solid #E8E8E8;
	height:28px;
	padding:0px 5px;
	width:80px;
	text-align:right;
	font-weight:normal;
}

#webfolderShareListTable td {
	
}

#webfolderShareListTable th a {
	color:#505050;
	text-decoration: none;
}

#webfolderShareListTable th a.sortitem {
	color:#505050;
	text-decoration: none;
	font-weight: bold;
}

#webfolderShareListTable .fileName{text-align: left; white-space: nowrap; padding-left:10px; overflow:hidden;text-overflow:ellipsis;}

#alluserOption {
	display: none;	
}

#copyandmove, #copyandmoveContent, .webfolder_subContent {
	height: 100%;
}

table.TB_webfolder {width:100%}
table.TB_webfolder th {width:90px}
table.TB_webfolder table.TB_webfolder2 {width:100%}
table.TB_webfolder2 ul li select.ST_folder1 {height:178px}
table.TB_webfolder2 ul li select.ST_folder2 {height:70px}
table.TB_webfolder2 td.btn_area {text-align:center}
table.TB_webfolder2 td.btn_center {text-align:center; width:60px;}
table.TB_webfolder2 table.TB_search {width:100%; margin-bottom:10px;}
table.TB_webfolder2 table.TB_search td.ID {width:65px}
table.TB_webfolder2 table.TB_search td.btn {width:86px}

table.TB_webfolder2 th {
	border-bottom:0px solid #E8E8E8 !important;
	border-right:0px solid #E8E8E8 !important;
}
table.TB_webfolder2 td {
	border-bottom:0px solid #E8E8E8 !important;
	border-right:0px solid #E8E8E8 !important;
}

ul.contentArea_to {margin-bottom:5px}
ul.contentArea_to select {
	margin-top:3px;
	width:100%; height:119px;
}
a.btn_addressAdd {
	display:inline-block;
	background:url(/design/common/image/btn/btn_TB_modify_left.gif) repeat-x left 0;
	height:19px; line-height:19px;
	padding-left:5px;
	text-decoration:none;
	}
a.btn_addressAdd span {
	display:inline-block;
	background:url(/design/common/image/btn/btn_addressAdd_right.gif) no-repeat right 0;
	height:19px;
	padding-right:10px;
	}
a.btn_addressDel {
	display:inline-block;
	background:url(/design/common/image/btn/btn_addressDel_left.gif) repeat-x left 0;
	height:19px; line-height:19px;
	padding-left:10px;
	text-decoration:none;
	}
a.btn_addressDel span {
	display:inline-block;
	background:url(/design/common/image/btn/btn_TB_modify_right.gif) no-repeat right 0;
	height:19px;
	padding-right:5px;
	}
	
a.btn_fileUp {
	display:inline-block;
	background:url(/design/common/image/btn/btn_fileUp.gif) no-repeat left 0;
	width:19px; height:17px;
	}
a.btn_fileDown {
	display:inline-block;
	background:url(/design/common/image/btn/btn_fileDown.gif) no-repeat left 0;
	width:19px; height:17px;
	margin-left:5px;
	}
	
div.grapharea {
	background:transparent url(../image/icon/menu_g_right.gif) no-repeat scroll right top;
	float:left;
	height:55px;
	margin:4px 4px 0px 24px;
	padding-right:5px;
}

div.grapharea span.graphspan {
	background:transparent url(../image/icon/menu_g_left.gif) no-repeat scroll left top;
	display:inline-block;
	height:100%;
	padding:0 0 0 5px;
}

.TM_webfolder_toolbar {
	background:#F0F0F2 none repeat scroll 0 0;
	border:1px solid #D6D6D6;
	padding:2px 2px 2px 10px;
}

.TM_webfolder_toolbar  span.title {	
	font-weight:bold; 
	color:#333;
	padding:0 10px 0 10px; 
	margin-left:10px;
}

.attach_title {background:url(../image/icon/ic_mail_file.gif) no-repeat 0 40%;}
.TM_attach_area {	
	border:1px solid #d6d6d6; border-top:none;
	background:#fffffff;
	padding:5px;
	text-align: center;
}