<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<appender name="TIMS_WEBMAIL" class="org.apache.log4j.ConsoleAppender">
	<param name="File" value="$LOGDIR/webmail/webmail.log"/>
	<param name="DatePattern" value="yyyyMMdd'.log'"/>
	<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="[%d{HH:mm:ss} %t] -%p %m%n"/>
	</layout>
</appender>

<appender name="TIMS_ACCESS" class="org.apache.log4j.ConsoleAppender">
	<param name="File" value="$LOGDIR/webmail/access.log"/>
	<param name="DatePattern" value="'P_'yyyyMMdd'.log'"/>	
	<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="[%d{HH:mm:ss} %t] -%p %m%n"/>
	</layout>
</appender>

<appender name="ACTIVE_SYNC" class="org.apache.log4j.ConsoleAppender">
	<param name="File" value="$LOGDIR/webmail/sync.log"/>
	<param name="DatePattern" value="yyyyMMdd'.log'"/>
	<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="[%d{HH:mm:ss} %t] -%p %m%n"/>
	</layout>
</appender>

<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
	<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="[%d{HH:mm:ss} %t] -%p %m%n"/>
	</layout>
</appender>

<logger name="org.apache">
	<level value="info"/>
	<appender-ref ref="STDOUT"/>
</logger>

<logger name="com.terracetech.tims">
	<level value="info"/>
	<appender-ref ref="TIMS_WEBMAIL"/>	  
</logger>

<logger name="com.terracetech.tims.mobile">
	<level value="info"/>
	<appender-ref ref="TIMS_WEBMAIL"/>	  
</logger>

<logger name="com.terracetech.tims.jmobile">
	<level value="info"/>
	<appender-ref ref="TIMS_WEBMAIL"/>	  
</logger>

<logger name="com.terracetech.tims.service">
	<level value="info"/>
	<appender-ref ref="TIMS_WEBMAIL"/>	  
</logger>

<logger name="com.terracetech.tims.service.aync">
	<level value="debug"/>
	<appender-ref ref="ACTIVE_SYNC"/>	  
</logger>

<logger name="com.terracetech.tims.webmail.common.log.PerformanceLogManager">
	<level value="info"/>
	<appender-ref ref="TIMS_ACCESS"/>	  
</logger>

<root>
	<level value="info"/>
	<appender-ref ref="STDOUT"/>
</root>

</log4j:configuration>

