<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Mobile Common Controllers -->
    <bean id="mobileLoginController" class="com.terracetech.tims.mobile.common.controller.LoginController">
        <property name="userAuthManager" ref="userAuthManager"/>
    </bean>
    <bean id="mobileWelcomeController" class="com.terracetech.tims.mobile.common.controller.WelcomeController"/>
    <bean id="mobileHomeController" class="com.terracetech.tims.mobile.common.controller.HomeController"/>
    <bean id="changeMailModeController" class="com.terracetech.tims.mobile.common.controller.ChangeMailModeController"/>

    <!-- Mobile Mail Controllers -->
    <bean id="mobileMailListController" class="com.terracetech.tims.mobile.mail.controller.MailListController">
        <property name="mailManager" ref="mailManager"/>
    </bean>
    <bean id="mobileMailReadController" class="com.terracetech.tims.mobile.mail.controller.MailReadController">
        <property name="mailManager" ref="mailManager"/>
    </bean>
    <bean id="mobileMailWriteController" class="com.terracetech.tims.mobile.mail.controller.MailWriteController"/>
    <bean id="mobileMailSendController" class="com.terracetech.tims.mobile.mail.controller.MailSendController">
        <property name="mailManager" ref="mailManager"/>
    </bean>
    <bean id="mobileMailWorkController" class="com.terracetech.tims.mobile.mail.controller.MailWorkController">
        <property name="mailManager" ref="mailManager"/>
    </bean>
    <bean id="mobileMailMdnController" class="com.terracetech.tims.mobile.mail.controller.MailMdnController">
        <property name="mailManager" ref="mailManager"/>
    </bean>

    <!-- Mobile Address Controllers -->
    <bean id="mobileAddressListController" class="com.terracetech.tims.mobile.addrbook.controller.AddressListController">
        <property name="addressbookManager" ref="addressbookManager"/>
    </bean>
    <bean id="mobileAddressViewController" class="com.terracetech.tims.mobile.addrbook.controller.AddressViewController">
        <property name="addressbookManager" ref="addressbookManager"/>
    </bean>
    <bean id="mobileAddressWorkController" class="com.terracetech.tims.mobile.addrbook.controller.AddressWorkController">
        <property name="addressbookManager" ref="addressbookManager"/>
    </bean>

    <!-- Mobile BBS Controllers -->
    <bean id="mobileBbsListController" class="com.terracetech.tims.mobile.bbs.controller.BbsListController">
        <property name="bbsManager" ref="bbsManager"/>
    </bean>
    <bean id="mobileBbsContentListController" class="com.terracetech.tims.mobile.bbs.controller.BbsContentListController">
        <property name="bbsManager" ref="bbsManager"/>
    </bean>
    <bean id="mobileBbsContentViewController" class="com.terracetech.tims.mobile.bbs.controller.BbsContentViewController">
        <property name="bbsManager" ref="bbsManager"/>
    </bean>
    <bean id="mobileBbsContentWriteController" class="com.terracetech.tims.mobile.bbs.controller.BbsContentWriteController">
        <property name="bbsManager" ref="bbsManager"/>
    </bean>
    <bean id="mobileBbsContentSaveController" class="com.terracetech.tims.mobile.bbs.controller.BbsContentSaveController">
        <property name="bbsManager" ref="bbsManager"/>
    </bean>
    <bean id="mobileBbsContentDeleteController" class="com.terracetech.tims.mobile.bbs.controller.BbsContentDeleteController">
        <property name="bbsManager" ref="bbsManager"/>
    </bean>
    <bean id="mobileBbsContentViewReplyController" class="com.terracetech.tims.mobile.bbs.controller.BbsContentViewReplyController">
        <property name="bbsManager" ref="bbsManager"/>
    </bean>
    <bean id="mobileBbsContentSaveReplyController" class="com.terracetech.tims.mobile.bbs.controller.BbsContentSaveReplyController">
        <property name="bbsManager" ref="bbsManager"/>
    </bean>
    <bean id="mobileBbsContentDeleteReplyController" class="com.terracetech.tims.mobile.bbs.controller.BbsContentDeleteReplyController">
        <property name="bbsManager" ref="bbsManager"/>
    </bean>

    <!-- Mobile Calendar Controllers -->
    <bean id="mobileMonthCalendarController" class="com.terracetech.tims.mobile.calendar.controller.MonthCalendarController">
        <property name="schedulerManager" ref="schedulerManager"/>
    </bean>
    <bean id="mobileWeekCalendarController" class="com.terracetech.tims.mobile.calendar.controller.WeekCalendarController">
        <property name="schedulerManager" ref="schedulerManager"/>
    </bean>
    <bean id="mobileViewCalendarController" class="com.terracetech.tims.mobile.calendar.controller.ViewCalendarController">
        <property name="schedulerManager" ref="schedulerManager"/>
    </bean>
    <bean id="mobileWriteCalendarController" class="com.terracetech.tims.mobile.calendar.controller.WriteCalendarController">
        <property name="schedulerManager" ref="schedulerManager"/>
    </bean>
    <bean id="mobileSaveCalendarController" class="com.terracetech.tims.mobile.calendar.controller.SaveCalendarController">
        <property name="schedulerManager" ref="schedulerManager"/>
    </bean>
    <bean id="mobileDeleteCalendarController" class="com.terracetech.tims.mobile.calendar.controller.DeleteCalendarController">
        <property name="schedulerManager" ref="schedulerManager"/>
    </bean>
    <bean id="mobileAssetCalendarController" class="com.terracetech.tims.mobile.calendar.controller.AssetCalendarController">
        <property name="schedulerManager" ref="schedulerManager"/>
    </bean>

    <!-- URL Mapping for Mobile Module -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <!-- Mobile Common -->
                <prop key="/mobile/login.do">mobileLoginController</prop>
                <prop key="/mobile/welcome.do">mobileWelcomeController</prop>
                <prop key="/mobile/home.do">mobileHomeController</prop>
                <prop key="/mobile/changeMode.do">changeMailModeController</prop>
                
                <!-- Mobile Mail -->
                <prop key="/mobile/mail/list.do">mobileMailListController</prop>
                <prop key="/mobile/mail/read.do">mobileMailReadController</prop>
                <prop key="/mobile/mail/write.do">mobileMailWriteController</prop>
                <prop key="/mobile/mail/send.do">mobileMailSendController</prop>
                <prop key="/mobile/mail/work.do">mobileMailWorkController</prop>
                <prop key="/mobile/mail/mdn.do">mobileMailMdnController</prop>
                
                <!-- Mobile Address -->
                <prop key="/mobile/address/list.do">mobileAddressListController</prop>
                <prop key="/mobile/address/view.do">mobileAddressViewController</prop>
                <prop key="/mobile/address/work.do">mobileAddressWorkController</prop>
                
                <!-- Mobile BBS -->
                <prop key="/mobile/bbs/list.do">mobileBbsListController</prop>
                <prop key="/mobile/bbs/contentList.do">mobileBbsContentListController</prop>
                <prop key="/mobile/bbs/contentView.do">mobileBbsContentViewController</prop>
                <prop key="/mobile/bbs/contentWrite.do">mobileBbsContentWriteController</prop>
                <prop key="/mobile/bbs/contentSave.do">mobileBbsContentSaveController</prop>
                <prop key="/mobile/bbs/contentDelete.do">mobileBbsContentDeleteController</prop>
                <prop key="/mobile/bbs/contentViewReply.do">mobileBbsContentViewReplyController</prop>
                <prop key="/mobile/bbs/contentSaveReply.do">mobileBbsContentSaveReplyController</prop>
                <prop key="/mobile/bbs/contentDeleteReply.do">mobileBbsContentDeleteReplyController</prop>
                
                <!-- Mobile Calendar -->
                <prop key="/mobile/calendar/month.do">mobileMonthCalendarController</prop>
                <prop key="/mobile/calendar/week.do">mobileWeekCalendarController</prop>
                <prop key="/mobile/calendar/view.do">mobileViewCalendarController</prop>
                <prop key="/mobile/calendar/write.do">mobileWriteCalendarController</prop>
                <prop key="/mobile/calendar/save.do">mobileSaveCalendarController</prop>
                <prop key="/mobile/calendar/delete.do">mobileDeleteCalendarController</prop>
                <prop key="/mobile/calendar/asset.do">mobileAssetCalendarController</prop>
            </props>
        </property>
        <property name="order" value="111"/>
    </bean>

    <!-- View Definitions for Mobile Module -->
    <bean id="mobileLogin" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/mobile/login.jsp"/>
    </bean>
    <bean id="mobileHome" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/mobile/home.jsp"/>
    </bean>
    <bean id="mobileMailList" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/mobile/mail/list.jsp"/>
    </bean>
    <bean id="mobileMailRead" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/mobile/mail/read.jsp"/>
    </bean>
    <bean id="mobileMailWrite" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/mobile/mail/write.jsp"/>
    </bean>
    <bean id="mobileAddressList" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/mobile/address/list.jsp"/>
    </bean>
    <bean id="mobileBbsList" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/mobile/bbs/list.jsp"/>
    </bean>
    <bean id="mobileCalendarMonth" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/mobile/calendar/month.jsp"/>
    </bean>
    <bean id="mobileSuccess" class="org.springframework.web.servlet.view.InternalResourceView">
        <property name="url" value="/mobile/success.jsp"/>
    </bean>
</beans>