.body {
	font-family: "MS PGothic","Osaka", "Sans-serif";
	font-size : 12px;
	line-height:16pt;
}

select, input, div, form, textarea, table {
	font-size : 12px;		
}

.TABLE_TITLE1 {
	font-weight:bold;
	color:#FFFFFF;
	text-decoration: none;
	line-height: 30px;
	background: #74a6cf;
}
.TABLE_TITLE2 {
	list-style-image: url(../images/icon_2.gif);
	background-color: #d4e8f6;
	line-height: 14pt;
	padding-top: 6px;
	padding-left: 20px;
	padding-bottom: 6px;
}
.TABLE_TITLE3 {
	font-weight: bold;
	color:FC7802;
	padding: 6pt 10pt 11pt 20pt;
	line-height: 10pt;
}
.TABLE_TEXT1 {
	display: block;
	line-height: 16px;
	margin-left: 6px;
}
.TABLE_COLUMN {
	background-color: #F1EFEF;
	text-align: center;
}
.TABLE_ROW {
	background-color: #EEF1FF;
	font-weight: bold;
	text-align: center;
}
.TABLE {
	line-height: 16pt;
}
.BODY_TITLE1 {
	color: #003399;
	font-weight: bold;
	text-indent: 6pt;
	margin-bottom: -16px;
	padding-bottom: -2px;
	line-height: 22pt;
}
.BODY_TITLE2 {
	color:#03207A;
	width: 100%;
	font-weight: bolder;
	margin-bottom: -160px;
	padding-bottom: -12px;
	border: none;
	background-color: #EDF2FE;
}
.BODY_TITLE3 {
	font-weight: bold;
	color: #03207A;
	line-height: 10pt;
	list-style-type: none;
}
.BODY_TITLE4 {
	font-weight: bold;
	color: #1D69AF;
}
.BODY_CAPTION {
	font-weight: bolder;
	text-align: center;
}
.BODY_NOTICE {
	padding: 3pt;
	margin: 2pt 6pt 2pt 100pt;
	clip:   rect(20px auto auto auto);
	border: 1pt ridge #D7D7D7;
}
.BODY_INDENT1 {
	text-indent: 14pt;
	vertical-align: baseline;
	padding-top: -10px;
	color: #FF0000;
}
li_NUMBER {
	list-style-image: url(../images/icon_2.gif);
}
A.TABLE {BORDER:none; CELLSPACING: 0; CELLPADDING:0;}
A.TABLE:VISITED{ COLOR:#03207A; TEXT-DECORATION:NONE;}
A.TABLE:LINK{ COLOR:#03207A; TEXT-DECORATION:NONE;}
A.TABLE:HOVER{ COLOR:#21A6A8; TEXT-DECORATION:NONE;}
A.TABLE:ACTIVE{ COLOR:#990033; TEXT-DECORATION:none;}

A.link {
	color: #FFFFFF;
	text-decoration: none;
}
A.visited {
	color: #03207A;
	text-decoration: none;
}
A.active {
	color: #990000;
}
a {selector-dummy: expression(this.hideFocus=true);} 

.STEP {
	font-style: normal;
	font-weight: bold;
	color: #2E6CBA;
	border-bottom: 1pt solid #2E6CBA;
	text-indent: 6pt;
}
a.link1 {
	text-decoration: none;
	color: #000000;
}
.TABLE_PRINT {
	padding: 6px 6px 12px 10px;
}
.LIST1 {
	font: 9pt/18px Arial, Helvetica, sans-serif;
	list-style: url(../images/member_icon.gif);
	margin-right: 10px;
}
.TABLE_LIST {
	margin-bottom: 2px;
	margin-top: 3px;
	margin-left: 20px;
}
.TABLE_LIST1 {
	margin-bottom: 2px;
	margin-top: -12px;
	margin-left: 30px;
}
.BODY_TEXT1 {
	margin-top: -10pt;
}
