/* Default style sheet for jQuery date picker v3.5.2. */
#datepick-div, .datepick-inline {	
	font-size: 11px;
	padding: 0;
	margin: 0;
	background: #ddd;
	color: #000;
	width: 185px;	
}
#datepick-div {
	display: none;
	border:#7EAFD8 solid 1px;
	z-index: 100; /*must have*/
}
.datepick-inline {
	float: left;
	display: block;
	border: 0;
}
.datepick-rtl {
	direction: rtl;
}
.datepick-dialog {
	padding: 5px !important;
	border: 4px ridge #ddd !important;
}
.datepick-disabled {
	position: absolute;
	z-index: 100;
	background-color: white;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
button.datepick-trigger {
	width: 25px;
	padding: 0px;
}
img.datepick-trigger {
	margin: 2px;
	vertical-align: middle;
}
.datepick-prompt {
	float: left;
	padding: 2px;
}
* html .datepick-prompt {
	width: 185px;
}
.datepick-control, .datepick-links, .datepick-header, .datepick {
	clear: both;
	float: left;
	width: 100%;
	color: #fff;
}
.datepick-control {
	background: #ffffff;
	padding: 2px 0px;
}
.datepick-links {
	background:transparent url(../image/bg_date_link.gif);
	padding: 2px 0px;
	height:17px;
}
.datepick-control, .datepick-links {
	font-weight: normal;
	font-size: 11px;
	border-bottom: #9EBEED solid 1px;
}
.datepick-links label {
	padding: 2px 5px;
	color: #888;
}
.datepick-clear, .datepick-prev {
	float: left;
	width: 34%;
}
.datepick-rtl .datepick-clear, .datepick-rtl .datepick-prev {
	float: right;
	text-align: right;
}
.datepick-current {
	float: left;
	width: 30%;
	text-align: center;
}
.datepick-close, .datepick-next {
	float: right;
	width: 34%;
	text-align: right;
}
.datepick-rtl .datepick-close, .datepick-rtl .datepick-next {
	float: left;
	text-align: left;
}
.datepick-header {
	background : #F7F7F7;
	text-align: center;	
	height: 25px;;
	padding-top:5px;
	
}
.datepick-header select {	
	color: #495C79;
	border: 0px;
	background : #FFFFFF;
	border:#B5B5B5 solid 1px;	
}
.datepick-header span {
	position: relative;
	top: 3px;
}
.datepick {
	background: #ccc;
	text-align: center;
	font-size: 100%;
}
.datepick a {
	display: block;
	width: 100%;
}
.datepick-title-row {
	background: #F8F8F8;	
}
.datepick-title-row th {
	text-align: center;
	font-weight: normal;
	border:#E8E8E8 solid 1px;
	height:25px;
	height:25px;
	color:#929292;
}
.datepick-days-row {
	background: #FFFFFF;
	color: #666666;
	height:28px;
	font-size:11px;
}
.datepick-week-col {
	background: #777;
	color: #fff;
}
.datepick-days-cell {
	color: #666666;
	font-size:11px;
	border: 1px solid #ddd;
}
.datepick-other-month {
	background: #fff;
}
.datepick-week-end-cell {
	background: #FFFFFF;
}

.datepick-week-end-cell a {
	color:#FF3F00;
}
.datepick-title-row .datepick-week-end-cell {
	background: #F8F8F8;
}
.datepick-week-over {
	background: #ddd;
}
.datepick-unselectable {
	color: #888;
}
.datepick-today {
	background: #F7F7F7;
}
.datepick-current-day {
	font-weight: bold;
	color:#000000;
	text-decoration: underline;	
}
.datepick-days-cell-over {
	background: #E6F3FF;
}
.datepick-status {
	background: #ddd;
	width: 100%;
	font-size: 80%;
	text-align: center;
}
#datepick-div a, .datepick-inline a {
	cursor: pointer;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-size:11px;
}
.datepick-inline .datepick-links a {
	padding: 0 5px !important;
}
.datepick-control a, .datepick-links a {
	padding: 2px 5px !important;
	color:#407CB2;
	font-size: 12px !important;
	font-weight: bold;
}
.datepick-title-row a {
	color: #eee;
}
/*.datepick-control a:hover {
	background: #fdd;
	color: #333;
}*/
/*.datepick-links a:hover, .datepick-title-row a:hover {
	background: #ddd;
	color: #333;
}*/

.datepick-title-row a:hover {
	background: #ddd;
	color: #333;
}
.datepick-multi .datepick {
	border: 1px solid #777;
}
.datepick-one-month {
	float: left;
	width: 185px;
}
.datepick-new-row {
	clear: left;
}
/* ___________ IE6 IFRAME FIX ________ */
.datepick-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -1px; /*must have*/
    left: -1px; /*must have*/
    width: 187px; /*must have*/
    height: 187px; /*must have*/
}
