.cal_hsplitbar {
	height:6px;
	background: #F2F2F2;
	border-top:#D6D6D6 solid 1px;
	border-bottom:#D6D6D6 solid 1px;
}
.cal_hsplitbar.active, .cal_hsplitbar:hover {
	background:#797979;
}

.TM_scheduler_basicTB {
	width:100%;*width:;
	table-layout: fixed;
}
td.Holidays {background:#fffdf4; color:#ff714d; padding-left:5px}
td.sunday {background:#fffdf4}
td.today {background:#f1f7fd}
td.numTD {
	background:#f7f7f7;
	border-right:1px solid #dfdfdf;	border-bottom:1px solid #dfdfdf;
	font-size:11px; text-align:center; color:#727272;
	width:70px;
	height:25px;
	white-space: nowrap;
	}
td.timeTD {
	background:#f7f7f7;
	border-right:1px solid #dfdfdf;	border-bottom:1px solid #dfdfdf;
	font-size:11px; text-align:right; color:#727272;
	padding-right:7px;	
	width:63px;
	height:25px;
	white-space: nowrap;
	}
	
.mail_body_tabmenu {
	background:0 !important;
	height:0px !important;
	margin-top:0px !important;
}

.TM_schedulerToday {
	background:transparent url(../image/icon/icon_schedule_today.gif) no-repeat scroll left 50%;
	font-size:12px;
	padding-left:19px;
}

.TM_schedulerAdd {
	background:transparent url(../image/icon/icon_schedule_add.gif) no-repeat scroll left 50%;
	font-size:12px;
	padding-left:21px;
}

/********** MONTH **********/
#date_month {
	background:url(../image/tabMenu_downArea_left.gif) repeat-x 0 0;
	width:100%;
	text-align:center;
	height:47px;
}
#date_month div.leftArea{
	background:url(../image/tabMenu_downArea_right.gif) no-repeat right 0;
	height:37px;
	padding-top:10px;
}
#date_month div.rightArea {
	position:absolute;
	top:75px;
	right:20px;
}
#date_month span.year {
	font-weight:bold;
}
#date_month a.prev{
	background:url(../image/btn/btn_date_pre_out.gif) no-repeat;
	width:18px; 
	height:28px;
	display:inline-block;
}
#date_month a.prev:hover{background:url(../image/btn/btn_date_pre_over.gif) no-repeat}
#date_month a.prev:active{background:url(../image/btn/btn_date_pre_click.gif) no-repeat}
#date_month span.month_num {
	font-size:30px;
	font-weight:bold;
}
#date_month span.month_text {
	font-size:16px;
	font-weight:bold;
	line-height:30px;
}
#date_month a.next{
	background:url(../image/btn/btn_date_next_out.gif) no-repeat;
	width:18px; 
	height:28px;
	display:inline-block;
}
#date_month a.next:hover{background:url(../image/btn/btn_date_next_over.gif) no-repeat}
#date_month a.next:active{background:url(../image/btn/btn_date_next_click.gif) no-repeat}
#date_month span.lunar {

}


/********** WEEK **********/
.scheduler_week_TB {	
	border-top:1px solid #c6c6c6; 
	border-left:1px solid #c6c6c6; 
	border-right:1px solid #a5a5a5;
	margin-top:1px;
}
#scheduler_week {
	border-collapse:collapse;
	table-layout: fixed;
}
#date_month span.week_num {
	font-size:15px;
	font-weight:bold;
	vertical-align:super;
}
.schedulerMonth {
	border-collapse:collapse;
	border-top:1px solid #D6D6D6;
	border-left:1px solid #a5a5a5;
	border-right:1px solid #a5a5a5;
	border-bottom:1px solid #a5a5a5;	
	width:100%;*width:;
	table-layout: fixed;
	margin-top:1px;
	}
.sub_schedulerMonth {
	border-top:0px solid #D6D6D6;
	margin-top:0px;
}
#scheduler_day {
	border-top:#ACACAC solid 1px;
	border-left:#ACACAC solid 1px;
	table-layout: fixed;
	padding:0px 0px 0px 0px;
	border-collapse:collapse;
	height : 450px;
	width:100%;*width:;
	table-layout: fixed;
	}
#scheduler_process {
	table-layout: fixed;
	padding:0px 0px 0px 0px;
	border-collapse:collapse;
	border-left:#ACACAC solid 1px;
	border-right:#ACACAC solid 1px;
	}
#week_process {
width:100%;
height:100%;
}

#week_process table {
	border-top:#ACACAC solid 1px;
	border-left:#ACACAC solid 1px;
	border-bottom:#ACACAC solid 1px;
	table-layout: fixed;
	padding:0px 0px 0px 0px;
	border-collapse:collapse;
	width:100%;
	height:100%;
}
#week_process td {
border-right:#ACACAC solid 1px;
}
.weekDottedTD {
	border-bottom:1px dotted #E8E8E8;
	border-right:1px dotted #E8E8E8;
	}
.schedulerProcessTd {
	border-right:#e0dedf dotted 1px;
	border-bottom:#e0dedf solid 1px;
	}

.schedulerProcessDate {
	width: 100%;
	vertical-align: top;
	height:30px;
}

.timeplan {
font-family:dotum,arial,sans-serif;
font-size:11px;
position:absolute;
z-index:20;
background-image:url(../image/icon/ic_graph_time.gif);
margin: 0px 1px;
color:#644424;
cursor:pointer;
}




/********** DAY **********/
table.dayScheduler_list {
	border-collapse:collapse;
	width:100%;*width:;
	table-layout: fixed; 
	border-left:1px solid #c6c6c6;
	border-right:1px solid #a5a5a5;
	border-top:1px solid #d6d6d6;
	margin-top:1px;
	}

td.schedulerTD {
	padding-left:10px;
	border-bottom:1px solid #dfdfdf;
	}
td.schedulerTD table{
	border-collapse:collapse;
	width:100%;
	}
table.dayScheduler_list td.schedulerTD a:hover{
	text-decoration:underline;
	}
table.dayScheduler_list td.schedulerTD:hover {
	background:#f1f7fd;
	}
table.dayScheduler_list td.times {
	width:72px;
	color:#9a9a9a;
	font-size:11px;
	}
#scheduler_process td.dottedTD {
	border-bottom:1px dotted #dfdfdf;
	}

.schedulerTable {
	margin:0; padding:0;
	width: 100%; height:100%;
	border-collapse:collapse;
	table-layout: fixed;
	}
.schedulerDateTd {
	vertical-align:top;
	padding:5px;
	}
.prevNextTd {
	color:#DCDCDC;
}

.calendar_s_day td.prevNext a{color:#DCDCDC;}

.scheduleDiv {
	position:relative;	
	height:100%;
}
.progressScheduleDiv { 
	height:100%;	
}

.scheduleMonthTd {
	margin : 0px;
	padding:0px 0px 0px 0px;
	vertical-align: top;
	height: 80px;	
}
.scheduleWeekTd {
	height:20px;
	}
.scheduleDayTd {
	height:20px;	
}

.scheduleHover {
	border-width:1px;
	border-style:solid;
	border-color:#FF8A3A;	
}

.dateTd {
	text-align:center;
	height:19px; line-height:19px;
	border-right:#dcdcdc solid 1px;
	border-bottom:#dcdcdc solid 1px;
	background:#f1f1f1;
	white-space: nowrap;
	}

.schedulerLineTd {
	border-right:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	}
table.today{
	background:#f1f7fd;
	}
table.sunday{
	background:#fffdf4;
	}

.plan {
font-size:11px;
position:absolute;
z-index:20;
background:url(../image/icon/ic_graph.gif) repeat-x center left;
color:#644424;
overflow:hidden;
text-overflow:ellipsis;
}

.share {
background:url(../image/icon/ic_graph_share.gif) repeat-x center left !important;
color:#ffffff !important;
border:1px solid #00AA00 !important;
}

.myShare {
background:transparent url(../image/icon/ic_scheduler_share.gif) no-repeat scroll left 50%;
padding-left:16px;
}

.plan_cell {
	width: 14%;
}

.planLine {
	border:1px solid #FE8000;
}
.plan .title {
margin-left:2px;
}

.schTable {
table-layout:fixed;
width:100%;
}

.schDiv {
overflow:hidden;
text-align:left;
white-space:nowrap;
text-overflow:ellipsis;
float:left;
width:100%;
font-size:11px;
cursor:pointer;
}

.planAll {
font-family:dotum,arial,sans-serif;
font-size:11px;
position:absolute;
z-index:40;
width : 150px;
color : #000000;
display: none;
background-color: #FFFFFF;
cursor:pointer;
padding: 1px 0px 0px 1px;
border:2px solid #589aeb;
}

.planAllBody {
font-family:dotum,arial,sans-serif;
font-size:11px;
background:url(../image/icon/ic_graph.gif) repeat-x center left;
color:#644424;
margin-bottom: 1px;
}

.b1 {
height:1px;
margin:0 3px;
overflow:hidden;
}

.b2 {
height:2px;
margin:0 1px;
overflow:hidden;
}


.nogutter {
border-left:1px solid #CCDDEE;
}
.vrule {
position:relative;
top:100;
}

.timePick {
	position:absolute;
	width:120px;
	height:50px;
	background:#F2F9FF none repeat scroll 0 0;
	border:1px solid #99AABC;
	display:none;
	z-index:60;
	text-align: center;
	padding: 5px 5px;
}

.planDetail{
	border-top:1px double #E3EBEE;
	margin-top:8px;
}

.repeatControl {	
	width:230px;
	height:280px;
	background:#F2F9FF none repeat scroll 0 0;
	border:1px solid #99AABC;
	display:none;
	z-index:1000;
	text-align: left;
	padding: 5px 10px;
}
.repeatControl p {
	margin-top: 5px;
}

.TM_F_POINT {color:#ff714d}
.TM_F_POINT2 {color:#5a94c5; border-right:none;}
.TM_F_POINT3{color:#ff714d}
.TM_F_POINT4{color:#5a94c5}
.TM_F_POINT5{color:#555555}

/********** Left Calendar **********/
.calendar_s_date {
	background:url(../image/calendar_s_bg.gif) repeat-x;
	height:28px; line-height:28px;
	text-align:center;
	border-bottom:1px solid #ffffff;
	}
.calendar_s_date a{
	display:inline-block;
	width:17px; height:19px; line-height:19px;
	text-indent:-3000px;
	}
.calendar_s_date a.prev {background:url(../image/btn/btn_calendar_s_link_left.gif) no-repeat 0 0;}
.calendar_s_date a.next {background:url(../image/btn/btn_calendar_s_link_right.gif) no-repeat 0 0;}
.calendar_s_date a.prev:hover {background:url(../image/btn/btn_calendar_s_hover_left.gif) no-repeat 0 0;}
.calendar_s_date a.next:hover {background:url(../image/btn/btn_calendar_s_hover_right.gif) no-repeat 0 0;}
.calendar_s_date a.prev:active {background:url(../image/btn/btn_calendar_s_active_left.gif) no-repeat 0 0;}
.calendar_s_date a.next:active {background:url(../image/btn/btn_calendar_s_active_right.gif) no-repeat 0 0;}
.calendar_s_date span.date {font-weight:bold; color:#000;}

.calendar_s_day {width:100%; border-collapse:collapse; text-align:center;}
.calendar_s_day tr.title {background:#f1f1f1;height:19px;}
.calendar_s_day tr.title td {
	height:19px;
	font-size:10px; color:#a1a1a1;
	border:none; border-bottom:1px solid #dcdcdc;
	}
.calendar_s_day td{
	width:14%; height:28px;
	border-bottom:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	font-size:11px;
	}
.calendar_s_day td a {display:inline-block; width:100%; height:28px; line-height:28px;}
.calendar_s_day td a:hover {
	background:#f1f1f1; text-decoration:underline;
	line-height:29px;
	}

.calendar_s_day td.sunday {width:15%;}
.calendar_s_day td.sunday a{color:#ff714d;}
.calendar_s_day td.saturay {width:50%; border-right:none;}
.calendar_s_day td.saturay a{color:#5a94c5;}
.calendar_s_day td.today {background:#e6f3ff;}
.calendar_s_day td.today a{color:#000;}
.calendar_s_day a.ok {font-weight:bold; color:#000; text-decoration:underline;}
#m_contentMain {
	border-top:none;
	border-right:none;
	}
#m_contentSub {
	border-left:1px solid #c6c6c6;
	border-right:1px solid #a5a5a5;
	border-bottom:1px solid #a5a5a5;
	}
.dragBar {border: 1px solid #fcd113; background: #f8da4e url(/design/common/image/style1/f8da4e_40x100_textures_02_glass_55.png) 50% 50% repeat-x; color: #915608; }

.IP_calendar {
background:transparent url(../image/IP_calendar_bg.gif) no-repeat scroll right 40%;
border:1px solid #CCCCCC;
color:#666666;
height:17px;
line-height:18px;
padding-left:3px;
width:130px;
}
.IP_calendar2 {
background:transparent url(../image/IP_calendar_bg2.gif) no-repeat scroll right 40%;
border:1px solid #CCCCCC;
color:#666666;
height:17px;
line-height:18px;
padding-left:3px;
width:130px;
}

/*************Schedule_add************/
table.TB_scheduleAdd {
width:100%;
border:1px solid #E8E8E8;
}
table.TB_scheduleAdd th {
background:#F7F7F7 none repeat scroll 0 0;
border-right:1px solid #E8E8E8;
height:28px;
padding:0 5px;
width:70px;
text-align:right;
font-weight:normal;
}
table.TB_scheduleAdd td {
padding:0 20px 0 7px;
}
.monthSubRepeat {
	padding-left:20px;
}
/*************Schedule_view************/
table.TB_schedule_reference {
width:100%;
border:1px solid #E8E8E8;
}
table.TB_schedule_reference td {
padding:5px 10px;
}
table.TB_schedule_reference th {
background:#F7F7F7 none repeat scroll 0 0;
border-right:1px solid #E8E8E8;
padding:5px 5px;
width:70px;
text-align:right;
font-weight:normal;
}

/*************Schedule_share************/
table.TB_scheduleShare {
width:100%;
border-bottom-width:0px;
}
table.TB_scheduleShare th {
background:#F7F7F7 none repeat scroll 0 0;
border-right:1px solid #E8E8E8;
height:28px;
padding:0px 5px;
width:120px;
text-align:right;
font-weight:normal;
}
table.TB_scheduleShare td {
padding:0px 10px 0px 10px;
}

.TM_share_tree_wrapper {
	clear: both;
	margin-left:15px;
	border:#ffffff solid 2px;
}
/*************Schedule_search************/
#search_table {
	border-collapse:collapse;
	border-top:1px solid #a5a5a5;
	width:100%;
	padding:0px 0px 0px 0px;
	margin : 0px;
}
	
#search_table td{
	padding-left:10px;
	height:25px; line-height:25px;
	border-right:#dcdcdc solid 1px;
	border-bottom:#dcdcdc solid 1px;
	font-family:"Tahoma","Gulim","Verdana";
	font-size:12px;
}
#search_table tr.odd{
	background:#e6f3ff;
}

#search_share_table {
	border-collapse:collapse;
	border-top:1px solid #a5a5a5;
	width:100%;
	padding:0px 0px 0px 0px;
	margin-top : 30px;
}

#search_share_table td{
	padding-left:10px;
	height:25px; line-height:25px;
	border-right:#dcdcdc solid 1px;
	border-bottom:#dcdcdc solid 1px;
	font-family:"Tahoma","Gulim","Verdana";
	font-size:12px;
}

#search_share_table tr.odd{
	background:#ABDEC6;
	color: #FFFFFF;
}

.inputPane {
	padding:3px;
}
.inputSelectWrapper{
	float: left;
	margin-left: 3px;
}
.inputSelectRightWrapper{
	padding-left: 15px;
	display:none;
}
.inputSelectText{
	float: left;
	margin-top: 3px;
	margin-left: 3px;
}
.drag-over{
	background:#EEFDFF url(../image/logo_bg.gif) repeat-x scroll 0 0;
}
.dragHelper {
	background:url(../image/icon/ic_schedule_drag.gif) repeat-x center left;
	border:1px solid #3D83C1;
	width:100px;
	overflow:hidden;
	text-overflow:ellipsis;
	padding:3px;
	text-align:left;
	color:#ffffff;
	white-space:nowrap;
}
.scheduleContent {
	height:100px;
	overflow-X:hidden;
	overflow-Y:auto;
	scrollbar-face-color:#ffffff;
	scrollbar-shadow-color:#d2e5f4;
	scrollbar-highlight-color:#d2e5f4;
	scrollbar-3dlight-color:#ffffff;
	scrollbar-darkshadow-color:#ffffff;
	scrollbar-track-color:#ffffff;
	scrollbar-arrow-color:#d2e5f4;
}

.planCount {
	color: #589AEB;
	font-weight: bold;
}

.planCount:hover {
	color: #589AEB;
	font-weight: bold;
}

table.TB_cols2_content {
	width:500px !important;
	margin-top: 10px;
}
table.TB_cols2_content td {
	padding:0px;
}
table.TB_cols2_content td.btnAreaTd {
	width:80px; 
	vertical-align:top; 
	padding:0px;
}
table.TB_cols2_content td.btnAreaTd ul li{margin-top:5px;}

td.zeropadding {
	padding:0px !important;
}

.schedulerGroupHelpWraper {
	position:relative;
	width:220px;
	left:20px;
	top:-45px;
}
.schedulerGroupHelp {
	position:absolute;
	background-color:#E4F2FF;
	border:1px solid #3D83C1;
	padding:2px;
	display:none;
}

.shareGroupWraper {
	border:2px solid #FFFFFF;
}

.modifyRepeat {
	display:none;
	font-size:11pt;
	font-weight:bold;
}

.deleteRepeat {
	display:none;
	font-size:11pt;
	font-weight:bold;
}

.modifyRepeatSub {
	display:none;
	padding:2px;
}

.deleteRepeatSub {
	display:none;
	padding:2px;
}

.downloadOutlookNotice span {
	display:inline-block;
	font-weight:bold; 
	vertical-align:top; 
	line-height: 30px;
	height: 30px;
	padding-left:23px;
	background:url(/design/common/image/icon/ic_arrow_title.gif) no-repeat scroll 6px 45%;
}

.downloadOutlookBody {
	border-top: 1px solid #C6C6C6; 
	border-left: 1px solid #C6C6C6; 
	border-collapse: collapse;
}

.downloadOutlookButtonWrap {
	padding:20px 5px 30px 5px;
	margin-bottom: 30px;
	text-align:center;
	border-bottom:1px dashed #D4D4D4;
}

.downloadOutlookButtonWrap div {
	padding:10px 0px;
	background-color:#3D83C1;
	color:#ffffff;
	width:200px;
	font-weight:bold;
	cursor:pointer;
	margin: auto;
	text-align:center;
}

.ShareGroupList {
	padding-bottom: 50px;
}

.outlookExTitle {
	margin: 10px 5px 10px 5px;
	padding: 2px;
	font-weight:bold;
}
.outlookExWrap {
	border:1px solid #5582D5;
	background-color: #F2F2F2;
	margin: 5px 100px 50px 100px;
	padding: 10px;
	text-align: center;
}

.outlookExWrap div {
	margin-bottom: 10px;
}

.schedulerLeftMenuDiv {
	height:15px;
	margin:8px 0 5px 8px;
}

.schedulerLeftSubMenuDiv {
	clear:both;
	margin-left:16px;
	margin-bottom: 10px;
}

.schedulerLeftSubMenuTitleDiv {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-right: 55px;
}

.assetIconWrap {
	margin-left: 10px;
	clear:both;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}

.assetIconTitle {
	background:transparent url(../image/icon/ic_scheduler_asset.png) no-repeat scroll left 50%;
	padding-left: 20px;
	padding-top: 3px;
	border:2px solid #FFFFFF;
	cursor: pointer;
}

.assetCategoryDescWrap {
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 5px 10px 5px 0px;
}

.assetControl {	
	width:300px;
	height:140px;
	background:#F2F9FF none repeat scroll 0 0;
	border:1px solid #99AABC;
	display:none;
	z-index:1000;
	text-align: left;
	padding: 5px 10px;
}

.assetControl .assetName {
	float: left;
	width: 100px;
	overflow: hidden;
	padding-top: 3px;
	text-align: right;
	white-space: nowrap;
}

.assetControl .assetSelect {
	float: left;
	width: 160px;
	padding-left: 5px;
}

.holidayWrap {
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}

.tagimg_base {
height:13px !important;
min-height:13px !important;
min-width:14px !important;
width:14px !important;
}

.timg_008000 {
background:url("../image/icon/ic_scheduler_share.gif") no-repeat scroll 0 0 transparent !important;
}

.sViewTitle {
	position: absolute;
	top: 0px;
	right: 30px;
	padding-top: 1px;
}