.input_style1 {border:1px solid #CCCCCE; width:100%; height:18px}
.input_style2 {border:1px solid #CCCCCE; width:50px; height:18px}
.input_style1:hover {border:1px solid #6A99C3}
.input_style2:hover {border:1px solid #6A99C3}

/********** Tree List **********/

.TM_addrPersonal{
	/*background:transparent url(../image/icon/icon_addr_personal.gif) no-repeat left 50%;*/
	padding-right:15px;
	font-size: 12px;
	color:#FFFFFF;
}

.TM_addrPublic{
	/*background:transparent url(../image/icon/icon_addr_public.gif) no-repeat scroll left 50%;*/
	padding-left:15px;
	font-size: 12px;
	color:#FFFFFF;
}

.rightAddrBtn span{
	background:transparent url(../image/icon/icon_addr_public.gif) no-repeat scroll left top;
	padding-left:20px;
}

#privateTreeviewer{
	line-height:170%;
	margin:10px 0 10px 8px;
}

#privateTreeviewer ul {
	margin-left:20px;
}

#privateTreeviewer li {
	height: 20px;
}

.icon_address {
	/*background:url(../image/icon/icon_leftMenu_sign.gif) no-repeat left 0 !important;*/
	background:url(../image/icon/ic_dot.gif) no-repeat scroll 8px center transparent !important;
	padding-left:17px !important;
}

.tree-toolbar{
	float: right;
	margin-right: 5px;
}

.tree-toolbar a{	
	color:#878988;
}

.treeNodeHeight {
	height:18px;
	}

#privateGroups{
	margin-left:20px;
}

#privateTreeviewer span.group a {
	background:url(../image/icon/icon_plus.gif) no-repeat left 30%;
	padding-left:19px;
}

#privateTreeviewer span.folder {
	background:url(../image/icon/icon_plus.gif) no-repeat left 30%;
	padding-left:19px;
}

#privateTreeviewer span.closePopGroup {
	background:url(../image/icon/icon_plus.gif) no-repeat left 30%;
	padding-left:19px;
}

#privateTreeviewer span.openPopGroup {
	background:url(../image/icon/icon_minus.gif) no-repeat left 30%;
	padding-left: 20px;
}

#sharedTreeviewer{
	margin-left:20px;
	line-height:170%;
	margin:10px 0 10px 8px;
}

#sharedTreeviewer span.closePopGroup {
	background:url(../image/icon/icon_plus.gif) no-repeat left 30%;
	padding-left:19px;
}

#sharedTreeviewer span.openPopGroup {
	background:url(../image/icon/icon_minus.gif) no-repeat left 30%;
	padding-left: 20px;
}

#sharedTreeviewer ul {
	margin-left:20px;
}

#sharedTreeviewer li {
}

#sharedTreeviewer li.collapsable div.group a{
	background:url(../image/icon/icon_minus.gif) no-repeat left 30%;
	padding-left: 20px;
}

#sharedTreeviewer li.collapsable div.folder a{
	background:url(../image/icon/icon_minus.gif) no-repeat left 30%;
	padding-left: 20px;
}

#sharedTreeviewer li.expandable div.group a{
	background:url(../image/icon/icon_plus.gif) no-repeat left 30%;
	padding-left: 20px;
}

#sharedTreeviewer li.expandable div.folder a{
	background:url(../image/icon/icon_plus.gif) no-repeat left 30%;
	padding-left: 20px;
}

#sharedTreeviewer table.treeNodeWrapperTable a{
	background:url(../image/icon/icon_plus.gif) no-repeat left 30%;
	padding-left: 20px;
}

/********** Address List **********/
.addr_div_ellipsised{
	overflow:hidden;
	text-overflow:ellipsis;
	
	}
	
.address_title {
	/*background:url(../image/bg_mail_list_header.gif) repeat-x;*/
	line-height:27px;
	padding-left:3px;
	position:relative;
	border-left: #CACACA solid 1px;
	border-right: #CACACA solid 1px;
	border-bottom: #CACACA solid 1px;
	background-color:#F8F6FA;
	}
	
	
/********** Address List Table **********/

.TM_addr_list_header {
	border-collapse:collapse;
	width:100%;*width:;
	table-layout: fixed;	
	color:#727272; text-align:left;
	padding-left:5px;
	border-left: #CACACA solid 1px;
	border-right: #CACACA solid 1px;
	}
.TM_addr_list_header th {
	background:#f1f1f1;	
	border-bottom:1px solid #dcdcdc;
	text-align:center;
	font-weight:normal;
	height:25px;
	}
.TM_addr_list_body{
	border-left: #CACACA solid 1px;
	border-right: #CACACA solid 1px;	
}
.address_list table {
	border-collapse:collapse;
	width:100%;*width:;
	table-layout: fixed;	
	color:#727272; text-align:left;
	padding-left:5px;	
	}
.address_list table th {
	background:#f1f1f1;
	height:19px; line-height:19px;
	border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;
	text-align:center;
	font-weight:normal;
	}
.address_list tr:hover {background:#f1f7fd}
.address_list table th.box {width:30px}
.address_list table th.last {border-right:none}
.address_list table td {
	height:22px;
	border-right:1px dotted #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	padding-left:5px;
	background-color: #ffffff;
	}
.address_list table td.center {
	height:22px;
	border-right:1px dotted #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	text-align:center;
	padding-left:0px;
	}
	
.address_list table.treeNodeWrapperTable td {
	height:22px;
	border-right:0px dotted #e8e8e8;
	border-bottom:0px solid #e8e8e8;
	}
#a_contentSub table.treeNodeWrapperTable td {
	height:22px;
	border-right:0px dotted #e8e8e8;
	border-bottom:0px solid #e8e8e8;
	padding-left: 0px;
	}
	
.address_subContent div.bar_on {
	background:url(../image/bg_tbar.gif) repeat-x;
	height:31px; line-height:2.1em;
	padding-left:5px;	
	border-bottom:#C3CCD5 solid 1px;
	}
.address_subContent div.bar_off {
	background:url(../image/bg_tbar.gif) repeat-x;
	height:31px; line-height:2.1em;
	padding-left:5px;	
	border-bottom:#C3CCD5 solid 1px;
	}
.address_subContent div.bar_off:hover {background:url(../image/bg_tbar.gif) repeat-x}
.address_subContent div.bar_on a.info {
	display:block;
	background:url(../image/icon/ic_arrow_up.gif) no-repeat right 50%;
	margin-right:10px;
	color:#333333; font-weight:bold; text-decoration:none;
	}
.address_subContent div.bar_off a.info {
	display:block;
	background:url(../image/icon/ic_arrow_down.gif) no-repeat right 50%;
	margin-right:10px;
	color:#333333; font-weight:bold; text-decoration:none;
	}
.address_subContent div.bar_on a.info span {background:url(../image/icon/icon_plus2.gif) no-repeat left 0; padding-left:15px}
.address_subContent div.bar_off a.info span {background:url(../image/icon/icon_minus2.gif) no-repeat left 0; padding-left:15px}
.address_subContent table.TB_content {
	border-collapse:collapse;
	width:100%;
	}
.address_subContent table td.title {
	background:#f7f7f7;
	width:10%; height:28px;
	border-right:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
	color:#727272; text-align:center;
	}
.address_subContent table td.content {
	padding-right:7px;
	border-right:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
	}
.address_subContent table td.addr {
	padding-right:5px;
	border-bottom:1px solid #e6e6e6;
	}
	
	
#ml_btnFMain2 {	
	background:url(../image/ml_btn_bg.gif);
	height:56px;
	border-bottom:1px solid #adc6ec;
	}
#ml_btnFMain2 .btn_leftTop ul{
	float:left;
	background:url(../image/topBtn_left.gif) no-repeat;
	margin:13px 0 0 8px; height:30px;
	}
		
.TM_t_left_btn span.leftAddrBtn{
	display:inline-block;
	background:url(../image/topBtn_bar.gif) no-repeat right;
	padding:0 6px; line-height:30px;
	color:#434343; font-weight:bold; text-decoration:none;
	}
.btn_leftTop a.rightAddrBtn{
	display:inline-block;
	background:url(../image/topBtn_right.gif) no-repeat right;
	padding:0 6px 0 0; line-height:30px;
	color:#434343; font-weight:bold; text-decoration:none;
	}	
	
.TM_addrview_content{
	border-top:#CACACA solid 1px;
	border-left:#CACACA solid 1px;
	border-right:#CACACA solid 1px;
	padding-top:5px;	
}
/********** LEFT MENU FOLDER **********/
#m_leftMenu a.myfolder_plus {
	background:url(../image/icon/icon_plus.gif) no-repeat left 30%;
	padding-left:19px;
	}
#m_leftMenu a.myfolder_minus {
	background:url(../image/icon/icon_minus.gif) no-repeat left 30%;
	padding-left:19px;
	}
	
#m_leftMenu ul.myfolder_sub1 {margin-left:19px}
#m_defultFolder {margin: 10px 0px 10px 8px;}
#m_defultFolder .listView {
	background:url(../image/icon/icon_leftMenu_sign.gif) no-repeat left 0;
	padding-left:17px;
	}
#m_defultFolder .myfolder_group {margin-left:20px}
.TM_ml_defaultFolder, .TM_ml_defaultFolder_bold {
	margin-top:6px;		
	position: relative;	
	}
#m_defultFolder .TM_ml_sideBtn {
	position:absolute;
	right:38px;
	color:#888; font-size:8pt; text-decoration:underline;
	}
#m_defultFolder .admin {
	position:absolute;
	right:8px;
	color:#888; font-size:11px; text-decoration:underline;
	}
.TM_ml_MenuTitle .admin {
	position:absolute;
	right:8px;
	color:#888; font-size:11px; text-decoration:underline;
	}
#m_defultFolder li {line-height:170%}	

/********** Btn Collection ***********/
a.btn_addrssSearch {	
	display:inline-block;
	background:transparent url(/design/common/image/btn/btn_style1_left.gif) repeat-x scroll left top;
	height:22px; line-height:1.9em;
	padding-left:8px;
	color:#777777; text-decoration:none;
	cursor:pointer;
	}
a.btn_addrssSearch span {
	display:inline-block;
	background:transparent url(/design/common/image/btn/btn_style1_right.gif) no-repeat scroll right top;
	padding-right:8px;
	}
	
	
a.btn_alphabet {
	display:inline-block;
	background:url(/design/common/image/btn/btn_addr_link_left.gif) no-repeat left 0;
	height:20px; line-height:1.8em;
	margin-right:-2px; padding-left:5px;
	font-size:12px; font-family:dotum; text-decoration:none;
	cursor:pointer;
	}
a.btn_alphabet span{
	display:inline-block;
	background:url(/design/common/image/btn/btn_addr_link_right.gif) no-repeat right 0;
	height:20px; line-height:1.8em;
	padding-right:5px;
	}
a.btn_alphabet_on {
	/*
	display:inline-block;
	background:url(../image/btn/btn_addr_hover_left.gif) no-repeat left 0 !important;
	height:20px; line-height:1.8em;
	margin-right:-2px; padding-left:5px;
	font-size:12px; font-family:dotum; text-decoration:none;
	cursor:pointer;
	*/
	font-weight: bold;
	}	
a.btn_alphabet_on span{
	/*
	display:inline-block;
	background:url(../image/btn/btn_addr_hover_right.gif) no-repeat right 0;
	height:20px; line-height:1.8em;
	padding-right:5px;
	*/
	}
a.btn_alphabet_on label{
	/*
	display:inline-block;
	background:url(../image/btn/btn_addr_hover_right.gif) no-repeat right 0;
	height:20px; line-height:1.8em;
	padding-right:5px;
	*/
	}
a.btn_alphabet:hover {background:url(/design/common/image/btn/btn_addr_hover_left.gif) no-repeat left 0}
a.btn_alphabet:hover span{background:url(/design/common/image/btn/btn_addr_hover_right.gif) no-repeat right 0}
a.btn_alphabet:active {background:url(/design/common/image/btn/btn_addr_active_left.gif) no-repeat left 0}
a.btn_alphabet:active span{background:url(/design/common/image/btn/btn_addr_active_right.gif) no-repeat right 0}


/********** Accordion Collection ***********/



/********** Table Collection ***********/
.address_subContent{
	border-left:#C3CCD5 solid 1px;	
}
table.TB_cols2 {width:100%;*width:;table-layout: fixed;}
table.TB_cols2 th {
	width:150px; height:25px;
	background:#f7f7f7;
	border-right:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6;
	padding-left:5px;
	font-weight:normal; text-align:center;
	}
table.TB_cols2 td {
	padding-left:5px;
	border-bottom:1px solid #E6E6E6;
	border-right:1px solid #E6E6E6;
	width:30%;
	}
table.TB_cols2 th span {
	display:inline-block;
	padding:4px 0;
	margin-top:1px;
	}
	
table.TB_addressAdd {	
	border:1px solid #e8e8e8;	
}
table.TB_addressAdd tr {
	border-top:1px solid #e8e8e8;
	}
	
table.TB_addressAdd th {
	background:#f7f7f7;
	
	border-left:1px solid #e8e8e8;
	border-right:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	width:90px; height:28px;
	padding:0 5px;
	text-align: left;
	}
table.TB_addressAdd td {
	border-bottom:1px solid #E8E8E8;
	border-right:1px solid #e8e8e8;
	padding:5px 10px 5px 7px;
	}
table.TB_popup_style1_body table.TB_addressAdd td.titleTD {
	border:0; padding:0;
	padding-left:3px;
	}
.titleTD {
	background:url(../image/bg_mail_list_header.gif) repeat-x left 0;
	height:27px;
	}
	
/********** Tab **********/
div.addTree_tab {
	background:transparent url(../image/addTree_tab_bg.gif) repeat-x scroll 0 0;
	height:23px;
	line-height:23px;
	padding-left:3px;
}

div.addView_tab {
	background:transparent url(../image/icon/menu_tab_bg_right.gif) no-repeat scroll right bottom;
	height:23px;
	line-height:23px;
	padding-left:3px;
}

table.popup_list {
	border-collapse:collapse;
	width:100%;
	color:#727272; text-align:center;
	border:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;
	}
table.popup_list th {
	background:#f1f1f1;
	height:19px; line-height:19px;
	border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;
	font-weight:normal;
	}
table.popup_list tr:hover {background:#f1f7fd}
table.popup_list th.box {width:30px}
table.popup_list th.last {border-right:none}
table.popup_list td {
	height:22px;
	border-right:1px dotted #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	}
	
.address_list{
	background: #FFFFFF;
}

.addr_list_print_header{
	border:1px solid #E8E8E8;
}

.addr_attFile {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #666666;
	font-size:12px;
	height:20px;
	width:100%;
}