/********** Address_Search **********/
div.popup_style1 {
	border:1px solid #164C82;	
	background:#fff;
	}
div.popup_style1_title {	
	background:#164C82;
	height:34px; line-height:34px;
	padding-left:10px;
	border-bottom:1px solid #9ebeed;
	color:#FFFFFF;
	}
div.popup_style1_title_left {float:left; }
div.popup_style1_title_right {
	float:right;	
	height:34px;
	}
div.popup_style1_down{	
	font-size:0;
	}
div.popup_style1_down_left {height:4px; text-align: right;}
img.popup_style1_down_right {width:4px; height:4px;}
div.addTree_tab {
	background:url(../image/addTree_tab_bg.gif) repeat-x;
	height:23px; line-height:23px;
	}
ul.addTree {
	margin:0 !important;
	padding:5px 0 10px 10px;
	border:1px solid #bdbdbd;
	border-top:none;
	line-height:18px !important;
	height: 150px;
	overflow: auto;
	}
ul.addTree_sub1 {padding-left:20px;}
div.addSearch {margin-top:7px;}
div.addList {border:1px solid #c8c8c8; height:400px}

ul.btnArea {padding:0 15px;}
ul.btnArea  li {margin-top:3px}
ul.contentArea {
	margin-top:5px;
	}
ul.contentArea select {
	margin-top:3px;
	width:100%;
	}
.downBtn {
	text-align:center;
	margin:20px 0;
	}


/********** BTN  **********/

/********** TABLE **********/
table.TB_popup_style1_body {clear:both; width:100%; border-collapse:collapse;}
table.TB_popup_style1_body td.bg_left {width:5px;}
table.TB_popup_style1_body td.bg_right {width:4px;}
table.TB_popup_style1_body td.popup_content {padding:5px 0px 0px 0px;}
table.TB_popup_style1_body table.TB_content {width:100%;}
table.TB_popup_style1_body table.TB_content td.leftArea {min-width:250px;vertical-align:top;}
table.TB_popup_style1_body table.TB_content td.rightArea {width:315px; vertical-align:top;}

table.TB_addSearch {width:100%;}
table.TB_addSearch td.alphabetArea {
	width:25px;
	padding-top:3px;
	vertical-align:top;
	}
table.TB_addSearchFrom {width:100%; border-bottom: #e6e6e6 solid 1px;}
table.TB_addSearchFrom td {
	background:#f7f7f7;
	height:27px;
	}
table.TB_addSearchFrom td.text_search {width:55px; padding:0 5px;}
table.TB_addSearchFrom td.inputArea {padding-right:7px;}

table.TB_addList {width:100%;}
table.TB_addList th.checkbox {
	width:30px;
	background:#f7f7f7;
	height:22px;
	border-bottom:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	text-align: center;
	}
table.TB_addList th.name {
	width:30%;
	background:#f7f7f7;
	height:22px;
	border-bottom:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	font-weight:bold;
	}
table.TB_addList th.orgname {
	width:20%;
	background:#f7f7f7;
	height:22px;
	border-bottom:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	font-weight:bold;
	}
table.TB_addList th.prename {
	width:100px;
	background:#f7f7f7;
	height:22px;
	border-bottom:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	font-weight:bold;
	}
table.TB_addList th.nextname {
	width:100px;
	background:#f7f7f7;
	height:22px;
	border-bottom:1px solid #e6e6e6;
	border-left:1px solid #e6e6e6;
	font-weight:bold;
	}
table.TB_addList th.email {
	background:#f7f7f7;
	height:22px;
	border-bottom:1px solid #e6e6e6;
	font-weight:bold;
	}
table.TB_addList td {
	height:22px;
	padding:0 5px;
	border-bottom:1px solid #e6e6e6;
	}
table.TB_addList td.lineRight {border-right:1px solid #e6e6e6;}
table.TB_recive {
	width:100%;
	margin-top:2px;
	}

.SP_title {
color:#FFFFFF;
display:inline-block;
font-size:14px;
font-weight:bold;
}

.title_arrow4 {
	background:url(../image/icon/icon_arrow4.gif) no-repeat left 0;
	width:13px; height:13px;
	padding-left:17px;
	font-weight:bold;
	padding-bottom:1px;
	}

div.floatLeft {
	float:left;
	white-space:nowrap;
	padding-left:10px;
}