.TM_l_t_settingEnv{
	/*background:transparent url(../image/icon/ic_setting_env.gif) no-repeat scroll left 50%;*/
	padding-right:28px;
	font-size: 12px;
}

.TM_l_t_settingProfile{
	/*background:transparent url(../image/icon/ic_setting_profile.gif) no-repeat scroll left 50%;*/
	padding-left:28px;
	font-size: 12px;
}

div.smain_content_wrapper{
	border-left:#C6C6C6 solid 1px;
	border-right:#C6C6C6 solid 1px;
	border-bottom:#A5A5A5 solid 1px;
	position: relative;	
}
div.explanation {
	margin-top:7px;
	background:url(../image/explanation_left.gif) no-repeat;
	border-bottom:#D9DCE0 1px solid;
	}
div.explanation ul {
	background:url(../image/explanation_right.gif) no-repeat right 0;
	padding:8px 10px;
	line-height:17px;
	}
div.explanation ul li {
	background:url(../image/icon/icon_dot.gif) no-repeat left 50%;
	padding-left:7px;
	}
div.title_bar {
	background:#E5E5E5;
	height:24px; line-height:24px;
	padding-left:5px;
	border-bottom:1px solid #D9DCE0;
	}
div.title_bar span {
	background:url(../image/icon/ic_arrow_title.gif) no-repeat left 40%;
	padding-left:15px;
	vertical-align:top;
	color:#333333; font-weight:bold; text-decoration:none;
	}

div.sub_toolbar {
	background:#f7f7f7;
	height: 20px;
	padding: 5px;
	}
.TM_s_btnArea {
	padding-top:15px;
	padding-bottom:15px;
	text-align:center;
	}
	
#settingLeftMenu{
	line-height:200%;
	margin:10px 0px 10px 8px;
}
#settingLeftMenu a.on{
	font-weight:bold;
	text-decoration:underline;	
}
.ic_set_sign {background:url(../image/icon/ic_setting_sign.gif) no-repeat left 50%; padding-left:17px;}
.ic_set_mailhome {background:url(../image/icon/ic_setting_mailhome.gif) no-repeat left 50%; padding-left:17px}
.ic_set_spam {background:url(../image/icon/ic_setting_spam.gif) no-repeat left 50%; padding-left:17px}
.ic_set_folder {background:url(../image/icon/ic_setting_folder.gif) no-repeat left 50%; padding-left:17px}
.ic_set_filter {background:url(../image/icon/ic_setting_filter.gif) no-repeat left 50%; padding-left:17px}
.ic_set_forward {background:url(../image/icon/ic_setting_forward.gif) no-repeat left 50%; padding-left:17px}
.ic_set_reply {background:url(../image/icon/ic_setting_reply.gif) no-repeat left 50%; padding-left:17px}
.ic_set_extmail {background:url(../image/icon/ic_setting_extmail.gif) no-repeat left 50%; padding-left:17px}
.ic_set_scheduler {background:url(../image/icon/ic_setting_scheduler.gif) no-repeat left 50%; padding-left:17px}
.ic_set_lastrcpt {background:url(../image/icon/ic_setting_lastrcpt.gif) no-repeat left 50%; padding-left:17px}
.ic_set_signupdate {background:url(../image/icon/ic_setting_signupdate.gif) no-repeat left 50%; padding-left:17px}

table.TB_cols2 {width:100%;*width:;table-layout: fixed;}
table.TB_cols2 th {
	width:150px; height:25px;
	background:#f7f7f7;
	border-right:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6;
	padding-left:5px;
	font-weight:normal; text-align:left;
	}
table.TB_cols2 td {
	padding-left:5px;
	border-bottom:1px solid #e6e6e6;
	}
table.TB_cols2 th span {
	display:inline-block;
	padding:4px 0;
	margin-top:1px;
	}
table.TB_cols2 table.TB_cols2_content td {border:none;text-align:top; padding:5px;}
table.TB_cols2 table.TB_cols2_content {width:100%}
table.TB_cols2 table.TB_cols2_content input{margin-top:4px}
table.TB_cols2 table.TB_cols2_content input.IP100{margin-top:0px}
table.TB_cols2 table.TB_cols2_content select{margin:4px 0}
table.TB_cols2 table.TB_cols2_content td.btnArea {width:80px; vertical-align:top; padding-left:7px;}
table.TB_cols2 table.TB_cols2_content td.btnArea ul li{margin-top:5px}

#settingListTable {
	border-collapse:collapse;
	width:100%;*width:;	
	table-layout: fixed;
	background: #ffffff;
	border-top: 1px solid #C6C6C6;	
}
#settingListTable th {
	margin : 0px;
	text-align: center;
	height: 27px;
	font-weight: normal;
	color:#505050;	
	border-bottom:#C6C6C6 solid 1px;
	background: url("../../default/image/bg_mail_list_header.gif");
}
#settingListTable td{
	margin : 0px;
	text-align: center;
	height: 25px;
	font-weight: normal;
	color:#888888;
	border-bottom:#C6D2E8 solid 1px;
	padding: 2px 3px 2px 3px;
}

#settingListTable .subject {
overflow:hidden;
padding-left:10px;
text-align:left;
white-space:nowrap;
}
#settingListTable .subject.zipCode {
	word-wrap:break-word !important;
	white-space:normal !important;
}
.filterPre {
	width: 160px;
	text-align: right;
}


/********** Accordion Collection ***********/
.setting_subContent-header{
background:transparent url(/design/default/image/addr_bar_bg.gif) repeat-x scroll 0 0;
height:24px;
line-height:2.1em;
padding-left:5px;
}

.setting_subContent-header:hover {background:url(../image/addr_bar_bg_over.gif) repeat-x}

#settingAccordion div.setting_subContent-group a.info {
	background:transparent url(/design/default/image/icon/icon_addr_arrowDown.gif) no-repeat scroll right 40%;
	color:#006ECF;
	display:block;
	font-weight:bold;
	margin-right:10px;
	text-decoration:none;
}

#settingAccordion div.setting_subContent-group.selected a.info {
	background:transparent url(/design/default/image/icon/icon_addr_arrowUp.gif) no-repeat scroll right 40%;
	color:#006ECF;
	display:block;
	font-weight:bold;
	margin-right:10px;
	text-decoration:none;
}

#setting_subContent div.setting_subContent-group span.title {
	background:url(/design/default/image/icon/icon_plus2.gif) no-repeat left 0; padding-left:15px;
}

#setting_subContent div.setting_subContent-group.selected span.title {
	background:url(/design/default/image/icon/icon_minus2.gif) no-repeat left 0; padding-left:15px;
}

.title_bar a.close {
	background:transparent url(../image/icon/icon_addr_arrowUp.gif) no-repeat scroll right 40%;
	color:#006ECF;
	display:block;
	font-weight:bold;
	margin-right:10px;
	text-decoration:none;
}

.title_bar a.open {
	background:transparent url(../image/icon/icon_addr_arrowDown.gif) no-repeat scroll right 40%;
	color:#006ECF;
	display:block;
	font-weight:bold;
	margin-right:10px;
	text-decoration:none;
}

.TM_layout_setting_table {	
	border-collapse:separate;
	width:500px;
	border: #CACACA solid 1px;			
}

.TM_layout_setting_table td{	
	border: #CACACA solid 1px !important;
	text-align: center;
	color:#A5A4A4;
}

.TM_layout_setting_table td.portletContent{
	color:#454545;
	padding:10px;
	height:100px;
	text-align: center;
}

.TM_attFile {
	font-size:12px;
	border:#CACACA solid 1px; 
	background:#ffffff; 
	width:100%;*width:95% ;
	height:20px;
	margin-top:20px;
}