a.TM_bl_slink {color:#4A5B77; font-size:11px; text-decoration: none}
.TM_sitem {font-size:11px; font-weight:normal;}

#mail_rcpt  {color:#707070;padding:10px 1px 10px 1px;}
#mail_rcpt tr{padding:10px;}
#mail_rcpt th{white-space: nowrap;	text-align: left;padding:5px;}
#mail_rcpt td{margin:	0;	padding: 0;	/*vertical-align: top;*/}

.TM_mail_toolbar  {border:1px solid #d6d6d6; background:#f0f0f2;padding:2px 2px 2px 5px;}

.TM_mail_toolbarLeft  {color:#707070; border:1px solid #d6d6d6; border-right:none; background:url("../../default/image/bg_mail_list_header.gif");padding:0px 5px 0px 5px;height:27px;}
.TM_mail_toolbarRight {text-align:right;color:#707070;border:1px solid #d6d6d6; border-left:none; background:url("../../default/image/bg_mail_list_header.gif");padding:0px 5px 0px 5px;height:27px;}

.TM_attach_area {	
	border:1px solid #d6d6d6; border-top:none;
	background:#fffffff;
	padding:5px;
	text-align: center;
	height:120px;
}

.TM_attFile {font-size:12px; border:#CACACA solid 1px; background:#ffffff; width:100%;*width:95% ;height:20px;}
.TM_attList {font-size:12px; border:#CACACA solid 1px; width:100%;*width:95%; height:100px}

.TM_rcpt_input {height:20px;line-height:17px;width: 99%;overflow:hidden;word-break:break-all;ime-mode:inactive;border:#CCCCCE solid 1px;}
.TM_rcpt_input:hover{border:#6A99C3 solid 1px;}
.TM_tempRcpt {line-height:20px;word-break:break-all;position:absolute;z-index:-100px;top:-9999px;left:-9999px;border:1px solid gray;}

#fix_size{
	width: 150px;
	white-space: nowrap;
	padding: 0px;
	vertical-align: top;
}
.TM_inputFile{font-size:12px; border:#CACACA solid 1px; background:#ffffff; height:20px;}
.TM_write_input{
	width: 99%;
	border:#CCCCCE solid 1px;
	height:18px;	
	line-height: 18px;
}

.TM_write_input:hover{
	border:#6A99C3 solid 1px;
}
.TM_write_rcpt{
	width: 100%;
	padding:0;
	margin:0;	
}

.TM_write_rcpt:hover{
	border:#6A99C3 solid 1px;
}

#editorTable{
	width:100%;*width:;	
	table-layout: fixed;
}

#letterPane {
	position: relative;		
}

.TM_letterWrapper{
	position: absolute;
	top:7px;
	right:0px;
	z-index:500;
	padding:5px;
	border: #666666 double 4px;
	background : #ffffff;
	text-align: center;
}

a.TM_letterPagePre {	
	background:transparent url(../image/icon/icon_arrow5.gif) no-repeat left 0px;
	height:15px;
	padding-left:13px;
}
a.TM_letterPageNext {
	background:transparent url(../image/icon/icon_arrow3.gif) no-repeat right 0px;
	height:15px;
	padding-right:13px;
}

.TM_letterItem {width:74px;height:86px;border:#999999 solid 1px;}
.closeRcptBtn{
	background:transparent url(/design/common/image/btn/btn_content_plus.gif) no-repeat;
	width:11px;
	height:11px;
}

.openRcptBtn{
	background:transparent url(/design/common/image/btn/btn_content_minus.gif) no-repeat;
	width:11px;
	height:11px;
}



.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/	
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color:#225394;
	color: white;
}

.TM_attach_quota{text-align: right;padding:5px; 0px; 5px; 0px;}
