/* Dialog
----------------------------------*/
.ui-dialog { 
	position: relative; 
	padding: .2em; 
	width: 500px;
	background-color: #ffffff;
	
	border:1px solid #A6C9E2;
	color:#222222;
}

.ui-dialog .ui-corner-all {
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
}

.ui-dialog .ui-icon { 
	width: 16px; 
	height: 16px; 
	background-image: url(/design/common/image/style1/0078ae_256x240_icons_icons.png);
	text-indent:-99999px; 
}

.ui-dialog .ui-icon-closethick {
	background-position:-96px -128px;
}

.ui-dialog .ui-icon-closethick:hover {
	//background-image: url(../../image/popup/btn_popup1_close_over.gif);
}

.ui-dialog .ui-resizable-se { 
	width: 14px; 
	height: 14px; 
	right: 3px; 
	bottom: 3px; 
}

.ui-dialog .ui-icon-grip-diagonal-se {
	background-position:-80px -224px;
}
.ui-draggable .ui-dialog-titlebar { cursor: move; }


.ui-dialog-titlebar { 
	padding: .5em .3em .3em 1em; 
	position: relative;  

	background:#2191C0 url(../../image/style1/2191c0_500x100_textures_12_gloss_wave_75.png) repeat-x scroll 50% 50%;
	border:1px solid #4297D7;
	color:#EAF5F7;
	font-weight:bold;
}
.ui-dialog-title { 
	float: left; margin: .1em 0 .2em; 
}

.ui-dialog-title .ui-icon {
	height:16px;
	width:16px;
	overflow:hidden;
}

.ui-dialog-titlebar-close { 
	position: absolute; 
	right: .3em; 
	top: 50%; 
	width: 19px; 
	margin: -10px 0 0 0; 
	padding: 1px; 
	height: 18px; 
}

.ui-dialog-titlebar-close span { 
	display: block; 
	margin: 1px; 
}

.ui-dialog-titlebar-close:hover, .ui-dialog-titlebar-close:focus { 
	padding: 0; 
}
.ui-dialog-content {
	border: 0; 
	padding: 5px 5px 5px 5px; 
	background: none; 
	overflow: auto;
	min-height: 50px; 
}



.ui-dialog-buttonpane { 
	background-image:none;
	text-align:left;
	
	border-top:1px solid #A6C9E2;
	color:#222222;
}

.ui-dialog-buttonpane button { 
	float: right; 
	margin: .5em .4em .5em 0; 
	cursor: pointer; 
	padding: .2em .6em .3em .6em; 
	line-height: 1.4em; 
	width:auto; 
	overflow:visible; 
}
