/* Tabs
----------------------------------*/
.ui-tabs {padding: .2em;}
.ui-tabs-nav { padding: .2em .2em 0 .2em;  position: relative; }

.ui-tabs-nav ul { 
	background:transparent url(../image/bg_mail_list_header.gif) repeat-x scroll left 0;
	height:29px;
}


.ui-tabs-nav li { 
	float: left; 
	border-bottom: 0 !important; 
	margin: 0 .2em -1px 0; 
	padding: 0;
}
.ui-tabs-nav li a { 
	background:transparent url(../../image/tab/tabMenu_off_left.gif) no-repeat scroll left 0;
	cursor:pointer;
	display:inline-block;
	font-family:dotum;
	font-size:12px;
	height:20px;
	line-height:1.8em;
	margin-right:-2px;
	padding-left:5px;
	text-decoration:none; 
}

.ui-tabs-nav li a span{
	 background:transparent url(../../image/tab/tabMenu_off_right.gif) no-repeat scroll right 0;
	 display:inline-block;
	height:20px;
	line-height:1.8em;
	padding-right:5px;
}
.ui-tabs-nav li.ui-tabs-selected a{  
	background:transparent url(../../image/tab/tabMenu_on_left.gif) no-repeat scroll left 0;
	cursor:pointer;
	display:inline-block;
	font-family:dotum;
	font-size:12px;
	height:20px;
	line-height:1.8em;
	margin-right:-2px;
	padding-left:5px;
	text-decoration:none; 
}
.ui-tabs-nav li.ui-tabs-selected a span{
	 background:transparent url(../../image/tab/tabMenu_on_right.gif) no-repeat scroll right 0;
	 display:inline-block;
	height:20px;
	line-height:1.8em;
	padding-right:5px;
}
.ui-tabs-panel {}
.ui-tabs-hide { display: none !important; }