body {word-wrap:break-word}
* {margin:0; padding:0; font-family:malgun Gothic,Gulim,Helvetica,AppleGothic,Sans-serif; font-size:16px; letter-spacing:-1px; color:#333; line-height:120%;-webkit-text-size-adjust:none;}
body, input, select, teatarea {font-size:14px; color:#666}
a {font-zie:14px; text-decoration:none; color:#000000; cursor:pointer; overflow:hidden}
h1, h2, h3, h4, h5, h6, dl, dt, dd { margin:0; padding:0}
h1 {display:none}
h2 {color:#fff; font-size:15px}
h3 {font-size:1.05em}
h4 {font-size:1.5em}
h5 {font-size:18px}
img, fieldset {border:none}
em, address {font-style:normal}
ul, li {margin:0; padding:0; list-style:none}
label {cursor:pointer}

table {border-collapse:collapse;}
.TM_rcpt_input {height:18px;line-height:18px;width: 99%;overflow:hidden;word-break:break-all;ime-mode:inactive;border:#CCCCCE solid 1px;}
.TM_rcpt_input:hover{border:#6A99C3 solid 1px;}
.TM_write_input{height:18px;line-height:18px;width: 99%;border:#CCCCCE solid 1px;}

.TM_flist_Inbox {background:transparent url(../image/bg_folder_list.gif) no-repeat scroll 10px 9px;padding-left:25px}
.TM_flist_Sent {background:transparent url(../image/bg_folder_list.gif) no-repeat scroll 10px -28px;padding-left:25px}
.TM_flist_Drafts {background:transparent url(../image/bg_folder_list.gif) no-repeat scroll 10px -66px;padding-left:25px}
.TM_flist_Mdn {background:transparent url(../image/bg_folder_list.gif) no-repeat scroll 10px -105px;padding-left:25px}
.TM_flist_Spam {background:transparent url(../image/bg_folder_list.gif) no-repeat scroll 10px -143px;padding-left:25px}
.TM_flist_Trash {background:transparent url(../image/bg_folder_list.gif) no-repeat scroll 10px -181px;padding-left:25px}
.TM_flist_User {background:transparent url(../image/bg_folder_list.gif) no-repeat scroll 10px -215px;padding-left:35px !important;}
.TM_flist_Unseen {background:transparent url(../image/bg_folder_list.gif) no-repeat scroll 10px -251px;padding-left:25px}
.TM_flist_Flag {background:transparent url(../image/bg_folder_list.gif) no-repeat scroll 10px -285px;padding-left:25px}

.TM_attFile {font-size:12px; border:#CACACA solid 1px; background:#ffffff; width:90% !important; height:20px;}
.TM_attList {font-size:12px; border:#CACACA solid 1px; width:100%;*width:95%; height:50px}


.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/	
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color:#225394;
	color: white;
}

.blind {display:block;overflow:hidden;position:absolute;left:0;top:-5000px;}

.mainMask {
	position:absolute;
	background: url(../image/maskBG.png) repeat scroll 0% 0% transparent;
	left: -2000px;
	top: 0px;
	width: 100%;
	height:100%;
	z-index: 200;
}
.subMask {
    z-index: 200;
    position: absolute; 
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;   
    opacity: .4;
    filter: alpha(opacity=40);
    /* this hack is so it works in IE
     * I find setting the color in the css gives me more flexibility 
     * than the PNG solution.
     */
    background-color:transparent !important;
    background-color: #333333;
    /* this hack is for opera support
     * you can uncomment the background-image if you don't care about opera.
     * this gives you the flexibility to use any bg color that you want, instead of the png
     */
    background-image/**/: url("/design/common/image/maskBG.png") !important; // For browsers Moz, Opera, etc.
    background-image:none;
    background-repeat: repeat;  
}

.subMaskW {
    z-index: 200;
    position: absolute; 
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;   
    opacity: .4;
    filter: alpha(opacity=40);
    /* this hack is so it works in IE
     * I find setting the color in the css gives me more flexibility 
     * than the PNG solution.
     */
    background-color:transparent !important;    
    /* this hack is for opera support
     * you can uncomment the background-image if you don't care about opera.
     * this gives you the flexibility to use any bg color that you want, instead of the png
     */
    background-image/**/: url("/design/common/image/maskWBG.png") !important; // For browsers Moz, Opera, etc.
    background-image:none;
    background-repeat: repeat;  
}

.TM_c_loadding{
    width:93px; height:82px; line-height:82px;  
    position: absolute; 
    background:transparent url(/design/default/image/icon/ic_ajax_loader_c.gif) no-repeat;  
    z-index: 1001;
}
