h1.logo {display:block; text-align:center; background:#fff; padding:5px 0}
div.container {width:100%; background:#fff; font-weight:bold}

div.ts {position:relative; height:36px}
div.hh {height:35px; text-align:center}
div.hh h2 {margin-top:8px; *margin-top:8px}
div.title_box {clear:both; position:relative; height:36px}
div.ts div.btn_l {position:absolute; top:9px; left:8px}
div.title_box div.btn_l,
div.list_box div.btn_l {position:absolute; top:5px; left:8px}
div.ts div.btn_r,
div.title_box div.btn_r,
div.list_box div.btn_r,
div.list_box2 div.btn_r {position:absolute; top:5px; right:8px}
div.list_box div.btn_r a.btn_dr3 {margin-top:3px}
div.list_box2 div.btn_l a.btn_dr3 {vertical-align:top; margin-top:3px}
div.title_box div.btn_r2 {top:5px}

h2.menu_box {padding:7px 0 8px 0; line-height:1.3em; *line-height:1.4em; text-align:center}
strong.link_arrow {color:#888888;position:absolute;right:8px;top:10px;}
strong.link_plus {color:#ADC6EC;position:absolute;right:8px;top:10px;cursor:pointer;font-weight:bold;}

div.menu_box {position:relative; height:34px}
div.menu_box div.btn_l {float:left; position:absolute; top:4px; left:6px}
div.menu_box div.btn_r {float:right; position:absolute; top:4px; right:6px}
div.menu_box h2 {padding-top:7px; line-height:1.4em; text-align:center}

div.title_box .addr_public_title {dispaly:block;margin-right:200px; padding-top:5px; padding-left:2px;}
div.title_box .addr_private_title {dispaly:block;margin-right:100px; padding-top:5px; padding-left:2px;}

/*div.title_box {clear:both; position:relative; height:36px}
div.title_box div.btn_l {position:absolute; top:5px; left:6px}
div.title_box div.btn_r {position:absolute; top:5px; right:6px}
div.title_box div.btn_r2 {top:5px}
div.title_box span.title_name {font-weight:bold;display:block;line-height:27px;width:100%; overflow:hidden; text-overflow:ellipsis;white-space:nowrap;}
div.title_box .addr_public_title {dispaly:block;margin-right:200px; padding-top:5px; padding-left:2px;}
div.title_box .addr_private_title {dispaly:block;margin-right:100px; padding-top:5px; padding-left:2px;}*/

div.energy {padding:9px 0 8px 0; color:#666; text-align:center;font-weight: bold;}
div.energy em {color:#000}

div.list_box {position:relative; height:36px; background:#f8f8f8; border-bottom:1px solid #dfdfdf}
div.list_box div.btn_l {position:absolute; top:5px; left:6px}
div.list_box div.btn_r {position:absolute; top:8px; right:6px}
div.second_list_box {border-bottom:0; border-top:1px solid #DFDFDF}

div.sub_box {background:#f8f8f8; border-bottom:1px solid #dfdfdf; padding:0px 0px 8px 6px; vertical-align:top}
div.sub_box label {display:inline-block; margin:10px 4px 0 0; *margin:6px 4px 0 0; vertical-align:top}
div.sub_box label input {margin-right:3px; *margin-right:0}
div.sub_box select {margin-top:7px; *margin-top:6px}
strong.link_arrow {position:absolute; top:10px; right:8px; color:#888}
div.second_list_box {border-bottom:0; border-top:1px solid #DFDFDF}
p.warn {background:#ffffcd; border:1px solid #dcdc41; padding:5px; margin:10px 8px}
p.warn strong {display:inline-block; color:#333; margin-bottom:4px}

/* view form */
div.view_form div.info {padding:15px 8px; border-bottom:1px solid #dfdfdf}
div.view_form div.info h3 {font-size:16px; margin-bottom:5px}
div.view_form div.info dl dt, 
div.view_form div.info dl dd {color:#888; font-size:14px; margin-bottom:2px}
div.view_form div.info dl dt {clear:both; float:left; width:5em;}
div.view_form div.info p {color:#888}
div.view_form p.cont {padding:15px 8px; border-bottom:1px solid #dfdfdf; line-height:150%}
div.view_form dl.file dt {border-bottom:1px solid #dfdfdf; background:#f8f8f8; padding:7px 6px; margin-bottom:7px}
div.view_form dl.file dd {padding:0 0 5px 6px}
div.view_form dl.file dd span{display:inline-block; background:url(../image/icon_file.gif) no-repeat left 40%; padding-left:10px; vertical-align:top; margin-top:4px; font-size:0.9em;word-break:break-all}
div.view_form dl.file dd span.fileName {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;}
div.view_form dl.file dd a.btn_save {margin-left:5px}
div.view_form dl.file dd.download_info{font-size:0.85em;background:#d5e4f2; border: 1px solid #7f9db5;margin:5px;}
div.view_form dl.file dd.download_info span{padding-left:0px; background:none;}
div.mail_option {background:none repeat scroll 0 0 #F8F8F8; border-bottom:1px solid #DFDFDF; padding:5px 8px}
div.mail_option label {margin-right:5px; font-weight:normal}

/* mail receive */
div.mail_receive div.info {border-bottom:0}
div.mail_receive ul.mail_receive_list {background:#f8f8f8; border:1px solid #dfdfdf; border-bottom:0; margin:0 8px}
div.mail_receive ul.mail_receive_list li {position:relative; border-bottom:1px solid #dfdfdf; padding:8px; height:100%; font-size:0}
div.mail_receive ul.mail_receive_list li span.date {display:block; color:#888}
div.mail_receive ul.mail_receive_list li a {position:absolute; top:13px; right:8px}

/* mail home */
ul.mail_home li {position:relative; background:none}
ul.mail_home li a {background:url(../image/ic_mails.gif) no-repeat left top; padding-left:35px !important; margin-right:72px; *margin-right:87px}
ul.mail_home li button {position:absolute; top:5px; right:8px}
ul.mail_home li a.Inbox {background-position:8px 10px}
ul.mail_home li a.Sent {background-position:8px -36px}
ul.mail_home li a.Drafts {background-position:8px -86px}
ul.mail_home li a.Spam {background-position:8px -133px}
ul.mail_home li a.Trash {background-position:8px -181px}
ul.mail_home li a.Mdn {background-position:8px -231px}
ul.mail_home li a.UserIndex {background-position:8px 10px}
ul.mail_home li a.UserFolder {background-position:8px -326px !important;}
ul.mail_home li a.Unseen {background-position:8px -369px}
ul.mail_home li a.Flag {background-position:8px -418px}
ul.mail_home li.depth1 a {padding-left:50px !important;}
ul.mail_home li.depth2 a {padding-left:70px !important;}
ul.mail_home li.depth3 a {padding-left:90px !important;}


ul.mail_list {background:#fff; width:100%;}
ul.mail_list li {border-bottom:1px solid #dfdfdf; #border: 1px solid #dfdfdf; #border-bottom-width:1px; #border-left-width:0px;#border-right-width:0px; position:relative; padding:0px}
ul.mail_list li input.mail_state {position:absolute;top:18px;_top:15px;left:6px;}
ul.mail_list li a.btn_flag {background:url(../image/icon_flag_r.gif) no-repeat left 0; display:block; position:absolute; top:30px; right:10px; width:16px; overflow:hidden}
ul.mail_list li a.flag_on {background:url(../image/icon_flag.gif) no-repeat left 0 !important;}
ul.mail_list li span.date {display:block; position:absolute; top:5px; right:6px;font-size:14px;color:#888888;}
ul.mail_list li .mail_read_link {display:block; *width:85%; margin:0 70px 0 30px; #margin-top:-15px; padding: 8px 0; line-height: 130%;color:#888888;position: relative; height:40px;}
ul.mail_list li .mail_read_link span.mail_subject {display:block;overflow:hidden;white-space:nowrap;width:100%;text-overflow:ellipsis;padding-top:5px; position: absolute; top:25px;color:#888888;}
ul.mail_list li a.unseen {color:#000000 !important;}
ul.mail_list li.mail_unseen {background-color:#F7F7F7;}
ul.mail_list li.mail_unseen span.mail_subject {color:#000000 !important;}
ul.mail_list li .mail_read_link span.mdn_addr {display:block;overflow:hidden;white-space:nowrap;width:100%;text-overflow:ellipsis;}

ul.mail_list li span.file {display:inline-block; background:url(../image/icon_file.gif) no-repeat left 60%; padding-left:10px; vertical-align:top;}
ul.mail_list li span.icon_read{display:inline-block; background:url(../image/icon_mail.gif) no-repeat 0px -14px; padding-left:25px; vertical-align:top; height:16px;overflow:hidden;white-space:nowrap;width:100%;text-overflow:ellipsis;font-size:0.80em; position: absolute; color:#888888;}
ul.mail_list li span.icon_unread{display:inline-block; background:url(../image/icon_mail.gif) no-repeat left top; padding-left:25px; vertical-align:top; height:14px;overflow:hidden;white-space:nowrap;width:100%;text-overflow:ellipsis;font-size:0.80em;line-height:120%; position: absolute;}
ul.mail_list li span.mdn_rdate {display:block; position:absolute; top:30px; right:6px; text-align:center;}
ul.mail_list li span.mdn_one {color:#6F89DE;}
ul.mail_list li.mdn_view_subject {border-bottom:1px solid #ADC6EC;*padding-left:30px;}
ul.mail_list li .margin_default {margin:0 30px 0 30px !important;}

div.mail_view {background:#fff;}
div.mail_view div.info {padding:10px; border-bottom:1px solid #dfdfdf}
div.mail_view div.info h3 {margin-bottom:5px}
div.mail_view div.info dl dt {clear:both; float:left; width:5em; color:#888888; font-size:0.95em;font-size: 14px;}
div.mail_view div.info dl dd {color:#888888; font-size:0.95em; letter-spacing:0;font-size: 14px;}
div.mail_view div.cont {background:#fff; padding:10px; border-bottom:1px solid #dfdfdf; line-height:1.8em}
div.mail_view dl.file {color:#666; border-bottom:1px solid #dfdfdf}
div.mail_view dl.file dt {border-bottom:1px solid #dfdfdf; background:#f8f8f8; padding:7px 6px; font-size:0.9em; margin-bottom:7px}
div.mail_view dl.file dd {padding:0 0 5px 6px}
div.mail_view dl.file dd span{display:inline-block; background:url(../image/icon_file.gif) no-repeat left 40%; padding-left:10px; vertical-align:top; margin-top:4px; font-size:0.9em}
div.mail_view dl.file dd span.fileName{overflow: hidden;white-space: nowrap;width:100%;text-overflow:ellipsis;}
div.mail_view dl.file dd.download_info{font-size:0.85em;background:#d5e4f2; border: 1px solid #7f9db5;}
div.mail_view dl.file dd.download_info span{padding-left:0px; background:none;}

div.mail_write {background:#fff; padding:15px 10px; border-bottom:1px solid #DFDFDF}
div.mail_write dl.w1 {position:relative; margin-bottom:7px}
div.mail_write dl.w1 dt {position:absolute; top:5px; left:0; color:#666}
div.mail_write dl.w1 dd {padding-left:100px}
div.mail_write dl.w1 dd input {width:100%; height:1.8em; border:1px solid #BCBCBC; line-height:1.8em; padding-left:3px; letter-spacing:0}
div.mail_write dl.w1 dd textarea {width:100%; height:2em; border:1px solid #BCBCBC;}
div.mail_write dl.w2 dd textarea {width:100%; height:10em; border:1px solid #BCBCBC;}
div.mail_write div.me {margin-left:70px; *margin-left:67px; padding:0 0 6px 0}
div.mail_write div.me input {margin-right:3px; *margin-right:0}
div.mail_write div.w1 {font-weight: normal!important; }

div.paging {text-align:center; padding:15px;background: #ffffff;}
div.paging span {display:inline-block; vertical-align:top; margin:3px 5px 0 5px; font-weight:bold}

a.btn_next {display:inline-block; background:url(../image/btn_next.gif) no-repeat; width:28px; height:25px; text-indent:-1000em}
a.btn_sub_next {background:url(../image/btn_next.gif) no-repeat; width:28px; height:25px; text-indent:-1000em}
a.btn_prev {display:inline-block; background:url(../image/btn_prev.gif) no-repeat; width:28px; height:25px; text-indent:-1000em}
a.btn_sub_prev {background:url(../image/btn_prev.gif) no-repeat; width:28px; height:25px; text-indent:-1000em}
a.btn_last {display:inline-block; background:url(../image/btn_last.gif) no-repeat; width:32px; height:25px; text-indent:-1000em}	
a.btn_first {display:inline-block; background:url(../image/btn_first.gif) no-repeat; width:32px; height:25px; text-indent:-1000em}		
a.btn_close {display:inline-block; background:url(../image/btn_close.gif) no-repeat; width:25px; height:23px; text-indent:-1000em}	

fieldset.search_wrap {position:relative}
div.search_area {padding:0 50px 0 6px; height:36px}

/* input box */
input.it_full, select.st_full {width:100%; height:1.5em; line-height:1.8em}
input.input_text {height:23px; line-height:130%; padding-left:3px; border-top:1px solid #a1a2a4; border-left:1px solid #a1a2a4; border-right:1px solid #d2d2d2; border-bottom:1px solid #d2d2d2; moz-border-radius: 4px; -webkit-border-radius:4px; border-radius:4px}
input.it_full {border-top:1px solid #a1a2a4; border-left:1px solid #a1a2a4; border-right:1px solid #d2d2d2; border-bottom:1px solid #d2d2d2; line-height:130%; padding-left:3px; moz-border-radius: 4px; -webkit-border-radius:4px; border-radius:4px}
textarea.tx_full {width:100%; border-top:1px solid #a1a2a4; border-left:1px solid #a1a2a4; border-right:1px solid #d2d2d2; border-bottom:1px solid #d2d2d2; line-height:130%; padding-left:3px; moz-border-radius: 4px; -webkit-border-radius:4px; border-radius:4px; color:#666}
label.ck {margin-right:10px; font-weight:normal}
label.last {margin-right:0}
label.ck input {margin:5px 3px 0 0; *margin:2px 0 0 0}
div.search_area_content{margin-right:45px;}


fieldset.search_wrap {position:relative}
div.search_area {padding:0 62px 0 6px; height:36px}
input.ip_search {width:100%; height:24px; margin-top:5px; * margin-top:4px; border:1px solid #bcbcbc; border-radius:4px; moz-border-radius:4px; -webkit-border-radius:4px}
input.btn_search {display:inline-block; border:none; height:26px; padding:0px 15px 5px 15px; color:#fff; width:100px;}
div.search_area input.btn_search {position:absolute; top:5px; right:6px}


div.mail_address {background:#fff}
div.mail_address div.menu {background:#f4f6f5 url(../image/line.gif) repeat-x left bottom; height:34px;}
div.mail_address div.menu ul {padding:4px 6px 0 6px}
div.mail_address div.menu ul li {float:left; width:50%; text-align:center;}
div.mail_address div.menu ul li a {display:block; height:28px; line-height:2em}
div.mail_address div.menu ul li a.on {background:#fff; border:1px solid #a8a9ab; border-bottom:1px solid #fff; line-height:2.1em}
div.mail_address div.list ul {margin-top:0px}
div.mail_address div.list ul li {padding:10px; border-bottom:1px solid #dfdfdf;}

/* log in */
div.login {padding:20px 10px}
div.login ul {margin-bottom:5px}
div.login ul li {padding-bottom:6px}
div.login ul li  input {display:block; width:100%; height:1.8em; border:1px solid #BCBCBC; moz-border-radius: 4px; -webkit-border-radius:4px; border-radius:4px}
div.login div.lc {text-align:center; margin-top:10px}
div.login div.lc label span {vertical-align:top; margin-top:3px; *margin-top:4px; display:inline-block}
div.login p.login_scrip {font-size:12px; line-height:1.0em; padding:7px; margin-top:20px; background:#F8F8F8; border:1px solid #DFDFDF}
div.login p.warn {margin:20px 0 0 0}

div.alert_title_box_wrap {padding:30px 0px 10px 0px; text-align:center; color:#000}
div.alert_icon {background:url(../image/icon_alert.gif) no-repeat center 0; width:55px; height:48px; margin:10px auto;}
div.alert_title_box {background-color:#F8F8F8;border: 1px solid #DFDFDF;padding:10px 0px;}

/* home */
div.my_home {padding:20px 0 30px 0}
div.my_home div.my_info h5 {margin-bottom:5px}
div.my_home div.my_info {padding:0 8px; border-bottom:1px solid #DFDFDF; padding-bottom:15px}
div.my_home div.my_info p {color:#888; margin-top:2px; font-size:14px}
ul.my_list li div {border-bottom:1px solid #dfdfdf}
ul.my_list li div.last {border-bottom:0}
ul.my_list li div a {position:relative; display:block; padding:10px 8px}
ul.my_list li div a strong.menu_arrow {position:absolute; top:8px; right:8px; color:#888}
ul.today_schedule_list {background:#f8f8f8; border:1px solid #dfdfdf; border-bottom:0; margin:0 8px; height:100%; margin-top:2px}
ul.today_schedule_list li {border-bottom:1px solid #dfdfdf; padding:8px 5px}

ul.ic_btn {padding-bottom:30px; width:320px; margin:0 auto; overflow:hidden}
ul.ic_btn li {float:left; margin:0 7px}
ul.ic_btn li a {display:inline-block; text-align:center}
ul.ic_btn li a span.btn_ic			{display:block; background:url(../image/btn_icons.jpg) no-repeat left top; width:63px; height:60px; text-indent:-3000em; margin-bottom:3px}
ul.ic_btn li a span.btn_ic_mail		{background-position:0 0}
ul.ic_btn li a span.btn_ic_address	{background-position:-78px 0}
ul.ic_btn li a span.btn_ic_schedule	{background-position:-155px 0}
ul.ic_btn li a span.btn_ic_board		{background-position:-232px 0}

div.mail_ok {background:#fff; border-bottom:1px solid #dfdfdf; text-align:center; padding:40px 0}
div.mail_ok p.ok {margin-bottom:15px}
div.mail_ok p.ok span {color:#258ee1; font-size:3.5em; font-weight:bold}
div.mail_ok h5 {color:#000; margin-bottom:2px}
div.mail_ok p.scrip {margin-bottom:15px}

div.mail_error {background:#fff; border-bottom:1px solid #dfdfdf; text-align:center; padding:40px 0}
div.mail_error p.icon_x {margin-bottom:15px}
div.mail_error p.icon_x span {color:red; font-size:3.5em; font-weight:bold}
div.mail_error h5 {color:#000; margin-bottom:10px}
div.mail_error p.scrip {margin-bottom:15px}
div.mail_error div.error_icon {background:url(../image/icon_error.gif) no-repeat center 0; width:31px; height:31px; margin:10px auto;}
div.mail_error p.scrip {margin-bottom:15px}
dt.invalid_index {font-weight: normal !important; color:red; padding:5px;}
dd.invalid_box {background:#ffffcd; border:1px solid #dcdc41;padding:5px;text-align: left; margin:0px 10px 0px 10px;}


/* footer */
div.footer{text-align:center; padding:20px 0; border-top:1px solid #c1d3e4; background:#F2F8FE}
div.footer div.footer_btn a {margin:0 1px}
div.footer address {font-size:13px; color:#888; letter-spacing:0; padding:5px 0}
div.footer address a {font-size:13px; color:#888; letter-spacing:0}

/* button collection*/
button.bt1 {border:1px solid #bcbcbc; background:#f9f9f9; padding:3px; *padding:0; cursor:pointer}
a.btn_reference	{display:inlnie-block; background:url(../image/ic_plus.gif) no-repeat left bottom ; *background:url(../image/ic_plus.gif) no-repeat left center; padding-left:22px}
a.btn_next		{display:inline-block; background:url(../image/btn_next.gif) no-repeat left top; width:28px; height:25px; text-indent:-3000em}
a.btn_prev		{display:inline-block; background:url(../image/btn_prev.gif) no-repeat left top; width:28px; height:25px; text-indent:-2000em}
a.btn_close		{display:inline-block; background:url(../image/btn_close.gif) no-repeat left top; width:24px; height:25px; text-indent:-4000em}
a.btn_last		{display:inline-block; background:url(../image/btn_last.gif) no-repeat left top; width:32px; height:25px; text-indent:-5000em}	
a.btn_first		{display:inline-block; background:url(../image/btn_first.gif) no-repeat left top; width:32px; height:25px; text-indent:-3000em}	
a.btn_mail 		{display:inline-block; background:url(../image/btn_mail.gif) no-repeat left top; width:27px; height:25px; text-indent:-3000em}
a.btn_phone		{display:inline-block; background:url(../image/btn_phone.gif) no-repeat left top; width:27px; height:25px; text-indent:-3000em}
span.ic_notice {display:inline-block; padding:2px 5px; background:#ed6767; font-size:13px; color:#fff; moz-border-radius: 4px; -webkit-border-radius:4px; border-radius:4px}
span.ic_newContent {display:inline-block; padding:2px 5px; background:#4F81BD; font-size:13px; color:#fff; moz-border-radius: 4px; -webkit-border-radius:4px; border-radius:4px}

div.ui {padding:20px}
div.ui p {padding:5px}
a.btn_calendar {display:inline-block; background:url(../image/icon_calendar_b.gif) no-repeat left 0; width:25px; height:23px}
a.btn_x {display:block; background:url(../image/btn_x.gif) no-repeat left 0; width:14px; height:13px; margin-top:6px; text-indent:-3000px}
a.btn_flag {display:block; background:url(../image/icon_flag.gif) no-repeat; width:16px; text-indent:-1000em; margin-top:2px}
a.btn_flag_off {display:block; background:url(../image/icon_flag_r.gif) no-repeat; width:16px; text-indent:-1000em; margin-top:2px}
a.btn_space {margin-right:5px}

a.btn0 		{display:inline-block; background:url(../image/skin/blue/btn0.gif) no-repeat left top; padding-left:6px; height:27px; font-weight:normal}
a.btn0 span	{display:inline-block; background:url(../image/skin/blue/btn0.gif) no-repeat right 0; padding-right:6px; height:27px; line-height:24px; color:#fff}
a.btn1		{display:inline-block; padding-left:7px; height:27px; line-height:1.9em}
a.btn1 span	{display:inline-block; padding-right:7px}
a.btn1 strong	{display:inline-block; padding-right:7px}
a.btn2 		{display:inline-block; background:url(../image/btn2.gif) no-repeat left top; padding-left:6px; height:27px; font-weight:normal}
a.btn2 span	{display:inline-block; background:url(../image/btn2.gif) no-repeat right 0; padding-right:6px; height:27px; line-height:24px}
a.btn4		{display:block; background:url(../image/btn4.gif) no-repeat left 0; color:#666; padding-left:6px; height:35px; line-height:35px; text-align:center}
a.btn4 span	{display:block; background:url(../image/btn4.gif) no-repeat right 0; padding-right:6px; height:35px; line-height:215%}
a.btn3		{display:inline-block; background:#fafafa; border:1px solid #bcbcbc; padding:3px 6px; moz-border-radius: 4px; -webkit-border-radius:4px; border-radius:4px; font-weight:normal}
a.btn5		{display:inline-block; background:#fafafa; border:1px solid #bcbcbc; padding:3px 8px; moz-border-radius: 4px; -webkit-border-radius:4px; border-radius:4px; font-weight:normal}
a.btn6		{display:inline-block; background:#fafafa; border:1px solid #bcbcbc; padding:3px 2px; moz-border-radius: 4px; -webkit-border-radius:4px; border-radius:4px; font-weight:normal}

a.btn_dr		{display:inline-block; padding-right:20px; *padding-right:23px; height:19px; *height:19px}
a.btn_dr2		{display:inline-block; background:url(../image/btn_dr2.gif) no-repeat right top; height:19px; padding-right:22px; line-height:110%; *line-height:120%}
a.btn_dr3		{display:inline-block; background:url(../image/btn_dr3.gif) no-repeat right 50%; height:19px; padding-right:21px; line-height:17px; *line-height:20px; font-weight:normal}
a.btn_dr3 span	{color:#666}

a.btn_save {display:inline-block; border:1px solid #bcbcbc; background:#f8f8f8; padding:3px 4px; font-weight:normal}
a.mail span {display:inline-block; background:url(../image/ic_mail_unread.gif) no-repeat left 50%; padding-left:24px}	
a.schedule span {display:inline-block; background:url(../image/ic_schedule.gif) no-repeat left 50%; padding-left:24px}	

div.languageBox {position:relative;display:none;z-index:1000;}
div.languageBox .languageAbBox {position:absolute;margin:0px auto 0px auto}
div.languageBox .languageInnerBox {width:130px;background-color:#ffffff;border:1px solid #3289BF;}
div.languageBox .languageInnerBox li {padding:2px 5px;}
div.languageBox .languageInnerBox li:hover {background-color:#EDF0F3;}

.topLine {border-top:1px solid #B0B0B0;}
.pleft {position:absolute;white-space:nowrap;left:5px;top:4px;}
.pright {position:absolute;white-space:nowrap;right:5px;top:4px;}
.topAreaWrap {position: relative;border-bottom:1px solid #B0B0B0;height: 50px;width: 100%;}
.selectMenuDiv {width: 200px;height: 20px;border:1px solid #B0B0B0;background-color: #ffffff;position:absolute;left:5px;top:29px;}
.selectMenuWrap {position: relative;width:200px;margin-left:auto; margin-right:auto;display:none;z-index:1000;}
.selectMenuWrap .menuList {position:absolute;top:35px;left:0;width:200px;z-index:1000;background: transparent;}
.selectMenuWrap .menuList .menuWrap{background-color:#ffffff;border:1px solid #3289BF;margin-left:auto;margin-right:auto;width: 180px;}

.folderWrap {float:left;width:180px;border-right:1px solid #B0B0B0;height: 175px;}

.menus label {color:#666666;display:block;height:1.35em;line-height:2em;overflow:hidden;padding:1px 5px 5px 5px;white-space:nowrap;}
.menus label:hover {background-color: #EDF0F3;}
.menus ul {height:150px;}

.menuArea {background-color:#F7F7F7;border-top:1px solid #EEEEEE;padding:3px 5px;height:28px;}
.menuArea li {position:relative;}
.menuArea .x {position:absolute;right:0px;top:0px;}

.messageNone {text-align:center;padding: 8px !important;}

div.blankBox {height:25px;display:none;}

ul.addrList {width:100%;}
ul.addrList li {position:relative;height:20px;}
ul.addrList li a.wname {position:absolute;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#666666; top:9px; width:98%;}
ul.addrList li a.name {position:absolute;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#666666; top:9px; left:30px;width:78%;}

/* normal list */
ul.normal_type li {background:url(../image/ic_arrow_link.gif) no-repeat right center; border-bottom:1px solid #dfdfdf}
ul.normal_type li a {display:block; height:100%; padding:10px; font-weight:bold}
ul.normal_type li.reply a {background:url(../image/ic_re.gif) no-repeat left center; padding-left:20px}
ul.normal_type li.last {border-bottom:0}
ul.normal_type li.depth1 a {background-position:15px 13px; padding-left:30px}
ul.normal_type li.depth2 a {background-position:30px 13px; padding-left:45px}
ul.normal_type li.depth3 a {background-position:45px 13px; padding-left:60px}
ul.normal_type li.depth4 a {background-position:60px 13px; padding-left:75px}
ul.normal_type li.depth5 a {background-position:75px 13px; padding-left:90px}
ul.normal_type li.depth6 a {background-position:90px 13px; padding-left:105px}
ul.normal_type li.depth7 a {background-position:105px 13px; padding-left:120px}
ul.normal_type li.depth8 a {background-position:120px 13px; padding-left:135px}
ul.normal_type li.depth9 a {background-position:135px 13px; padding-left:150px}
ul.normal_type li.depth10 a {background-position:150px 13px; padding-left:165px}

/* reply list */
ul.reply_type li {border-bottom:1px solid #dfdfdf}

/* write_form */
table.write_form, table.reserv_info {width:100%; font-weight:bold; table-layout:fixed;}
table.write_form th {padding-left:8px; width:100px; background:#F8F8F8; border-right:1px solid #DFDFDF; text-align:left; height:35px; vertical-align:top; line-height:31px; white-space: nowrap;}
table.write_form td {padding:0 10px; height:35px}
table.write_form td div.ic_area {position:relative}
table.write_form td div.ic_area a {position:absolute; top:-22px; right:0; *right:8px}
table.write_form td.last {padding-bottom:12px}
table.write_form td p.allright {margin-top:4px}
table.write_form tr td ul.direct_list {border:1px solid #DFDFDF; border-bottom:0; margin-top:7px}
table.write_form tr td ul.direct_list li {position:relative; *display:inline-block; padding:8px; background:#F8F8F8; border-bottom:1px solid #DFDFDF}
table.write_form tr td ul.direct_list li a {position:absolute; top:4px; right:5px; display:block}
table.write_form tr td a.reserv_search {text-align:center; margin:10px 0}
table.write_form tr td label.notice {display:inline-block; margin-top:5px}
table.write_form tr td.title {background:#F8F8F8; padding-top:0; padding-bottom:0; height:35px; border-top:1px solid #DFDFDF; border-bottom:1px solid #DFDFDF; text-align:center}
table.write_form tr.space th, table.write_form tr.space td {height:15px}
table.write_form tr td a.btn_reference {margin-left:10px}
table.write_form p.warn {margin:10px 0}
div.text_over{white-space: nowrap; overflow: hidden; text-overflow:ellipsis;width:83%;}
table.tb_date{width:100%}
table.tb_date tr td.btn_calendar_wrap {width:30px; text-align: center;}

div.msg {text-align:center; color:#000; padding:30px 0}
div.msg h5 {margin-bottom:10px}
div.msg h5 span.err {font-size:18px; color:red}
div.msg p.scrip {margin:5px 0; color:#888; line-height:140%; font-size:14px}
div.msg p.simbol {margin-top:-20px}
div.msg p.ok {color:#258ee1; font-size:50px}
div.msg p.error{color:red; font-size:50px}
div.msg div.btn_area {margin-top:15px}
div.msg div.btn_area a {margin-right:2px}
div.msg strong.blue {font-size:18px;color:#258EE1;}
div.msg strong.red {font-size:18px;color:red}

/* border home */
ul.board_home li a span {display:inline-block; background:url(../image/skin/blue/ic_board.gif) no-repeat left 50%; padding-left:20px}
ul.board_home li a span.secret {background:url(../image/skin/blue/ic_board_sec.gif) no-repeat left 50%;}
ul.board_home li a span.any {background:url(../image/skin/blue/ic_board_any.gif) no-repeat left 50%;}
ul.board_home li a span.ic_newContent {display:inline-block; padding:2px 5px; background:#4F81BD; font-size:11px; color:#fff; moz-border-radius: 4px; -webkit-border-radius:4px; border-radius:4px}
ul.board_list li a span.info {display:block; color:#888; font-weight:normal; margin-top:2px}
ul.board_list li a span.file {background:url("../image/icon_file.gif") no-repeat scroll left 60% transparent;padding-left:10px;vertical-align:top;}


/* border list */
ul.board_list li a span.info {display:block; color:#888; font-size:14px; margin-top:2px}

.info_split {padding:5px;border-top:solid 1px #DFDFDF;border-bottom:solid 1px #DFDFDF;}
.popupReadIcon{background:url(../image/ic_popup.gif) no-repeat; width:13px; height:12px;}