body {background:#f2f8fe}

strong.mail_num {color:#0569c0}
div.ts {background:url(../image/skin/blue/bg_ts.gif) repeat-x left top; border-bottom:1px solid #297ece}
div.hh {background:url(../image/skin/blue/bg_hh.gif) repeat-x left top; border-top:1px solid #6aa5e1; border-bottom:1px solid #2b578c}
div.title_box, div.energy, div.address_part {background:url(../image/skin/blue/btn_box_bg.gif) repeat-x; border-top:1px solid #adc6ec; border-bottom:1px solid #adc6ec}
div.title_box_bottom {border-bottom:none !important;}
div.energy strong {color:#0569c0}

input.btn_search {background:url(../image/skin/blue/btn_search.gif) repeat-x right 0}
div.search_area {background:url(../image/skin/blue/search_bg.gif) repeat-x; border-bottom:1px solid #adc6ec}
div.address_search {background:url(../image/skin/blue/btn_box_bg.gif) repeat-x}

/* button */
a.btn1{background:url(../image/skin/blue/btn1.gif) no-repeat left 0; color:#fff}
a.btn1 span {background:url(../image/skin/blue/btn1.gif) no-repeat right 0}
a.btn1 strong {background:url(../image/skin/blue/btn1.gif) no-repeat right 0}
a.btn_dr {background:url(../image/skin/blue/btn_dr.gif) no-repeat right bottom; color:#fff}
a.btn_dr span {color:#ffe400}
div.ts div.btn_l span {display:inline-block; background:url(../image/skin/blue/ic_title.gif) no-repeat left top; padding-left:22px; color:#fff; font-weight:bold}
div.ts div.btn_l span.ic_tit_mail		{background-position:0 2px}
div.ts div.btn_l span.ic_tit_schedule	{background-position:0 -23px}
div.ts div.btn_l span.ic_tit_board		{background-position:0 -48px}
div.ts div.btn_l span.ic_tit_address 	{background-position:0 -78px}