body {
	color:#555555;
	font-family: "돋움",Dotum,"굴림",Gulim,"MS PGothic", "Osaka", Arial,AppleGothic,Sans-serif;
	font-size : 12px;		
	background-color: #ffffff;
}

input, textarea, select {
	font-family: "돋움",Dotum,"굴림",Gulim,"MS PGothic", "Osaka", Arial,AppleGothic,Sans-serif;
	font-size : 12px;		
}