body {
	color:#555555;
	font-family: "MS PGothic","Osaka", "Sans-serif";
	font-size : 12px;		
	background-color: #ffffff;
}

input, textarea, select {
	font-family: "MS PGothic","Osaka", "Sans-serif";
	font-size : 12px;		
}

.jpf {font-size:12px !important;}