body {
	color:#555555;
	font-family: "µ¸¿ò",Dotum,"±¼¸²",Gulim,"MS PGothic", "Osaka", Arial,AppleGothic,Sans-serif;
	font-size : 12px;		
	background-color: #ffffff;
}

input, textarea, select {
	font-family: "µ¸¿ò",Dotum,"±¼¸²",Gulim,"MS PGothic", "Osaka", Arial,AppleGothic,Sans-serif;
	font-size : 12px;		
}