* {margin:0;padding:0;} 
body {
	font-size : 12px;
	color:#666666;
	background:#fff;
	}
img {border : 0px;}
a {color:#666666; text-decoration:none; cursor:pointer;}
a:hover {color:#666666; text-decoration:underline;}
a.link_blue {color:#005fb0}
a.link_blue:hover {color:#005fb0; text-decoration:underline;}
ul{
	list-style: disc !important;
    padding-left: 5px;
}

span.SP_title {
	font-weight:bold; font-size:12px;
	vertical-align:top;
}
table {border-collapse:collapse}

h2 {
	float:left;
	background:url(../image/login/arrow_title.gif) no-repeat 10px 45%;
	height:29px; line-height:29px;
	padding-left:20px;
	font-size:12px; color:#fff;
	}
h4 {
	background:#810000 url(../image/login/arrow_title.gif) no-repeat 7px 50%;
	padding-left:16px;
	height:29px; line-height:29px;
	font-size:12px;
	color:#fff;
	}
div.loginContents {width:762px; margin:10px auto;}
div.login_title {	
	background:#639DCF;
	margin-top:5px;
	height:29px;
	}
p.language {
	float:right;
	margin:4px 4px 0;
	}
div.display {
	border:1px solid #d9d9d9;
	border-top:none;
	}
div.body_bar {
	background:#639DCF;
	margin-top:10px;
	height:2px;
	font-size:0px;
	}
div.login_body .menu_members {
	padding:10px;
}
div.login_body .menu_members span {
	display:inline-block;
	margin-top:5px;
	color:#c4c5c4;
	}
div.login_body form fieldset {border:none; display:block}
div.id_pw {float:left}
.btn_login {float:left}
fieldset .id_pw{margin-right:5px}
.input_ID{
	width:60px; height:19px;
	border:1px solid #bdbebd;
	color:gray;
	}
.input_PW{
	width:60px; height:19px;
	margin-top:5px;
	border:1px solid #bdbebd;
	color:gray;
	}
div.login_body form fieldset select{height:21px; border:1px solid #bdbebd}
div.login_body form fieldset .btn_login{#margin-top:1px}
div.login_body form fieldset .btn_login .btn_area{
	height:27px; line-height:27px;
	margin-top:5px;
	}
div.login_body form fieldset .btn_login .btn_area label{
	margin-left:5px;
   #margin-left:1px;
	}
div.login_body form fieldset .btn_login .btn_area label span{
	margin-left:3px;
   #margin-left:1px;
	}
div.login_body .s_help {
	padding:6px 12px 6px 12px;
}
div.login_body .s_help .title{
	background:url(../image/login/icon_ques.gif) no-repeat left 0;
	vertical-align:top;
	padding-left:18px;
	color:#474747; font-weight:bold;
	}
div.login_body .s_help .contents{
	margin-top:5px;
	line-height:150%;
	}
div.login_body div.news{
	float:left;
	width:229px; height:198px;
	border-right:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	overflow:hidden;
	text-overflow:ellipsis;
	}
div.login_body div.news div.title {
	background:#f3f4f3;
	height:27px; line-height:27px;
	border-bottom:1px solid #d9d9d9;
	}
div.login_body div.news div.title h3{
	float:left;
	background:url(../image/login/icon_arrow.gif) no-repeat 5px 50%;
	padding-left:21px;
	font-size:12px; color:#474747;
	}
div.login_body div.news div.title p.more{
	float:right;
	background:url(../image/login/icon_more.gif) no-repeat right 50%;
	padding-right:7px;
	margin-right:5px;
	}	
div.login_body div.news ul.list{
	margin:8px 0 0 10px;
	line-height:200%;
	overflow:hidden;
	text-overflow:ellipsis;
	margin-right:10px
	}
div.login_body div.news ul.list li{
	overflow:hidden;
	text-overflow:ellipsis;
	}
div.login_body div.news ul.list li.FAQ {
	background:url(../image/login/icon_Q.gif) no-repeat left 50%;	
	padding-left:15px;
	}
div.login_body div.FAQ {
	float:left;
	width:254px; height:198px;
	border-right:1px solid red;
	border-bottom:1px solid red;
	}
div.copyright .helpdesk {
	float:left;
	margin-top:5px;
	}
	
div.copyright .help {
	float:right;
	margin-top:5px;
	}
	
div.p_realName {width:276px}
table.TB_login_popup {width:100%;}
table.TB_login_popup th {
	background:#F4F4F4;
	width:90px; height:29px;
	padding:0 10px;
	border-bottom:1px solid #D9D9D9; border-right:1px solid #D9D9D9;
	color:#474747; font-weight:bold; text-align:left;
	} 
table.TB_login_popup td {
	padding-left:8px;
	border-bottom:1px solid #d9d9d9;
	}
div.btn_area {
	margin:10px 0;
	text-align:center;
	}

div.overlap {width:300px}
div.overlap_info {
	background:#f4f4f4;
	padding:8px 0;
	border-bottom:1px solid #d9d9d9;
	line-height:180%;
	text-align:center;
	}
div.overlap .overlap_title {color:#000; font-weight:bold}
div.overlap .overlap_id {color:blue; font-weight:bold}
div.overlap .ID_search {
	padding:5px 0;
	}
div.overlap .ID_search a {
	vertical-align:top;
	
	}

div.members {width:600px}
table.TB_members {width:100%}
table.TB_members th {
	background:#F4F4F4;
	width:130px; height:29px;
	padding:0 10px;
	border-bottom:1px solid #D9D9D9; border-right:1px solid #D9D9D9;
	color:#474747; font-weight:bold; text-align:left;
	} 
table.TB_members td {
	padding-left:8px;
	border-bottom:1px solid #d9d9d9;
	}
table.TB_members a.btn_addrssSearch {vertical-align:top}

div.popup_news {width:400px}
div.popup_news th{
	margin:0; padding:0;
	border:none;
	border-bottom:1px solid #d9d9d9;
	text-align:center;
	}
div.popup_news td {margin:0; padding:0; height:24px}
div.popup_news th.num {width:50px;}
div.popup_news th.title {width:300px;}
div.popup_news th.date {width:80px;}
div.popup_news td.num {text-align:center}
div.popup_news td.date {text-align:center}

div.popup_news_view {width:400px}
div.popup_news_view table.TB_news_view {width:100%}
div.popup_news_view table th {
	text-align:left;
	height:24px;
	background:#F4F4F4;
	border-bottom:1px solid #D9D9D9;
	padding-left:10px;
	}
div.popup_news_view table td {
	padding:10px;
	border-bottom:1px solid #D9D9D9;
	}


div.pageNum {
	margin:10px 0;
	text-align:center;
	}
div.pageNum span.part {color:#bcbcbc}
div.pageNum a.cho_num {color:#000; font-weight:bold; padding-left:5px}
div.pageNum a.last_num {padding-right:5px}

/********** INPUT ZONE **********/
input {border:1px solid #BEBEBE; height:18px;}
input.IP_iden {width:66px}
input.IP_post {width:50px}
input.IP_addr {width:140px; margin:5px 0; color:#787878}
input.IP_addr2 {width:432px; margin-bottom:5px; color:#787878}
input.IP_search {width:130px}
input.IP_pwSearch {width:303px}

.checkBox {
	margin-top:5px;
	border:none;
}
/********** BTN ZONE **********/
a.btn_login {
	display:inline-block;
	background:url(../image/login/btn_login_l.gif) repeat-x left 0;
	height:21px; line-height:21px;	
	font-weight:bold; text-decoration:none;
	text-align: center;	
	}
a.btn_login:hover {text-decoration:none;}
a.btn_login span {
	display:inline-block;
	background:url(../image/login/btn_login_r.gif) no-repeat right 0;
	width:100px;
	text-align: center;
	}
a.btn_prev {
	display:inline-block;
	background:url(../image/login/btn_prev.gif) no-repeat left 0;
	width:14px; height:14px;
	vertical-align:top;
	margin-top:1px;
	}
a.btn_next {
	display:inline-block;
	background:url(../image/login/btn_next.gif) no-repeat left 0;
	width:14px; height:14px;
	vertical-align:top;
	margin-top:1px;
	}
	
.noticeCotent {
	position: absolute;
	padding:0px; 
	margin:0px; 
	width:250px; 
	height:44px;
	background-color:#ffffff;
	border:1px solid #D9D9D9;
}

.div_scroll {
	overflow-X:hidden;
	overflow-Y:auto;
	scrollbar-face-color:#ffffff;
	scrollbar-shadow-color:#d2e5f4;
	scrollbar-highlight-color:#d2e5f4;
	scrollbar-3dlight-color:#ffffff;
	scrollbar-darkshadow-color:#ffffff;
	scrollbar-track-color:#ffffff;
	scrollbar-arrow-color:#d2e5f4;
	padding-left: 25px;
}

table.TB_multiTable {
	width:100%;
}

.TB_multiTable th {
	background:#F3F4F3 none repeat scroll 0 0;
	border-right:1px solid #D9D9D9;
	border-bottom:1px solid #D9D9D9;
	height:27px;
	line-height:27px;
}

.TB_multiTable td {
	border-bottom:1px solid #D9D9D9;
	border-right:1px solid #D9D9D9;
	height:27px;
	line-height:27px;
	padding:0px 5px;
}

.TB_multiTable tr.last td{
	border-bottom:0px solid #D9D9D9;
}

.TB_multiTable th.last {
	border-right:0px solid #D9D9D9;
}

.TB_multiTable td.last {
	border-right:0px solid #D9D9D9;
}

.loginBody {
	background:#F3F4F3 none repeat scroll 0 0;
	border-left:1px solid #D9D9D9;
	border-bottom:1px solid #D9D9D9;
	width:300px !important;
}

.optionArea {	
	padding-bottom:10px;
	border-bottom:1px solid #e8e8e8;
	text-align: center;
}

.pkiLoginPane{
	height:85px;padding-top:30px;text-align: center;	
}

.pkiLoginBtn{
	height:60px;
	position: relative;
}

.optionLoginOn{
	cursor:pointer;
	float:left;
	padding:5px 5px 5px 5px;
	height:19px;
	background:#F3F4F3;
	border-top:#D9D9D9 solid 1px;
	border-left:#D9D9D9 solid 1px;
	border-right:#D9D9D9 solid 1px;
}

.optionLoginOff{
	cursor:pointer;
	float:left;
	padding:5px 4px 4px 4px;
	height:18px;
	background:#E9F8FF;
	border-top:#D9D9D9 solid 1px;
	border-left:#D9D9D9 solid 1px;
	border-right:#D9D9D9 solid 1px;
}

a.btn_login_pki {
	display:inline-block;
	background:url(../image/style1/2191c0_500x100_textures_12_gloss_wave_75.png) no-repeat center;
	height:40px; line-height:40px;	
	color:#FFFFFF; font-weight:bold;text-decoration:none;
	text-align: center;
	border:#0373D8 solid 2px;
	position: relative;
	}
a.btn_login_pki:hover {text-decoration:none;}
a.btn_login_pki span {
	display:inline-block;
	width:200px;
	text-align: center;
	}