table.TB_mailHome tr.TR_firstLine {}
table.TB_mailHome td.TD_part1 {width:250px; vertical-align:top;white-space: nowrap;}
table.TB_mailHome td.TD_part2 {width:100%; vertical-align:top}
table.TB_mailHome td.TD_part3 {width:250px; vertical-align:top;white-space: nowrap;}
table.TB_mailHome td.TD_part4 {width:100%; vertical-align:top}
table.TB_mailHome td.blank {height:8px; width:8px; font-size:22px;}

.TM_m_contentHomeMain {				/* Top nested in right pane */
	background: transparent;
	/*height: 150px;*/		/* Initial height */
	/*min-height: 75px;*/	/* Minimum height */
	overflow:auto ;	
}

.portlet_intro_body{		
	border-bottom:1px solid #ABABAB;
	border-left:1px solid #C5C5C5;
	border-right:1px solid #ABABAB;	
	background:#ffffff;
	min-height: 450px;
}


div.subPortletWrapper{
}

div.roundTitle {	
	background:url(/design/common/image/portlet/roundTitle_left.gif) repeat-x;
	height:29px; line-height:29px;
	position:relative;
	}
div.roundTitle p {height:100%; vertical-align:top; line-height:29px; background:url(../image/portlet/roundTitle_right.gif) no-repeat right top}
div.roundTitle span.title {
	display:inline-block;
	font-weight:bold; margin-left:8px; vertical-align:top; line-height: 30px;
	height: 30px;
	padding-left:23px;
	background:transparent url(/design/common/image/icon/ic_arrow_title.gif) no-repeat scroll 6px 45%;}
div.mailHome_calendar div.roundTitle span.title {
	background:transparent none no-repeat scroll 0 0;
	height:30px;
	margin:0;
	padding-left:0;
}
div.roundTitle a.btn_style5{
	position:absolute;
	top:0; right:0;
	margin-top:4px; margin-right:5px;
	}
	
a.btn_style5 {
	display:inline-block;
	background:url(/design/common/image/btn/btn_style5_left.gif) repeat-x;
	height:21px; line-height:21px;
	padding-left:5px;
	}
a.btn_style5 span {
	display:inline-block;
	background:url(/design/common/image/btn/btn_style5_right.gif) no-repeat right 0;
	height:21px; line-height:21px;
	padding-right:5px;
	cursor:pointer;
	}
a.btn_style5:hover {background:url(../image/btn/btn_style5_hover_left.gif) repeat-x; text-decoration:none}
a.btn_style5 span:hover {	background:url(../image/btn/btn_style5_hover_right.gif) no-repeat right}
a.btn_style5:active {background:url(../image/btn/btn_style5_active_left.gif) repeat-x}
a.btn_style5 span:active {background:url(../image/btn/btn_style5_active_right.gif) no-repeat right}

.portlet_body{
	height:210px;
	border-bottom:1px solid #ABABAB;
	border-left:1px solid #C5C5C5;
	border-right:1px solid #ABABAB;	
	background:#ffffff;
}

.mail_title {
	background:url(/design/common/image/icon/icon_mail.gif) no-repeat left 30%;
	padding-left:19px; margin-top:7px;
	}
	
div.bar {
	background:url(/design/common/image/portlet/mailHome_graph.gif);
	border-left:1px solid #c5c5c5; border-right:1px solid #c5c5c5;
	width:98%; height:17px;
	margin-top:7px;
	position:relative;
	}
	
div.bar_used {	
	position:absolute;
	top:4px;
	left:0;
	background:url(/design/common/image/portlet/mailHome_graph_bg.gif) repeat-x 0 0;
	width:0%;
	height:11px;
	}
li.graph div.num span {display:inline-block}
li.graph div.num span.num0 {text-align:left}
li.graph div.num span.num50 {text-align:right; width:50%;margin-left:-20px;position: relative;}
li.graph div.num span.num100 {text-align:right; width:50%;margin-left:-10px}

li.ment {
	background:url(/design/common/image/icon/icon_dot.gif) no-repeat left 50%;
	padding-left:5px; margin-top:7px;
	}
li.dot {
	background:transparent url(/design/common/image/icon/icon_dot.gif) no-repeat scroll left 50%;
	margin-bottom:7px;
	padding-left:6px;
}	

strong.blue {
	color:#0072FF;
}

.dotLine {
	background:url(/design/common/image/dotLine.gif) repeat-x 50%;
	height:10px; margin-right:10px;
}

.dotLineH {
	background:url(/design/common/image/dotLine.gif) repeat-x 50%;
	height:10px; margin-right:10px;
}

div.mailFirst_menu div.dotLineH {
	margin:15px 10px 7px 0;
}


/********************************Calendar*********************************/
div.mailHome_calendar {
	position:relative;
	float:left;
	width:100%; 
	height:100%;
	}
div.mailHome_calendar p.calendar_date {text-align:center; vertical-align:top}
table.calendar_s_day {
	background:#ffffff;
	height:210px;
	}
div.calendar {
	border-left:1px solid #c5c5c5; 
	border-right:1px solid #ababab; 
	border-bottom:1px solid #ababab;
	height:210px;
	}
div.calendar table.calendar_s_day th {
	height:26px;
	border-bottom:1px solid #E5E5E5; 
	border-right:1px solid #E5E5E5;
	color:#A1A1A1; 
	font-size:10px;
	}
div.calendar table.calendar_s_day td {}
table.calendar_s_day td:hover {
	background:#F1F1F1 none repeat scroll 0 0;
}
p.calendar_date a.prev{
	display:inline-block;
	background:url(/design/common/image/btn/btn_calendar_s_link_left.gif) no-repeat 0 0;
	width:17px; 
	height:19px;
	margin-top:5px;
	}
p.calendar_date a.prev:hover {
	background:transparent url(/design/common/image/btn/btn_calendar_s_hover_left.gif) no-repeat scroll 0 0;
}
p.calendar_date a.next {
	display:inline-block;
	background:url(/design/common/image/btn/btn_calendar_s_link_right.gif) no-repeat 0 0;
	width:17px; 
	height:19px;	
	}
p.calendar_date a.next:hover {
	background:transparent url(/design/common/image/btn/btn_calendar_s_hover_right.gif) no-repeat scroll 0 0;
}
.calendar_s_day {
	border-collapse:collapse;
	text-align:center;
	width:100%;
}
.calendar_s_day tr.title {
	background:#F1F1F1 none repeat scroll 0 0;
}
div.calendar table.calendar_s_day th {
	border-bottom:1px solid #E5E5E5;
	border-right:1px solid #E5E5E5;
	color:#A1A1A1;
	font-size:10px;
	height:26px;
}
div.calendar table.calendar_s_day td {
	border-bottom:1px solid #E5E5E5;
	border-right:1px solid #E5E5E5;
	font-size:11px;
	width:14%;
}
.calendar_s_day td.sunday {
	width:15%;
	background:#FFFDF4 none repeat scroll 0 0;
}
.calendar_s_day td.sunday a {
	color:#FF714D;
}
.calendar_s_day td.saturay {
	border-right:medium none;
	width:50%;
}
.calendar_s_day td.saturay a {
	color:#5A94C5;
}

.calendar_s_day td.prevNext a{color:#DCDCDC;}

.calendar_s_day td a {
	display:inline-block;
	height:28px;
	line-height:28px;
	width:100%;
}

.calendar_s_day a.ok {
	color:#000000;
	font-weight:bold;
	text-decoration:underline;
}

.calendar_s_day td.today:hover {
	background:#F1F1F1 none repeat scroll 0 0;
}
.calendar_s_day td.today {
	background:#E6F3FF none repeat scroll 0 0;
}

a.btn_today {
	position:absolute;
	top:0; right:0;
	display:inline-block;
	background:url(/design/common/image/btn/btn_today.gif) no-repeat 0;
	width:62px;
	padding-right:10px;
	text-indent:-3000px;
	}

table.m_contentTable{
	padding:2px;
}

/********************************Calendar*********************************/


/******************************** Mail *********************************/
.TM_portlet_messageList{
	width:100%;*width:;	
	table-layout: fixed;
	font-size: 12px;
}

.TM_portlet_messageList th {
	margin : 0px;
	text-align: center;
	height: 27px;
	font-weight: normal;
	color:#505050;	
	border-bottom:#C6C6C6 solid 1px;
	background: url("/default/image/bg_mail_list_header.gif");
}

.TM_unseenLow a {
	color :#000000;
	text-decoration: none;
	font-weight: bold;
}
.TM_mailLow a {
	color :#000000;
	text-decoration: none;	
}


.TM_portlet_messageList td {
	margin : 0px;
	text-align: center;
	height: 25px;
	font-weight: normal;
	color:#888888;
	border-bottom:#C6D2E8 solid 1px;
}

.TM_portlet_messageList .TM_list_from{text-align: left; white-space: nowrap; overflow:hidden;text-overflow:ellipsis;}
.TM_portlet_messageList .TM_list_folderName{text-align: center; white-space: nowrap; overflow:hidden;text-overflow:ellipsis;}
.TM_portlet_messageList .TM_list_subject{text-align: left; white-space: nowrap; padding-left:10px; overflow:hidden;text-overflow:ellipsis;}

/******************************** Mail *********************************/

/******************************** Notice *********************************/
.notice_portlet_body{	
	line-height:160%;
	margin:8px 10px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
/******************************** Notice *********************************/

/******************************** Quota *********************************/
.quota_portlet_body{	
	padding-left:5px;
	padding-top:5px;
}
/******************************** Quota *********************************/

/******************************** todaySchedule *********************************/
.anniversary_index{
	background:#F7F7F7 url(/design/common/image/icon/ic_anniversary.png) no-repeat center;
	border-right:#E8E8E8 solid 1px;	
}
.anniversary_content {
	color:#FF3F00;
}

.TM_portlet_todayList .cnt{	
	color:#888888;
	background:#F7F7F7;
	text-align:center;
	font-size: 11px;
	border-right:#E8E8E8 solid 1px;	
}

.TM_portlet_todayList .date{	
	color:#727272;
	font-size: 11px;
	padding-right:7px;	
}

.TM_portlet_todayList{
	width:100%;*width:;	
	table-layout: fixed;
	font-size: 12px;
}

.TM_portlet_todayList td {
	margin : 0px;
	text-align: center;
	height: 25px;
	font-weight: normal;
	font-size:11px;
	color:#888888;
	border-bottom:#E8E8E8 solid 1px;
}
.TM_portlet_todayList tr:hover {
	background: #F4F9FD;
}
.TM_portlet_todayList .TM_schedule_title{text-align: left; white-space: nowrap; padding-left:10px; overflow:hidden;text-overflow:ellipsis;}
/******************************** Quota *********************************/